<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

        <!-- Styles -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">

        <!-- Js -->
        <script src="assets/js/jquery-3.4.1.min.js"></script>
        <script src="assets/js/jquery.nicescroll.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap-datetimepicker.min.js"></script>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>

        <link id="favicon" rel="icon" type="image/png" sizes="64x64" href="assets/images/Fav-Logo.png">
    </head>

    <body>
        <%- toasts %>
        <div class="container-fluid sp-wrapper">
            <div class="fp-left-sec col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <div class="caption-text-container">
                Cutting Edge Genetic Sequencing Is Saving Lives
            </div>

        </div>
        <div class="fp-right-sec col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-form-container">
                <div class="sp-form-logo">
                    <img src="assets/images/Logo.png">
                </div>
                    <h2 class="sp-form-heading">Login</h2>

                    <div class="row">
                        <form action="/api/v1/login" method="post">
                            <div class="form-container col-md-12">
                                <div class="form-group user-input">
                                    <label for="" class="form-label"></label>
                                    <input type="text" class="form-control" name="username" placeholder="Username" required>
                                </div>
                                <div class="form-group password-input">
                                    <label for="" class="form-label"></label>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                                    <span id="password-show"></span>
                                </div>
                                <div class="form-group">
                                    <a class="forgot-password" href="/forgotpassword">Forgot Password?</a>
                                </div>
                                <div class="form-submit action-block">
                                    <button class="btn btn-nrml">Sign In</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const showPassword = document.querySelector("#password-show");
            showPassword.addEventListener('click', e => {
                showPass();
            });

            function showPass() {
                var x = document.getElementById("password");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }

        </script>
    </body>

</html>
