<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
  <section class="content-section">
    <h2 class="content-header">Edit Laboratory</h2>
    <div class="content-inner-section">
        <h2 class="inner-content-header">Basic Information</h2>
        <div class="form-wrapper">
            <form id="labEdit" onsubmit="onSubmit(event)"  autocomplete="off">
                <div class="row">
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-4 col-form-label">Laboratory name<span class="astrix-sym">*</span></label>
                            <input type="text" class="form-control col-sm-8" name="labName" placeholder="Laboratory name" value="<%=data.labName%>" required/>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-4 col-form-label">Name of Contact<span class="astrix-sym">*</span></label>
                            <input type="text" class="form-control col-sm-8" name="nameOfContact" placeholder="Name of Contact" value="<%=data.nameOfContact%>" required/>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-4 col-form-label">Service Offered<span class="astrix-sym">*</span></label>
                            <input type="text" class="form-control col-sm-8" name="offeredService" placeholder="Service Offered" value="<%=data.offeredService%>" required/>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-4 col-form-label">Email Address<span class="astrix-sym">*</span></label>
                            <input type="email" class="form-control col-sm-8" pattern="^([0-9]{9})|([A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3})$" name="email" placeholder="Email Address" value="<%=data.email%>" required/>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row textarea-group">
                            <label class="col-sm-4 col-form-label">Street Address<span class="astrix-sym">*</span></label>
                            <textarea class="form-control col-sm-8" row="4" name="address" required><%=data.address%></textarea>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">Phone Number<span class="astrix-sym">*</span></label>
                                <input type="text" id="phoneNo" class="form-control col-sm-8" name="phoneNo" placeholder="Phone Number" value="<%=data.phoneNo%>" required/>
                            </div>
                        </div>
                        <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">Fax Number<span class="astrix-sym">*</span></label>
                                <input type="text" id="fax_no" class="form-control col-sm-8" name="FaxNo" placeholder="Fax Number" value="<%=data.FaxNo%>" required/>
                            </div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-4 col-form-label">City<span class="astrix-sym">*</span></label>
                            <!-- <select class="form-control col-sm-8">
                                <option>New York</option>
                            </select> -->
                            <input type="text" class="form-control col-sm-8" name="city" placeholder="City" value="<%=data.city%>" required/>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-4 col-form-label">State<span class="astrix-sym">*</span></label>
                            <select class="form-control col-sm-8" name="state" required/>
                                <%states.forEach(function(item){%>
                                    <option <%=data.state == item ? 'selected': ''%>><%=item%></option>
                                <%})%>
                            </select>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-4 col-form-label">Zip Code<span class="astrix-sym">*</span></label>
                            <input type="text" id="zipcode" minlength="5" class="form-control col-sm-8" name="zipcode" placeholder="Zip Code" value="<%=data.zipcode%>" required/>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-4 col-form-label">CLIA Number<span class="astrix-sym">*</span></label>
                            <input id="clinNo" type="text" class="form-control col-sm-8" name="clinNo" placeholder="CLIA Number" value="<%=data.clinNo%>" required/>
                        </div>
                    </div>

                    <div class="action-block col-12">
                        <a href="/lab/list/<%=params.page%>" class="btn nrml-btn cancel">Cancel</a>
                        <button class="btn nrml-btn save">Update</button>
                    </div>
                </div>
            </form>   
        </div>
    </div>
  </section>
</div>


<%- include('../../layouts/footer.ejs') %>

<script>
    $('#zipcode').mask('00000-0000');
    $('#phoneNo').mask('000-000-0000', {clearIfNotMatch: true});
    $('#fax_no').mask('000-000-0000', {clearIfNotMatch: true});
    $('#clinNo').mask('AAAAAAAAAA',{translation:  {'A': {pattern: /[áéíóúñüàèa-zA-Z0-9\s]/, clearIfNotMatch: true, recursive: true}}});

    function onSubmit(e) {
        e.preventDefault();
        var data = $('#labEdit').serializeJSON();
        data['id'] = "<%=data.id%>";
        console.log("e ==>onSubmit", data);
        // return false;
        axios.post('/api/v1/update/lab', data).then(resp=> {
            var data = resp.data;
            console.log("data ", data);
            toastr.success(data.msg, "Success");
            setTimeout(function() {
                location.href ='/lab/list/<%=params.page%>';
            }, 1000);
        }).catch(err=> {
            var err = err.response.data;
            console.log("err ", err);
            toastr.warning(err.msg ? err.msg: "Something went wrong", "Error");
        })
    }
</script>