<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
    <section class="content-section">
        <h2 class="content-header">Add New Genetix Employee</h2>
        <div class="content-inner-section">
            <h2 class="inner-content-header">Basic Information</h2>
            <div class="form-wrapper">
                <form action="/api/v1/add/employee" method="post" autocomplete="off">
                    <div class="row">
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">Employee Name<span class="astrix-sym">*</span></label>
                                <input type="text" class="form-control col-sm-8" oninvalid="this.setCustomValidity('Kindly enter only alphabets')" oninput="this.setCustomValidity('')" pattern="[A-Za-z\s]+" name="fullName" placeholder="" value="" required>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">Employee Number<span class="astrix-sym">*</span></label>
                                <input type="text" class="form-control col-sm-8" name="employeeNo" value="" placeholder="" required>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">Mobile Number<span class="astrix-sym">*</span></label>
                                <input type="text" class="form-control col-sm-8" name="phoneNo" id="phoneNo" placeholder="" value="" required>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">Email Address<span class="astrix-sym">*</span></label>
                                <input type="email" class="form-control col-sm-8" pattern="^([0-9]{9})|([A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3})$" name="email" placeholder="Email Address" value="" required>
                            </div>
                        </div>
                        <!-- <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">DOB</label>
                                <div class="datepicker">
                                <input type="text" class="form-control" id="datepicker1" name="dob" placeholder="Date">
                                </div>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">Gender</label>
                                <div class="custom-checkbox ">
                                <div class="checkbox-block">
                                    <input id="radio-1" class="radio-type" type="radio" name="gender" value="male">
                                    <label for="radio-1">Male</label>
                                </div>
                                <div class="checkbox-block">
                                    <input id="radio-2" class="radio-type" type="radio" name="gender" value="female">
                                    <label for="radio-2">Female</label>
                                </div>
                                <div class="checkbox-block">
                                    <input id="radio-3" class="radio-type" type="radio" name="gender" value="others">
                                    <label for="radio-3">Others</label>
                                </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row textarea-group">
                                <label class="col-sm-4 col-form-label">Street Address<span class="astrix-sym">*</span></label>
                                <textarea class="form-control col-sm-8" row="4" name="streetAddress" required></textarea>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">City<span class="astrix-sym">*</span></label>
                                <input type="text" class="form-control col-sm-8" name="city" placeholder="City" value="" required>
                            </div>
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">State<span class="astrix-sym">*</span></label>
                                <!-- <input type="text" class="form-control col-sm-8" name="state" placeholder="State" value="" required> -->
                                <select class="form-control col-sm-8" name="state" required>
                                    <option value="">Select State</option>
                                    <%states.forEach(function(item){%>
                                        <option><%=item%></option>
                                    <%})%>
                                </select>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">Zip Code<span class="astrix-sym">*</span></label>
                                <input type="text" id="zipcode" minlength="5" class="form-control col-sm-8" name="zipcode" placeholder="" value="" required>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">User Name<span class="astrix-sym">*</span></label>
                                <input type="text" class="form-control col-sm-8" name="userName" placeholder="" value="" required>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">Status<span class="astrix-sym">*</span></label>
                                <select class="form-control col-sm-8" name="status" required>
                                    <option value="">Select Status</option>
                                    <option value="true">Active</option>
                                    <option value="false">Inactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">Permission<span class="astrix-sym">*</span></label>
                                <select class="form-control col-sm-8" name="permission" required>
                                    <option value="">Select Permission</option>
                                    <option value="canedit">Can Edit</option>
                                    <option value="canview">Can View</option>
                                </select>
                            </div>
                        </div>
                        <div class="action-block col-12">
                            <button type="button" onclick="window.history.back();" class="btn nrml-btn cancel">Cancel</button>
                            <button class="btn nrml-btn save">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<%- include('../../layouts/footer.ejs') %>

<script>
    $('#datepicker1').datepicker({autoclose: true,todayHighlight: true,format: 'mm/dd/yyyy',endDate: new Date()});
    $('#zipcode').mask('00000-0000');
    $('#phoneNo').mask('000-000-0000', {clearIfNotMatch: true});
</script>