<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
    <section class="content-section">
        <h2 class="content-header">Edit Genetix Employee</h2>
        <div class="content-inner-section">
            <h2 class="inner-content-header">Basic Information</h2>
            <div class="form-wrapper">
                <form onsubmit="onSubmit(event)" id="employeeForm" autocomplete="off">
                    <div class="row">
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">Employee Name<span class="astrix-sym">*</span></label>
                                <input type="text" class="form-control col-sm-8" oninvalid="this.setCustomValidity('Kindly enter only alphabets')" oninput="this.setCustomValidity('')" pattern="[A-Za-z\s]+" name="fullName" placeholder="" value="<%=data.fullName%>" required>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">Employee Number<span class="astrix-sym">*</span></label>
                                <input type="text" class="form-control col-sm-8" name="employeeNo" value="<%=data.employeeNo%>" placeholder="" required>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">Mobile Number<span class="astrix-sym">*</span></label>
                                <input type="text" class="form-control col-sm-8" name="phoneNo" id="phoneNo" placeholder="" value="<%=data.phoneNo%>" required>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">Email Address<span class="astrix-sym">*</span></label>
                                <input type="email" class="form-control col-sm-8" pattern="^([0-9]{9})|([A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3})$" name="email" placeholder="Email Address" value="<%=data.email%>" required>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row textarea-group">
                                <label class="col-sm-4 col-form-label">Street Address<span class="astrix-sym">*</span></label>
                                <textarea class="form-control col-sm-8" row="4" name="streetAddress" required><%=data.streetAddress%></textarea>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">City<span class="astrix-sym">*</span></label>
                                <input type="text" class="form-control col-sm-8" name="city" placeholder="City" value="<%=data.city%>" required>
                            </div>
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">State<span class="astrix-sym">*</span></label>
                                <!-- <input type="text" class="form-control col-sm-8" name="state" placeholder="State" value="" required> -->
                                <select class="form-control col-sm-8" name="state">
                                    <option value="">Select State</option>
                                    <%states.forEach(function(item){%>
                                        <option <%=data.state == item ? 'selected': ''%>><%=item%></option>
                                    <%})%>
                                </select>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">Zip Code<span class="astrix-sym">*</span></label>
                                <input type="text" id="zipcode" minlength="5" class="form-control col-sm-8" name="zipcode" placeholder="" value="<%=data.zipcode%>" required>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">User Name<span class="astrix-sym">*</span></label>
                                <input type="text" class="form-control col-sm-8" name="userName" placeholder="" value="<%=data.userName%>" readonly required>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">Status<span class="astrix-sym">*</span></label>
                                <select class="form-control col-sm-8" name="status" required>
                                    <option value="">Select Status</option>
                                    <option <%=data.status == true ? 'selected': ''%> value="true">Active</option>
                                    <option <%=data.status == false ? 'selected': ''%> value="false">Inactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-4 col-form-label">Permission<span class="astrix-sym">*</span></label>
                                <select class="form-control col-sm-8" name="permission" required>
                                    <option value="">Select Permission</option>
                                    <option <%=data.permission == 'canedit' ? 'selected': ''%> value="canedit">Can Edit</option>
                                    <option <%=data.permission == 'canview' ? 'selected': ''%> value="canview">Can View</option>
                                </select>
                            </div>
                        </div>
                        <div class="action-block col-12">
                            <a href="/employee/list/<%=params.page%>" class="btn nrml-btn cancel">Cancel</a>
                            <button class="btn nrml-btn save">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<%- include('../../layouts/footer.ejs') %>

<script>
    $('#datepicker1').datepicker({autoclose: true,todayHighlight: true,format: 'mm/dd/yyyy',endDate: new Date()});
    $('#zipcode').mask('00000-0000');
    $('#phoneNo').mask('000-000-0000', {clearIfNotMatch: true});

    function onSubmit(e) {
        e.preventDefault();
        var data = $('#employeeForm').serializeJSON();
        data['id'] = "<%=data.id%>";
        console.log("e ==>onSubmit", data);
        // return false;
        axios.post('/api/v1/update/employee', data).then(resp=> {
            var data = resp.data;
            console.log("data ", data);
            toastr.success(data.msg, "Success");
            setTimeout(function() {
                location.href ='/employee/list/<%=params.page%>';
            }, 1000);
        }).catch(err=> {
            var err = err.response.data;
            console.log("err ", err);
            toastr.warning(err.msg ? err.msg: "Something went wrong", "Error");
        })
    }
</script>