<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
    <section class="content-section">
        <h2 class="content-header">Genetix Employee Detail</h2>
        <div class="content-inner-section">
            <h2 class="inner-content-header">Basic Information</h2>
            <div class="form-wrapper">
                <div class="row">
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Full Name</label>
                            <div class="data-display col-sm-7"><%=data.fullName%></div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Employee Number</label>
                            <div class="data-display col-sm-7"><%=data.employeeNo%></div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Mobile Number</label>
                            <div class="data-display col-sm-7"><%=data.phoneNo%></div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Email Address</label>
                            <div class="data-display col-sm-7"><%=data.email%></div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">User Name</label>
                            <div class="data-display col-sm-7"><%=data.userName%></div>
                        </div>
                    </div>
                    
                   
                   
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 textarea-group">
                        <div class="form-group form-row textarea-group">
                            <label class="col-sm-5 col-form-label">Street Address</label>
                            <div class="data-display col-sm-7"><%=data.streetAddress%>.</div>
                            </textarea>
                        </div>
                    </div>
                    <div class="form-inline col-xl-8 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">City</label>
                                <div class="data-display col-sm-7"><%=data.city%></div>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">State</label>
                                <div class="data-display col-sm-7"><%=data.state%></div>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">Zip Code</label>
                                <div class="data-display col-sm-7"><%=data.zipcode%></div>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">Status</label>
                                <div class="data-display col-sm-7"><span class="status-textactive"><%=data.status == true ? 'Active': 'Inactive'%></span></div>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">Role</label>
                                <div class="data-display col-sm-7"><%=data.permission%></div>
                            </div>
                        </div>
                    </div>
                   

                    <div class="action-block col-12">
                        <button onclick="window.history.back();" class="btn nrml-btn cancel">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include('../../layouts/footer.ejs') %>