<%- include('../../layouts/header.ejs') %>
<div class="content-wrapper-main">
  <section class="content-section">
    <h2 class="content-header">Profile</h2>
    <div class="content-inner-section">
      <div class="profile-display-block edit">
        <div class="profile-details-section">
          <div class="prolife-img-holder">
            <img id="profile_img" src="/assets/images/profile-display-1.png">
          </div>
          <div class="profile-info-display">
            <p class="profile-name"><%=session.name%></p>
            <p class="profile-role"><%=session.role%></p>
            <div class="action-block">
              <button class="btn btn-nrml remove" onclick="removeimage()" >Remove</button>
              <!-- <button class="btn btn-nrml browse">Browse</button> -->
              <button class="btn btn-nrml browse" > Browse <input id="imgInp" type="file"></button>
              <!-- <input type="file" id="imgInp" class="btn btn-nrml browse"> -->
            </div>
          </div>
          <div class="profile-edit-block">
            <div class="action-block">
              <button class="btn btn-nrml edit">Edit Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="content-inner-section">
        <% if (currentRoute == '/profile/edit') { %>
          <h2 class="inner-content-header">Basic Detail</h2>
          <form action="/api/v1/update/profile" method="post" autocomplete="off">
            <div class="form-wrapper">
              <div class="row">
                <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                  <div class="form-group form-row">
                    <label class="col-sm-4 col-form-label">Name<span class="astrix-sym">*</span></label>
                    <input type="text" class="form-control col-sm-8" placeholder="Name" name="fullName" value="<%=user.fullName%>" required>
                  </div>
                </div>
                <!-- <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                  <div class="form-group form-row">
                    <label class="col-sm-4 col-form-label">DOB</label>
                    <div class="datepicker">
                      <input type="text" class="form-control" id="datepicker1" name="dob" value="<%= moment(user.dob).format('MM/DD/YYYY')%>" placeholder="Date">
                    </div>
                  </div>
                </div>
                <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                  <div class="form-group form-row">
                    <label class="col-sm-4 col-form-label">Gender</label>
                    <div class="custom-checkbox ">
                      <div class="checkbox-block">
                        <input id="radio-1" class="radio-type" type="radio" name="gender" value="male" <%= user.gender == 'male' ? 'checked': ''%> >
                        <label for="radio-1">Male</label>
                      </div>
                      <div class="checkbox-block">
                        <input id="radio-2" class="radio-type" type="radio" name="gender" value="female" <%= user.gender == 'female' ? 'checked': ''%> >
                        <label for="radio-2">Female</label>
                      </div>
                      <div class="checkbox-block">
                        <input id="radio-3" class="radio-type" type="radio" name="gender" value="others" <%= user.gender == 'others' ? 'checked' : ''%> >
                        <label for="radio-3">Others</label>
                      </div>
                    </div>
                  </div>
                </div> -->
                <!-- <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                  <div class="form-group form-row">
                    <label class="col-sm-4 col-form-label">Email</label>
                    <input type="text" class="form-control col-sm-8" value="<%=user.email%>" name="email" placeholder="Email">
                  </div>
                </div> -->
                <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                  <div class="form-group form-row">
                    <label class="col-sm-4 col-form-label">Phone Number<span class="astrix-sym">*</span></label>
                    <input type="text" class="form-control col-sm-8" name="phoneNo" id="phoneNo" placeholder="Phone Number" value="<%=user.phoneNo%>" required/>
                  </div>
                </div>
                <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                  <div class="form-group form-row textarea-group">
                  <label class="col-sm-4 col-form-label">Street Address<span class="astrix-sym">*</span></label>
                  <textarea class="form-control col-sm-8" name="streetAddress" row="4" required><%=user.streetAddress%></textarea>
                  </div>
                </div>
                <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="form-group form-row">
                    <label class="col-sm-4 col-form-label">User Name<span class="astrix-sym">*</span></label>
                    <input type="text" class="form-control col-sm-8" name="userName" placeholder="User Name" value="<%=user.userName%>" readonly required/>
                    </div>
                    <div class="form-group form-row">
                    <label class="col-sm-4 col-form-label">City<span class="astrix-sym">*</span></label>
                    <input type="text" class="form-control col-sm-8" name="city" placeholder="City" value="<%=user.city%>" required/>
                    </div>
                </div>
                <!-- <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="form-group form-row">
                    <label class="col-sm-4 col-form-label">City</label>
                    <input type="text" class="form-control col-sm-8" name="city" placeholder="City" value="<%=user.city%>" required/>
                    </div>
                </div> -->
                <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="form-group form-row">
                      <label class="col-sm-4 col-form-label">State<span class="astrix-sym">*</span></label>
                      <!-- <input type="text" class="form-control col-sm-8" name="state" placeholder="State" value="<%=user.state%>" required/> -->
                      <select class="form-control col-sm-8"  name="state" required>
                          <%states.forEach(function(item){%>
                              <option <%=item == user.state? "selected": ''%>><%=item%></option>
                          <%})%>
                      </select>
                    </div>
                </div>
                <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="form-group form-row">
                    <label class="col-sm-4 col-form-label">Zip Code<span class="astrix-sym">*</span></label>
                    <input type="text" class="form-control col-sm-8" minlength="5" id="zipcode" name="zipcode" placeholder="Zip Code" value="<%=user.zipcode%>" required/>
                    </div>
                </div>
              </div>
            </div>
            <div class="action-block col-12">
              <!-- <button class="btn nrml-btn cancel" >Cancel</button> -->
              <a onclick="window.history.back();" class="btn nrml-btn cancel" >Cancel</a>
              <button class="btn nrml-btn save">Update</button>
            </div>
          </form>
        <% } else { %>
          <h2 class="inner-content-header">Password</h2>
          <form action="/api/v1/chnage/password" method="post" autocomplete="off">
            <div class="form-wrapper">
              <div class="row"> 
                <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                  <div class="form-group form-row ">
                    <label class="col-sm-4 col-form-label">Old Password</label>
                    <div class="password-input col-sm-8">
                      <input type="password" name="oldPassword" class="form-control" id="password" placeholder="Password" required/>
                      <span id="password-show" class="password-show password1-show"></span>
                      <% if (errors.oldPassword) { %>
                        <div class="error"><%= errors.oldPassword.msg %></div>
                      <% } %>
                    </div>

                  </div>
                </div>
                <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                  <div class="form-group form-row ">
                    <label class="col-sm-4 col-form-label">New Password</label>
                    <div class="password-input col-sm-8">
                      <input type="password" name="newPassword" class="form-control" id="Password2" placeholder="Password" required/>
                      <span id="password-show" class="password-show password2-show"></span>
                    </div>

                  </div>
                </div>
                <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                  <div class="form-group form-row ">
                    <label class="col-sm-4 col-form-label">Confirm Password</label>
                    <div class="password-input col-sm-8">
                      <input type="password" name="confirmPassword" class="form-control" id="password3" placeholder="Password" required/>
                      <span id="password-show" class="password-show password3-show"></span>
                      <% if (errors.confirmPassword) { %>
                        <div class="error"><%= errors.confirmPassword.msg %></div>
                      <% } %>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="action-block col-12">
              <!-- <button class="btn nrml-btn cancel" >Cancel</button> -->
              <a href="/profile" class="btn nrml-btn cancel" >Cancel</a>
              <button class="btn nrml-btn save">Update</button>
            </div>
          </form>
        <% } %>
      </div>
  </section>

</div>
<%- include('../../layouts/footer.ejs') %>
<script>
  $('#zipcode').mask('00000-0000');
  $('#phoneNo').mask('000-000-0000', {clearIfNotMatch: true});
  $('#datepicker1').datepicker({autoclose: true,todayHighlight: true,format: 'mm/dd/yyyy',endDate: new Date()});
  $('#profile_img').attr('src', "<%=session.image_url ? '/'+session.image_url: '/assets/images/profile-display-1.png'%>");
  const showPassword = document.querySelector(".password1-show");
  if (showPassword) {
    showPassword.addEventListener('click', e => {
      showPass();
    });
  }
  

  function showPass() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }

  const showPassword2 = document.querySelector(".password2-show");
  if (showPassword2) {
    showPassword2.addEventListener('click', e => {
      showPass2();
    });
  }
  

  function showPass2() {
    var x = document.getElementById("Password2");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }

  const showPassword3 = document.querySelector(".password3-show");
  if (showPassword3) {
    showPassword3.addEventListener('click', e => {
      showPass3();
    });
  }
  

  function showPass3() {
    var x = document.getElementById("password3");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }

  $("#imgInp").change(function() {
      console.log("this.files ", this.files);
      if (this.files && this.files[0]) {
          var formData = new FormData();
          formData.append("image", this.files[0]);
          axios.post('/api/v1/upload/profile',  formData, {
              headers: {
              'Content-Type': 'multipart/form-data'
              }
          }).then(resp=> {
              console.log("resp ===> imgInp", resp);
              var result = resp.data
              if (result.status == true) {
                $('#profile_img').attr('src', '/'+ result.data.image_url);
                $('#header_img').attr('src', '/' + result.data.image_url);
                  
              }
          }).catch(err=> {
              console.log("err ", err);
          })
      }
    })

    function removeimage(){
      axios.post('/api/v1/upload/profile',  {}).then(resp=> {
              console.log("resp ===> imgInp", resp);
              var result = resp.data
              if (result.status == true) {
                $('#profile_img').attr('src', '/assets/images/profile-display-1.png');
                $('#header_img').attr('src',  '/assets/images/profile-display-1.png');
                  
              }
          }).catch(err=> {
              console.log("err ", err);
          })
    }
</script>