<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
  <section class="content-section">
    <h2 class="content-header">Profile</h2>
    <div class="content-inner-section">
      <div class="profile-display-block">
        <div class="profile-details-section">
          <div class="prolife-img-holder">
            <img src="<%=user.image_url ? '/'+user.image_url: '/assets/images/profile-display-1.png'%>">
          </div>
          <div class="profile-info-display">
            <p class="profile-name"><%- user.fullName %></p>
            <p class="profile-role"><%- user.role %></p>
            <div class="action-block">
              <button class="btn btn-nrml remove">Remove</button>
              <button class="btn btn-nrml browse">Browse</button>
            </div>
          </div>
          <div class="profile-edit-block">
            <div class="action-block">
              <!-- <button class="btn btn-nrml edit">Edit Profile</button> -->
              <a href="/profile/edit" class="btn btn-nrml edit">Edit Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-inner-section">
      <h2 class="inner-content-header">Basic Detail</h2>
      <div class="form-wrapper">
        <div class="row">
          <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
            <div class="form-group form-row">
              <label class="col-sm-5 col-form-label">Name</label>
              <div class="data-display col-sm-7"><%- user.fullName %></div>
            </div>
          </div>
          <!-- <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
            <div class="form-group form-row">
              <label class="col-sm-5 col-form-label">DOB</label>
              <div class="data-display col-sm-7"><%= moment(user.dob).format('MM/DD/YYYY') %></div>
            </div>
          </div>
          <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
            <div class="form-group form-row">
              <label class="col-sm-5 col-form-label">Gender</label>
              <div class="data-display col-sm-7"><%= user.gender %></div>
            </div>
          </div> -->
          <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
            <div class="form-group form-row">
              <label class="col-sm-5 col-form-label">Email Address</label>
              <div class="data-display col-sm-7"><%- user.email %></div>
            </div>
          </div>
          <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
            <div class="form-group form-row">
              <label class="col-sm-5 col-form-label">Phone Number</label>
              <div class="data-display col-sm-7"><%- user.phoneNo %></div>
            </div>
          </div>
          <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
            <div class="form-group form-row">
              <label class="col-sm-5 col-form-label">Street Address</label>
              <div class="data-display col-sm-7"><%= user.streetAddress %></div>
            </div>
          </div>
          <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
            <div class="form-group form-row">
              <label class="col-sm-5 col-form-label">City</label>
              <div class="data-display col-sm-7"><%= user.city %></div>
            </div>
          </div>
          <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
            <div class="form-group form-row">
              <label class="col-sm-5 col-form-label">State</label>
              <div class="data-display col-sm-7"><%= user.state %></div>
            </div>
          </div>
          <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
            <div class="form-group form-row">
              <label class="col-sm-5 col-form-label">Zip Code</label>
              <div class="data-display col-sm-7"><%= user.zipcode %></div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="inner-content-header">Password</h2>
      <div class="form-wrapper">
        <div class="row">
          <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
            <div class="form-group form-row">
              <label class="col-sm-5 col-form-label">Password</label>
              <div class="data-display col-sm-7">**********</div>
            </div>
          </div>
          <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
            <div class="form-group form-row ">
              <div class="data-display col-sm-7 password-change">
                <a href="/profile/changePassword">Change</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="action-block col-12">
        <button onclick="window.history.back();" class="btn nrml-btn cancel">Back</button>
      </div>

    </div>
  </section>

</div>

<%- include('../../layouts/footer.ejs') %>
