<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
    <section class="content-section">
        <h2 class="content-header">List Of Swab KIT</h2>
        <form action="/swapkit/list/1" id="swapFilter" method="get">
        <div class="filter-wrapper">
            <div class="form-group">
                <input type="text" class="form-control" name="patientName" value="<%=patientName%>" placeholder="Patient Name">
            </div>    
            <div class="form-group">
                <input type="text" class="form-control" name="contractorName" value="<%=contractorName%>" placeholder="Pharmacy Name">
            </div>                
            <div class="form-group select-input">
                    <select class="form-control" name="orderStatus">
                        <option value="">Order Status</option>
                        <option value="ordered" <%= orderStatus=="ordered" ? "selected": ''%>>Ordered</option>
                        <option value="delivered" <%= orderStatus=="delivered" ? "selected": ''%>>Delivered</option>
                        <option value="returned" <%= orderStatus=="returned" ? "selected": ''%>>Returned</option>
                    </select>
                </div>
            <input type='hidden' name="orderBy" />
            <div class="filter-action-block">
            <button id="submit" class="btn btn-nrml filter">Filter</button>
            <button type="button" onclick="location.href = '/swapkit/list/1'" class="btn btn-nrml reset">Reset</button>
    
            </div>
            <!-- <button class="btn btn-nrml add-new" data-toggle="modal" data-target="#addNewRoleModal">Add New</button> -->
            <!-- <a href="/lab/add" class="btn btn-nrml add-new" >Add New</a> -->
        </div>
        </form>
    
        <div class="table-wrapper">
        <div class="table-responsive">
            <table class="default-table">
            <thead>
                <tr>
                <th>S.No</th>
                <th>Order Number
                    <span class="table-sort" onclick="sortTable('orderNo');"></span></th>
                <th>Patient Name    
                    <span class="table-sort" onclick="sortTable('firstName', 'patientModel');"></span></th>
                <th>Pharmacy Name
                    <!-- <span class="table-sort" onclick="sortTable('gender', 'patientModel');"></span> -->
                </th>
                <th>Order Status<span class="table-sort" onclick="sortTable('orderStatus');"></span></th>
                <th>Ordered Date<span class="table-sort" onclick="sortTable('orderDate');"></span></th>
                <th class="text-center">Actions</th>
    
                </tr>
            </thead>
            <tbody>
                <%if(data.length == 0){%>
                <tr>
                    <td colspan="7" style="border: none !important;">
                        <h3 class="text-center" style="color: #ddd;">No results are available.</h3>
                    </td>
                </tr>
                <%}%>
                <% data.forEach(function(item, i){%>
                <tr>
                    <td><%= (current - 1) * perPage + i + 1 %></td>
                    <td><%= item.orderNo %></td>
                    <td><%= item["patient.firstName"] %> <%= item["patient.lastName"] %></td>
                    <td><%= item["agent.fullName"] %></td>
                    <td>
                        <%if(item.orderStatus == 'ordered'){%>
                            <span class="status-tbl ordered">Ordered</span>
                        <%}else {%>
                            <span class="status-tbl returned">Canceled</span>
                        <%}%>
                    </td>
                    <td><%= moment(item.orderDate).format( 'MMM-DD-YYYY') %></td>
    
                    <td class="text-center">
                        <% if(session.role == 'employee'){%>
                            <a href="/swapkit/edit/<%=item.id%>/<%=current%>" class="action-tb edit"></a>
                        <%} else if(session.role == 'admin'){%>
                            <a href="/swapkit/view/<%=item.id%>/<%=current%>" class="action-tb view"></a>
                            <a href="/swapkit/edit/<%=item.id%>/<%=current%>" class="action-tb edit"></a>
                            <a onclick="deleteSwapkit(<%=item.id%>)" class="action-tb delete"></a>
                        <%} else {%>
                            <a href="/swapkit/view/<%=item.id%>/<%=current%>" class="action-tb view"></a>
                        <%}%>
                    </td>
                </tr>
                <%})%>
            </tbody>
            </table>
        </div>
        <div class="tbl-pagination-block">
            <% if (pages > 0) { %>
            <div class="pagination">
                <% if (current == 1) { %>
                    <a  class="prev">&#8249;</a>
                <% } else { %>
                    <a href="/swapkit/list/1<%=queryUrl%>" class="next">&#8249;</a>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                        <!-- <li class="active"><a><%= i %></a></li> -->
                        <a class="active"><%= i %></a>
                    <% } else { %>
                        <a href="/swapkit/list/<%= i %><%=queryUrl%>"><%= i %></a>
                        <!-- <li><a href="/products/<%= i %>"><%= i %></a></li> -->
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                <% } %>
                <% if (current == pages) { %>
                    <!-- <li class="disabled"><a>Last</a></li> -->
                    <a class="prev">&#8250;</a>
                <% } else { %>
                    <a href="/swapkit/list/<%= pages %><%=queryUrl%>" class="next">&#8250;</a>
                <% } %>
            </ul>
            <% } %>
        </div>
        </div>
    </section>
    
</div>

<%- include('../../layouts/footer.ejs') %>

<script>
    var orderBy = <%-JSON.stringify(orderBy)%>
    console.log("orderBy ", orderBy);
    console.log("data ", <%-JSON.stringify(data)%>);
    function deleteSwapkit(id) {
        var confirmReault = confirm("Are you sure you want to delete?");
        if (confirmReault == false) {
            return false;
        }
        axios.delete('/api/v1/delete/swapkit', {params:{ id: id }}).then(resp=> {
            toastr.success("Deleted Successfully", "Success");
            setTimeout(() => {
                location.href = "/swapkit/list/1"
            }, 1000);
        }).catch(err=> {
            toastr.error(err.response.data ?err.response.data.msg: "Swap kit Not Found", "Error");
        });
    }
  
    function sortTable(columnName, model) {
        if (orderBy[0] == columnName) {
            orderBy[1] = orderBy[1] == 'DESC' ? 'ASC' : 'DESC';
        } else {
            orderBy[0] = columnName;
            orderBy[1] = 'DESC';
        }

        if (model) {
            orderBy[2] = model;
        } else {
            orderBy.splice(2, 1);
        }
  
        console.log("orderBy ", orderBy);
        var $form = $("#swapFilter");
        $form.find('input[name="orderBy"]').val(JSON.stringify(orderBy));
        $("#submit").click();
    }
</script>