<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
    <section class="content-section">
        <h2 class="content-header">View Swab KIT Status</h2>
        <div class="content-inner-section">
            <h2 class="inner-content-header">Patient Basic Detail</h2>
            <div class="form-wrapper">
                <div class="row">
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Patient Name</label>
                            <div class="data-display col-sm-7"><%= data.patient.firstName%> <%= data.patient.lastName%></div>
                        </div>
                    </div>
                    
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">DOB</label>
                            <div class="data-display col-sm-7"><%= moment(data.patient.dob).format( 'MMM-DD-YYYY')%></div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Gender</label>
                            <div class="data-display col-sm-7"><%= data.patient.gender%></div>
                        </div>
                    </div>  
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 textarea-group">
                        <div class="form-group form-row textarea-group">
                            <label class="col-sm-5 col-form-label">Street Address</label>
                            <div class="data-display col-sm-7"><%= data.patient.address%>.</div>
                            </textarea>
                        </div>
                    </div>
                    <div class="form-inline col-xl-8 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">Email Address</label>
                                <div class="data-display col-sm-7"><%= data.patient.email%></div>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">Phone Number</label>
                                <div class="data-display col-sm-7"><%= data.patient.phoneNo%></div>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">City</label>
                                <div class="data-display col-sm-7"><%= data.patient.city%></div>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">State</label>
                                <div class="data-display col-sm-7"><%= data.patient.state%></div>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">Zip Code</label>
                                <div class="data-display col-sm-7"><%= data.patient.zipcode%></div>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">Shipped To</label>
                                <div class="data-display col-sm-7"><%= data.shipTo%></div>
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">Pharmacy Name</label>
                                <div class="data-display col-sm-7"><%= data.agent.fullName%></div>
                            </div>
                        </div>
                       
                    </div>
                   

                   
                </div>
            </div>

            <h2 class="inner-content-header">Update Status</h2>
            <div class="form-wrapper">
                <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 no-pad">
                    <div class="form-group form-row no-marg">
                        <label class="col-sm-5 col-form-label">Status</label>
                        <div class="data-display col-sm-7">
                            <%if(data.orderStatus == 'ordered'){%>
                                <span class="status-text ordered">Ordered</span>
                            <%}else {%>
                                <span class="status-text returned">Canceled</span>
                            <%}%>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="status-progress-block col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="swabkit-progress-block progress-1 completed">
                        <div class="swabkit-progress-icon ">
                            <img src="/assets/images/icons/ordered-icon.png" alt="">
                        </div>   
                        <div class="swabkit-status-info">
                            <p class="swabkit-label">Swab KIT Ordered</p>
                            <p class="swabkit-date"><%= moment(data.orderDate).format( 'MMM-DD-YYYY')%></p>
                        </div>                             
                    </div>
                    <div class="progress-line <%=data.orderStatus == 'canceled' ? 'completed': ''%>">
                        <span class="line"></span>
                    </div>
                    <div class="swabkit-progress-block progress-3  <%=data.orderStatus == 'canceled' ? 'active': ''%>">
                        <div class="swabkit-progress-icon completed">
                            <img src="/assets/images/icons/returned-icon.png" alt="">
                        </div>   
                        <div class="swabkit-status-info">
                            <p class="swabkit-label">Swab KIT Canceled</p>
                            <p class="swabkit-date"><%= data.cancelDate ? moment(data.cancelDate).format( 'MMM-DD-YYYY'): '_ _ _ _ _ _ _ _ _'%></p>
                        </div>                             
                    </div>
            </div>
            <div class="action-block col-12">
                <button onclick="window.history.back();" class="btn nrml-btn cancel">Back</button>
            </div>

        </div>
    </section>
</div>

<%- include('../../layouts/footer.ejs') %>