/* Responsive Styles */
@media only screen and (max-width:2200px){
    .header-menu-block {
        width: 73%;
        max-width:73%;
    }
}
@media only screen and (min-width:1650px){
    .widget-block-each {
        min-width: 300px;
        max-width: 300px;
    }
}
@media only screen and (max-width:1599px){
    .header-menu-block {
        width: 62%;
        max-width:62%;
    }
    .widget-block-each{
        min-width: 300px;
        max-width: 300px;
    }
    .widget-image-holder{
        margin-right: 12px;
    }
    .widget-info .widget-label {
        font-size: 16px;
    }
    .table-responsive {
        overflow-x:auto;
    }
    .default-table tbody td{
        white-space: nowrap;
    }
    .sp-form-container {
        padding: 50px 30px;
    }
   
}

@media only screen and (max-width:1439px){
    .widget-block-each {
        min-width: 293px;
        max-width: 293px;
    }
}




@media only screen and (max-width:1400px){
    .header-menu-block {
        width: 38%;
    }
    .widget-block-each{
        padding: 10px;
        margin-right: 20px;
    }
    .widget-image-holder{
        margin-right: 12px;
    }
    .widget-info .widget-label {
        font-size: 16px;
    }
    .content-wrapper-main {
        padding: 0px 20px;
    }
    .widgets-wrapper {
        padding: 30px 20px;
    }

    .caption-text-container {
        font-size: 36px;
    }
    /* .sp-form-container {
        padding: 50px 30px;
    } */
    
}
@media only screen and (max-width:1359px){
    .widget-block-each {
        min-width: 280px;
        max-width: 294px;
    }
    .widget-info .widget-label {
        font-size: 14px;
    }
}
@media only screen and (max-width:1331px){
    .widget-block-each {
        min-width: 280px;
        max-width: 280px;
    }
}

@media only screen and (max-width:1279px){
   .widgets-wrapper {
        justify-content: space-evenly;
    }
    .swabkit-progress-icon {
        width: 50px;
        height: 50px;
    }
    .swabkit-progress-icon img {
        display: inline-block;
        width: 24px;
    }
    .swabkit-label {
        font-size: 14px;
    }
    .swabkit-date {
        font-size: 14px;
    }
    .swabkit-progress-block {
        min-width: 198px;
        max-width: 300px;
        width: 18%;
    }
    .insurance-edit .quote-block{
        flex-direction: column;
    }
    .quote-div-section-inline .quote-row {
        display: flex;
        flex-direction: row;
    }
    .insurance-edit .quote-block .quote-label{
        margin-bottom: 10px;
    }

    
}

@media only screen and (max-width:1200px){
    .widget-block-each {
        min-width: 294px;
        max-width: 294px;
    }
    .widgets-wrapper {
        justify-content: space-evenly;
    }
    
}


@media only screen and (max-width:991px){
    .sp-wrapper {
        height: auto;
        align-self: flex-start;
        display: flex;        
        flex-direction: column;
        flex-wrap: wrap;
        /* margin-top: 60px; */
        display: block;
        float: left;
        width: 100%;
    }
    .caption-text-container {
        font-size: 28px;
        width: 100%;
        max-width: initial;
        margin: 20px 0px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fp-right-sec {
        margin-bottom: 60px;
    }   
    .fp-left-sec, .fp-right-sec {
        flex-basis: 0;
        align-self: flex-start;
        flex-direction: column;
        height: auto;
        display: block;
        float: left;
        width: 100%;
        flex:none !important;
    }
    .sp-form-container{
        margin: 0 auto;
    }
    /* .sp-form-container > .row{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-self: flex-start;
        width: 100%;
        margin-left: 0px;
    }
    .sp-form-container .form-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .sp-form-container .form-group{
        display: flex;
        flex-direction: column;
    } */
    .main-header{
        flex-wrap: wrap;
        padding: 20px 10px;
    }
    .header-menu-block {
        width: 100%;
        max-width: 100%;
        order: 3;
        margin-left: 0px;
        margin-top: 20px;
    }
    .header-menu-block {
        width: 100%;
    }
    .header-profile-block {
        position: absolute;
        right: 10px;
        top: 12px;
    }
    header.main-header {
        position: relative;
        flex-direction: column;
    }
    /* .header-menu-block {
        overflow: scroll;
    } */
    .role-select-innerblock {
        flex-direction: column;
    }
    .role-select-each {
        width: 100%;
        border-right: 0px solid #E5EFF3;
        margin-bottom: 30px;
    }
    .form-wrapper .form-inline .form-inline{
        padding:0px;
    }
    .status-progress-block{
        flex-direction:column;
    }
    .progress-line {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
        height: 40px;
    }
    .progress-line .line {
        height: 2px;
        width: 30px;
        transform: rotate(90deg);
    }
    .role-select-fullpage .role-select-innerblock {
        flex-wrap: wrap;
        flex-direction:row;
    }
    .insurance-edit .quote-block {
        flex-direction: column;
        flex: 0 0 100%;
    }
    .quote-row .form-control{
        width: 100%;
    }
    /* 12-02 */
	.family-medical-stepper {
        flex-direction: column;
    }
    .stepper1, .stepper2, .stepper3 {
        margin-bottom: 20px;
    }
    .step-number:after {
       display:none;
    }
    .family-medical-stepper {
        min-height: unset;
            height: 100%;
    }
    .step-number {
        margin-top: 0;
    }
    .family-detail .row {
        flex-direction: row;
        flex-wrap: initial;
    }
    .form-wrapper.family-detail .form-inline {
        max-width: unset;
        width: 200px;
        min-width: 196px;
    }
    .sp-wrapper {
        margin-top: 0;
    }
    .family-form-d-form .custom-checkbox .checkbox-block label:after {
        top: 0;
    }
}

@media only screen and (max-width:767px){
    .caption-text-container {
        font-size: 20px;
        width: 100%;
        max-width: initial;
        margin: 20px 0px;
        text-align: center;
        padding: 20px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sp-form-container {
        padding: 30px 12px;
    }
    .widget-block-each {
        min-width: initial;
        max-width: initial;
        width: 47%;
    }
    .widget-block-each:nth-child(even){
        margin-right: 0px;
    }
    .widgets-wrapper {
        justify-content: space-evenly;
    }
    .table-responsive {
        border: 2px solid #e3e8ea;
        padding: 0px;
    }
    .table-wrapper {
        padding: 0px 6px;
    }
    .content-wrapper-main .custom-form-wrapper {
        padding: 6px;
        display: flex;
        overflow: auto;
        max-width: 94%;
        margin: 0 auto;
    }
    .content-wrapper-main .custom-form-wrapper  img{
        min-width: 500px;
        width: 100%;
        height: auto;
    }
    .default-table th {
        padding: 20px 20px;
    }
    .role-select-fullpage .role-select-innerblock {
        flex-wrap: wrap;
        flex-direction:column;
        justify-content: center;
        align-content: center;
    }    
    /* 12-02 */
	.form-wrapper.family-detail .row{
		flex-direction:row;
		    flex-wrap: initial;
	}
	.form-wrapper.family-detail{
		flex-direction:row;
		width: fit-content;
	}
	.step-number:after {
    content: '';
    width: 76%;
    right: -48%;
}
.family-medical-stepper {
    height: 100%;
    min-height: unset;
}
.family-medical-stepper {
    flex-direction: column;
}
.step-number {
    margin-top: 0;
}
.step-number:after {
    display:none;
}
.stepper1, .stepper2, .stepper3{
	margin-bottom:20px;
} 
.form-wrapper.family-detail .form-inline {
    width: 200px;
}
.form-wrapper .form-group .form-control.age-inp, .form-wrapper .form-group .dtp .form-control {
    width: 100%;
    margin-left: 0;
    margin: 20px 0px;
	margin-top: 0;
}
.form-wrapper .form-group .form-control.age-inp {
    margin: 20px 0px;
}
.form-wrapper .form-group .datepicker.dtp {
    margin-left: 0px;
	    width: 100%;
    max-width: 320px;
}
.form-wrapper .form-group .dtp .form-control {
	width: 100%;
    margin-bottom: 0;
     max-width: 320px;
}
.family-form-d-form .custom-checkbox {
    margin-top: 20px;
}
.family-form-modal .modal-dialog {
    max-width: 97%;
}
.form-wrapper.family-detail .btn.a-h {
    width: 200px;
    font-size: 14px;
}
/* iphone issue */
.form-wrapper.family-detail .btn.a-h {
    width: 250px;
}
.form-wrapper.family-detail .form-inline.age-family.del-icon {
    max-width: fit-content;
    width: 100px;
    min-width: fit-content;
}
.family-medical-stepper {
    height: auto;
    min-height: unset;
}
.stepper1{
	margin-top:20px;
}
.form-wrapper.emp-module-swat {
    flex-direction: column;
}
/*/iphone issue */
}

@media only screen and (max-width:570px){
    .filter-wrapper .form-group {
        width: 100%;
        margin-right: 0px;
    }
    .filter-action-block .btn {
        margin-bottom: 15px;
        margin-left:0px !important;
    }
    .filter-action-block .btn:first-child {
        margin-left: 10px;
    }
    .filter-action-block {
        margin-bottom: 0px;
    }
    .filter-wrapper {
        padding: 10px 10px;
    }
    .tbl-pagination-block{
        padding: 15px 0px;
    }
    .pagination a {
        padding: 3px 9px;
        font-size: 14px;
    }
    .pagination a.prev, .pagination a.next {
        font-size: 30px;
        padding: 0px 8px;
        line-height: 26px;
    }
    .content-inner-section{
        padding:30px 10px;
    }
    .doc-upload-wrapper {
        padding: 30px 10px;
    }
    .doc-uploaded-block {
        max-width: 100%;
        width: 100%;
        flex: 0 0 100%;
        padding: 0px;
        min-width: initial;
    }
    .doc-upload-details {
        font-size: 15px;
        padding: 6px 20px;
        min-height: 40px;
        height:auto;
    }
    .list-display-ul li {
        font-size: 16px;
        padding: 25px 16px;
        padding-right: 0px;
    }
    .list-display-ul li::before {
        content: "";
        left: 2px;
    }
    .list-display-ul li .quote-section-2 {
        flex-direction: column;
        font-size: 16px;
        padding: 25px 10px;
    }
    .quote-section {
        padding: 10px 0px;
    }
    .quote-block {
        padding: 0px;
        flex: 0 0 100%;
        min-width: initial;
        max-width: 100%;
    }
    .quote-div-section-1 {
        padding: 30px 10px;
    }
    .quote-div-section-inline .quote-block{
        flex-direction:column;
        min-width: initial;
        max-width: 100%;
        width: 100%;
        float: left;
    }
    .quote-div-section-inline .quote-row {
        flex-direction: column;
        display: block;
        width: 100%;
    }
    .quote-div-section-inline .quote-block .quote-label {
        margin-right: 0px;
        float: left;
        width: 100%;
        display: block;
    }
    .quote-div-section-inline .quote-block .data-display {
        display: block;
        float: left;
        width: 100%;
    }
    .content-header{
        font-size: 18px;
    }
    .list-content-wrapper .content-inner-section .form-wrapper{
        padding: 30px 0px;
    }
    .sign-block {
        width: 100%;
        margin-right: 0px;
    }
    .filter-wrapper .btn.add-new{ 
        margin-left: initial;
    }
    .filter-wrapper .form-group select.form-control, .form-group select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url(../images/icons/selectbox-arrow.png) 93% / 3% no-repeat #F2F7F9;
    }
    .action-block .btn{
        margin-bottom:15px;
    }
    .form-wrapper {
        padding: 30px 5px;
        align-self: flex-start;
        width: 100%;
    }
    .form-wrapper .form-inline .form-inline{
        padding:0px;
    }
   
    .content-header{
        padding: 16px 10px;
    }
    .inner-content-header,
    .inner-content-header.delete-blk
     {
        padding: 15px 15px;
    }
    .form-view-data .form-wrapper .form-inline {
        padding: 0px 8px;
    }
    .profile-details-section {
        display: flex;
        flex-direction: column;
    }
    .profile-info-display {
        margin-left: 0px;
        margin-top: 20px;
    }
    .profile-display-block.edit .action-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile-display-block .action-block .btn:first-child {
        margin-left: 10px;
    }
    .profile-edit-block {
        margin-left: initial;
    }
    .data-section {
        padding: 0px 10px;
    }
    .data-section  > .row{
        margin: 0px;
    }
    .data-section .row .form-inline{
        padding: 0px !important;
    }
    .data-section .form-inline > .form-group{
        padding: 0px;
    }
    .data-section .col-form-label {
        padding: 0px 5px;
        margin-bottom: 10px;
    }
    .insurance-edit{

    }
    .quote-row .form-control{
        width: 100%;
    }
    .cancer-form .form-wrapper > .row{
        margin-right: 0px;
        margin-left: 0px;
    }
    .swab-kit-check{
        margin-top: 15px;
    }
}

@media only screen and (max-width:560px){
    .main-header {
        padding: 10px 10px;
    }
    .profile-img-holder{
        display: none;
    }
    .header-profile-block{
        padding: 6px 5px;
    }
    .profile-info-block {
        margin-left: 5px;
        min-width: 100px;
    }
    .header-profile-block {
        width: auto;
        min-width: initial;
        max-width: initial;
    }
    .profile-name {
        max-width: 100px;
        padding: 2px 0px;
    }
    .header-logo {
        max-width: 120px;
        min-width: 120px;
        width: 120px;
        padding-right: 10px;
    }
    .header-menu-block{
        margin: 0px;
        margin-top: 10px;
        padding: 10px 0px;
    }
    .menu-list-block li.list-item a.nav-link{
        padding: 4px 8px;
    }
    .menu-list-block li.list-item a label {
        font-size: 13px;
    }
    .menu-list-block li.list-item a.nav-link img {
        width: 30px;
        height: 30px;
    }
    .profile-name {
        font-size: 13px;
    }
    .profile-role {
        font-size: 13px;
    }
    .profile-name::after {
        content: "";
        right: 5px;
        top: 11px;
    }
    .notification-block {
        width: 36px;
        height: 36px;
        margin-left: 10px;
    }
    .widget-block-each {
        min-width: initial;
        max-width: initial;
        width: 100%;
        margin-right: 0px;
    }
    .widget-image-holder {
        width: 80px;
        min-width: 80px;
        height: 80px;
    }
    .footer p.footer-content{
        font-size: 13px;
    }
    .sp-form-container .form-container{
        padding:0px;
    }
    .sp-form-container .form-group{
        width:100%;
    }
    .doc-holder , .doc-holder.empty{
        min-width: 260px;
    }
    
}



@media only screen and (max-width:1024px){
    .form-submit.action-block a.btn{
        width: 100%;
        margin-left: 0px;
    }
    .action-block{
        display: block;
        text-align: center;
    }
    .action-block .btn{
        display: inline-block !important;
    }
    .sp-wrapper{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .fp-left-sec{
        -webkit-box-flex: 1 1;
        -webkit-flex: 1 1;
        -ms-flex: 1 1;
        flex: 1 1;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }
    .fp-right-sec{
        -webkit-box-flex: 1 1;
        -webkit-flex: 1 1;
        -ms-flex: 1 1;
        flex: 1 1;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }
    .sp-form-heading{
        -webkit-box-flex: 1 1;
        -webkit-flex: 1 1;
        -ms-flex: 1 1;
        flex: 1 1;
    }
    .sp-form-container{
        -webkit-box-flex: 1 1;
        -webkit-flex: 1 1;
        -ms-flex: 1 1;
        flex: 1 1;
    }

    .sp-form-container .row{
        -webkit-box-flex: 1 1;
        -webkit-flex: 1 1;
        -ms-flex: 1 1;
        flex: 1 1;
    }
    .sp-form-container .form-container{
        -webkit-display:flex;
        -webkit-box-flex: 1 1;
        -webkit-flex: 1 1;
        -ms-flex: 1 1;
        flex: 1 1;
        -webkit-flex-direction: column;
    }
    .sp-form-container .form-group{
        -webkit-display:flex;
        -webkit-box-flex: 1 1;
        -webkit-flex: 1 1;
        -ms-flex: 1 1;
        flex: 1 1;
        -webkit-flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }
    .sp-form-container .form-group input{
        -webkit-display:flex;
        -webkit-box-flex: 1 1;
        -webkit-flex: 1 1;
        -ms-flex: 1 1;
        flex: 1 1;
        -webkit-flex-direction: column;
        width: 100%;
    }
    .form-submit.action-block{
        -webkit-display:flex;
        -webkit-box-flex: 1 1;
        -webkit-flex: 1 1;
        -ms-flex: 1 1;
        flex: 1 1;
        -webkit-flex-direction: column;
        width: 100%;
    }
}


@media only screen and (max-width:400px){
    .form-submit.action-block a.btn{
        width: 100%;
        margin-left: 0px;
    }
    .action-block{
        display: block;
        text-align: center;
    }
    .sp-wrapper{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .fp-left-sec{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }
    .fp-right-sec{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }
    .sp-form-heading{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .sp-form-container > .row{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .sp-form-container .form-container{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-flex-direction: column;
    }
    .sp-form-container .form-group{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-flex-direction: column;
    }
}



/* 12-2 */
@media only screen and (min-width:992px) and (max-width:1200px){
    .form-wrapper .form-group .datepicker {
        width: 66%;
        max-width: initial;
    }
    .family-medical-stepper {
        height: 116px;
        min-height: 116px;
    }
    .family-detail .row{
        flex-wrap:initial;
        flex-direction:row;
    }
    .form-wrapper.family-detail .form-inline {
        max-width: unset;
        width: 200px;
        min-width: 200px;
    }
}
@media only screen and (max-width:768px){
    .form-wrapper .form-group .datepicker.dtp {
        align-items: center;
        align-self: start;
    }
    .text-date-field {
        flex-direction: column;
        width: 100%;
    }
    .form-wrapper.family-frm-wrapper .form-group label {
        height: auto;
        display: block;
    }
		.family-form-modal.herid-form-modal .modal-dialog {
    max-width: 96%;
}
.herid-form-modal .modal-body {
    flex-direction: column;
}
.herid-form-modal .data-display {
    width: 80%;
    margin: 25px 0px;
}
.family-form-modal.herid-form-modal button.btn {
    width: 50%;
}
}  
@media only screen and (min-width:1200px){
    .form-wrapper.family-detail .form-inline.age-family {
        max-width: 200px;
        width: 200px;
    }
}
@media only screen and (min-width:768px) and (max-width:1429px){
    .text-date-field {
        margin-top:20px;
    }
    .form-wrapper.family-detail {
        flex-direction: row;
        width: fit-content;
    }
    .form-wrapper.family-detail .form-inline {
        max-width: unset;
        width: 200px;
    }
    .form-wrapper.family-detail .btn.a-h {
        width: 200px;
        min-width: 200px;
    }
    .delete-icon {
        height: 50px;
        min-width: 50px;
    }
		/* Iphine issue */
			.filter-wrapper .form-group .datepicker::after, .form-wrapper .form-group .datepicker::after {
			content: "";
			right: 6%;
}
		/*/Iphine issue */
    }


	 @media only screen and (min-width:768px) and (max-width:1200px){
	.family-form-modal.herid-form-modal .modal-dialog {
    max-width: 80%;
    margin: 6.75rem auto;
}
}
