/* Fonts */

@font-face {
    font-family: 'open_sansBold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansLight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansRegular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansSemiBold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Reset Styles */

* {
    padding:0;
    margin: 0;
    list-style: none;
}


/* Reset Styles */


/* Style Start */

body, html {
    height: 100%;
    font-family:open_sansRegular;
}
.no-marg{
    margin: 0px !important;
}
.no-pad{
    padding:0px !important;
}
.no-pad-left{
    padding-left: 0px !important;
}
.no-pad-right{
    padding-right:0px !important;
}
.text-center{
    text-align:center;
}
/* Login Styles */

.sp-wrapper{
    background: url('../images/front-page-bg.jpg') left center #fff no-repeat;
    background-size: cover;
    height: 100%;
    flex-direction: row;
    display: flex;
    display: -webkit-flex;
    padding: 0px;
    min-height: 100vh;
}

.fp-left-sec{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex:1;
}
.fp-right-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex:1;
}
.caption-text-container{
    color: #fff;
    font-size: 53px;
    padding: 20px 30px;
    margin-left: 5%;
    background-color: rgba(0,0,0,0.4);
    font-family: 'open_sansBold';
    max-width: 76%;

}
.sp-form-container{
    display: flex;
    width: 100%;
    max-width: 485px;
    padding: 75px 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex:1 1;
}
.sp-form-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align:center;
    float: left;
    width: 100%;
    display: block;
}

.sp-form-heading{
    font-family: open_sansSemiBold;
    font-size: 28px;
    text-align: center;
    color: #2C3E50;
    margin: 30px 0px;
    float: left;
    width: 100%;
    display: block;
}

.form-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-start; 
    float: left;
    width: 100%;
    display: block;
}
.form-container .row{ 
    float: left;
    width: 100%;
    margin: 0px;
}
.form-label{
    display: none;
}
.form-group .form-control{
    width: 100%;
    height: 50px;
    background: #F2F7F9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    border: none;
    font-size: 16px;
    color: #3E4347;
    padding: 10px 15px;
    font-family: open_sansSemiBold;
}
.sp-form-container .form-group .form-control{
    padding-left: 60px;
}
.sp-form-container .row{
    float: left;
    width: 100%;
    display: block;
    margin: 0px;
}
.form-group .form-control::placeholder{
    color: #A1A1A1;
    font-family: open_sansRegular;
}
.sp-form-container .form-group{
    max-height: 60px;
    position: relative;
    float: left;
    width: 100%;
    display: block;
}
.user-input::after{
    content:"";
    position: absolute;
    left: 20px;
    top: 10px;
    background: url('../images/icons/user-icon.png') center no-repeat transparent;
    background-size: auto;
    width: 30px;
    height: 30px;
    z-index: 10;
}
.password-input::after{
    content:"";
    position: absolute;
    left: 20px;
    top: 10px;
    background: url('../images/icons/pass-icon.png') center no-repeat transparent;
    background-size: auto;
    width: 30px;
    height: 30px;
    z-index: 10;
}
.email-input::after{
    content:"";
    position: absolute;
    left: 20px;
    top: 10px;
    background: url('../images/icons/email-icon.png') center no-repeat transparent;
    background-size: auto;
    width: 30px;
    height: 30px;
    z-index: 10;
}
.password-input .form-control{
    padding-right: 60px;
}
 .form-group #password-show {
    position: absolute;
    top: 11px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: url(../images/icons/eye-icon.png) center no-repeat transparent;
    z-index: 20;
    cursor: pointer;
}
.forgot-password{
    font-size: 16px;
    color: #207EA9;
    text-decoration: underline;
    text-align: right;
    float: right;
    margin-bottom: 20px;
    margin-top: 10px;
}
.action-block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
    align-self: flex-start;
    flex: 1;

}
.form-submit.action-block{
    margin: 0px 0px;
    width: 100%;
    float: left;
    width: 100%;
    display: block;
    text-align: center;
}
.form-submit.action-block a.btn{
    margin: 0 auto;
}
.form-submit .btn-nrml,
.form-submit a.btn-nrml
{
    width: 256px;
    height: 58px;
    background: #207EA9;
    border-radius: 100px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'open_sansBold';
}
.sp-form-container .form-group p{
    font-size: 16px;
    text-align: center;
    color: #3E4347;
    width: 90%;
    margin: 0 auto;
    margin-bottom:10px;
}
/* Login Styles */

/* Dashboard Style */

.dashboard-wrapper{
    display: flex;
    flex-direction: column;
    background-color: #f4f9fb;
    height: auto;
    padding: 0px;
    min-height: 100vh;
}
.main-header{
    align-self: flex-start;
    width: 100%;
    min-height: 140px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    border-radius: 0px 0px 26px 26px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}
.header-logo{
    max-width: 164px;
    min-width: 164px;
    width: 164px;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    border-right: 1px solid #D7E5EC;
}
.header-logo img{
    width: 100%;
}
.header-profile-block{
    width: 330px;
    min-width: 330px;
    max-width: 330px;
    background-color: #fdf4eb;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    align-items: center;
}
.profile-img-holder{
    width: 72px;
    height: 72px;
    border-radius: 100px;
    border: 1px solid #EF9035;
    overflow: hidden;
}
.profile-img-holder img{
    width: 100%;
    height: auto;
}
.profile-info-block{
    width: auto;
    margin-left: 15px;
    position: relative;
    min-width: 160px;
}
.profile-name{
    font-size: 16px;
    color: #2C3E50;
    font-family: 'open_sansSemiBold';
    padding-left: 0px;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}
.profile-name::after{
    content: "";
    position: absolute;
    right: 5px;
    top:20px;
}
.profile-role{
    color:#575F67;
    font-size: 14px;
    margin: 0px;
}
.list-drop{
    position: absolute;
    left: 0px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0px 10px;
    min-width: 150px;    
}
.list-drop li a{
    font-size: 16px;
    color: #2C3E50;
    padding: 10px 10px;
    display: block;
}
.list-drop li a img{
    margin-right: 12px;
}

.notification-block{
    width: 46px;
    height: 46px;
    border-radius: 100px;
    background-color: #EF9035;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-menu-block{
    /* max-width: 65%; */
    /* width: 65%; */
    flex:1;
    background: #20A3CC;
    border-radius: 10px;
    margin: 0px 20px;
    padding: 10px;
    touch-action: auto;
}
.menu-list-block{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px;
    overflow: auto;
    max-width: 100%;
    -webkit-overflow-scrolling: auto;
    overflow-scrolling: auto;
}
.menu-list-block li.list-item{
    display: inline-block;
    padding:0px 10px;
    border-radius: 0px;
    border-right: 1px solid #68BBD5;

}
.menu-list-block li.list-item a.nav-link{
    display: block;
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
    white-space: nowrap;
    border-radius: 10px;
}
.menu-list-block li.list-item a.nav-link img{
    width: 40px;
    height: 40px;
}
.menu-list-block li.list-item a label{
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0px;
    cursor: pointer;
}
.nav-link .icon-A{
    display: none;
}
li.list-item.active .nav-link .icon-N{
    display: none;
}
li.list-item.active .nav-link .icon-A{
    display: inline-block;
}
.menu-list-block li.list-item.active .nav-link {
    background-color: #fff;
    
}
.menu-list-block li.list-item.active .nav-link label {
    color: #2C3E50;
    font-family: 'open_sansSemiBold';  
}

/* .menu-list-block::-webkit-scrollbar { width: 0 !important }
.menu-list-block { overflow: -moz-scrollbars-none; }
.menu-list-block { -ms-overflow-style: none; } */

.content-wrapper-main{
    padding: 0px 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.content-section{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 30px;
}
.content-header{
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06);
    border-radius: 10px 10px 0px 0px;
    font-size: 20px;
    color: #2C3E50;
    font-family: 'open_sansSemiBold';
    padding: 16px 30px;
}
.widgets-wrapper{
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.widget-block-each{
    display: flex;
    flex-direction: row;
    min-width: 340px;
    max-width: 340px;
    background: #fdf4eb;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    align-items: center;
}
.widget-image-holder{
    width: 100px;
    min-width: 100px;
    height: 100px;
    background: #EF9035;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.widget-image-holder img{
    width: auto;
    display: inline-block;
}
.widget-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.widget-info p {
    font-family: 'open_sansSemiBold';
    font-size: 30px;
    color: #2C3E50;
    text-align: center;
    margin-bottom: 10px;
}
.widget-info .widget-label{
    font-size: 17px;
    color: #637B93;
    text-align: center;
    margin: 0px;
}
.widget-block-each.wid-2{
    background: #eafaf1;
}
.widget-block-each.wid-2 .widget-image-holder{
    background: #2ecc71;
}
.widget-block-each.wid-3{
    background: #ebf5fb;
}
.widget-block-each.wid-3 .widget-image-holder{
    background: #3498db;
}
.widget-block-each.wid-4{
    background: #f5eef8;
}
.widget-block-each.wid-4 .widget-image-holder{
    background: #9b59b6;
}
.widget-block-each.wid-5{
    background: #e8f8f5;
}
.widget-block-each.wid-5 .widget-image-holder{
    background: #1abc9c;
}
.widget-block-each.wid-6{
    background: #fdecf4;
}
.widget-block-each.wid-6 .widget-image-holder{
    background: #e84393;
}
.widget-block-each.wid-7{
    background: #eaebeb;
}
.widget-block-each.wid-7 .widget-image-holder{
    background: #2d3436;
}
.widget-block-each.wid-8{
    background: #f0effd;
}
.widget-block-each.wid-8 .widget-image-holder{
    background: #6c5ce7;
}
.widget-block-each.wid-9{
    background: #e9f7ef;
}
.widget-block-each.wid-9 .widget-image-holder{
    background: #27ae60;
}
.widget-block-each.wid-10{
    background: #fdedeb;
}
.widget-block-each.wid-10 .widget-image-holder{
    background: #e74c3c;
}


.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border-radius: 30px 30px 0px 0px;
}
.footer p.footer-content{
    margin: 0px;
    font-size: 15px;
    color: #8091A3;
}
.footer p.footer-content span{
    margin: 0px;
    font-size: 15px;
    color: #2C3E50;
    font-family: 'open_sansSemiBold';
}


/* Filter Style */
.filter-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 30px;
    padding-bottom: 0px;
}
.filter-wrapper .form-group {
    margin-right: 15px;
    margin-bottom: 15px;
    min-width: 220px;
}
.filter-wrapper .form-group .form-control{
    width: 100%;
    height: 50px;
    background: #F2F7F9;
    border: 1px solid #D1D1D1;
    box-shadow: none;
    padding: 10px 15px;
    font-size: 16px;
}
.filter-action-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
    margin-right: 10px;
}
.filter-wrapper.btns-right .filter-action-block{
    margin-left: auto;
}
.filter-action-block .btn:first-child{
    margin-left: 0px;
}
.btn.btn-nrml, .btn.nrml-btn{
    min-width: 100px;
    height: 50px;
    background: #7F8C8D;
    border-radius: 100px;
    font-size: 16px;
    margin: 0px 10px;
    padding: 10px 30px;
}

.btn.filter{
    background: #66B04E;
    color: #fff;
}
.btn.reset{
    background: #7F8C8D;
    color: #fff;
}
.btn.add-new{
    background: #207EA9;
    color: #fff;
}
.filter-wrapper .btn.add-new{ 
    margin-left: auto;
}

/* Filter Style */

/* Table Styles */

.table-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 0px 30px;
    margin-bottom: 30px;
}
.default-table{
    float: left;
    width: 100%;
    border: 2px solid transparent;

}
.default-table th{
    font-size: 16px;
    text-align: left;
    color: #2C3E50;
    padding: 20px 20px;
    background: #F4F9FB;
    position: relative;
    white-space: nowrap;
}
.default-table tbody td{
    text-align: left;
    font-size: 16px;
    color: #4A5E73;
    padding: 8px 20px;
    border-bottom: 2px solid #e3e8ea;
    border-top: 2px solid #e3e8ea;
}
.default-table tbody tr td:first-child{
    border-left: 2px solid #e3e8ea
}
.default-table tbody tr td:last-child{
    border-right: 2px solid #e3e8ea
}
.default-table tbody td .action-tb{
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
    margin:0px 3px;
}
.default-table tbody td .action-tb.view{
    background:url('../images/icons/view-tb.png') center transparent no-repeat;
}
.default-table tbody td .action-tb.edit{
    background:url('../images/icons/edit-tb.png') center transparent no-repeat;
}
.default-table tbody td .action-tb.delete{
    background:url('../images/icons/delete-tb.png') center transparent no-repeat;
}
.table-responsive {
    overflow-x:initial;
}
.table-sort{
    position: absolute;
    width: 10px;
    height: 14px;
    right: 3px;
    top: 26px;
    cursor: pointer;
}
.table-sort::before{
    content:'';
    position: absolute;
    width: 9px;
    height: 7px;
    background:url('../images/icons/sort-arrow-up.png') transparent center no-repeat;
    top: 0;
}
.table-sort::after{
    content:'';
    position: absolute;
    width: 9px;
    height: 7px;
    background:url('../images/icons/sort-arrow-down.png') transparent center no-repeat;
    bottom: 0;
}
.tbl-pagination-block{
    padding: 15px 10px;
}
.pagination {
    display: inline-block;
    float: right;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #207ea9 !important;
    color: white;
    border-radius: 100px;
  }
  .pagination a.prev, .pagination a.next {
    font-size: 30px;
    padding: 0px 16px;
    line-height: 35px;
  }
  .pagination a.prev{
    color: #C4C4C4;
  }
  .pagination a.next {
    color: #207EA9;
  }
  .pagination a:hover{
    background-color:#f4f9fb;
  }
 

/* Table Styles */

/* Modal Styles */

.modal-default .modal-content{
    top:10%;
}
.modal-default .modal-content{
    border:none;
}   
.modal-default .modal-header{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06);
    border-radius: 10px 10px 0px 0px;
    border: none;
    padding: 20px 30px;
}
.modal-default .modal-title{
    font-size: 20px;
    color: #2C3E50;
    font-family: 'open_sansSemiBold';
    
}
.role-select-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.role-select-fullpage .role-select-innerblock{
    flex-wrap: wrap;
}
.role-select-fullpage .role-select-innerblock .role-select-each{
    width:25%;
    min-width: 300px;
    margin-bottom: 40px;
}
.role-select-fullpage .role-select-innerblock .role-select-each:last-child{
    border-right: none;
}

.role-select-innerblock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding: 10% 0px;
}
.role-select-each {
    width: 30%;
    text-align: center;
    border-right: 1px solid #E5EFF3;
}
a.role-select {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
a.role-select:hover p {
    font-family: 'open_sansSemiBold';
}
a.role-select img {
    display: inline-block;
    width: 100%;
    max-width: 153px;
}
a.role-select p{
    margin: 20px 0px;
    font-size: 18px;
    text-align: center;
    color: #4A5E73;
}


/* Modal Styles */

/* Form Styles */
.content-inner-section{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
}
.inner-content-header{
    font-size: 18px;
    color: #2C3E50;
    font-family: 'open_sansSemiBold';
    padding: 15px 30px;
    background: #F4F9FB;
    border-radius: 5px;
}
.form-wrapper{
    padding: 30px;
    display: flex;
    flex-direction:column;
    
}
.form-wrapper .form-group{
    width: 100%;
    margin-bottom: 26px;
    align-self: flex-start;
}
.form-wrapper .form-group .form-control{
    max-width: 320px;
    padding: 10px 30px;
    border: 1px solid #D1D1D1;
    box-shadow: none;
}
.form-wrapper .form-group label{
    font-size: 16px;
    color: #4A5E73;
    justify-content: flex-start;
}
.form-wrapper .form-group textarea.form-control{
    height: 140px;
    border-radius: 4px;
}
.textarea-group{
    justify-content: flex-start;
    align-items: flex-start;
}
.textarea-group .col-form-label{
    align-self: flex-start;
}
.filter-wrapper .form-group select.form-control,
.form-group select.form-control{
     -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/icons/selectbox-arrow.png") 93% / 5% no-repeat #F2F7F9;
}

.action-block .btn{
    min-width: 160px;
    height: 55px;
    background: #207EA9;
    color: #fff;
    border-radius: 100px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'open_sansBold';
    align-self: flex-start;
}
.action-block a.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-block .btn.cancel{
    background: #7F8C8D;
}
.action-block .btn.save{
    background: #207EA9;
}
.data-display{
    font-size: 16px;
    color: #2C3E50;
    font-family: 'open_sansSemiBold';
    word-break: break-word;
}

.status-tbl{
    padding: 6px 15px;
    border-radius: 20px;
    background-color: #ccc;
    font-size: 12px;
    color: #fff;
    min-width: 145px;
    display: inline-block;
    text-align: center;
}
.status-tbl.pending,
.status-tbl.ordered {
    background: #EF9035;
}
.status-tbl.approved,
.status-tbl.delivered
 {
    background: #2ECC71;
}
.status-tbl.accepted{
    background: #3498DB;
}
.status-tbl.hold{
    background: #9B59B6;
}
.status-tbl.shipped{
    background: #1ABC9C;
}
.status-tbl.received{
    background: #E84393;
}
.status-tbl.inprogress{
    background: #2D3436;
}
.status-tbl.resulted{
    background: #6C5CE7;
}
.status-tbl.paid{
    background: #27AE60;
}
.status-tbl.inactive,
.status-tbl.returned
{
    background: #E74C3C;
}

.quote-section{
    margin-bottom: 30px;
    align-self: flex-start;
}
.quote-div-section-1{
    padding:30px 20px;
    background: #F2F7F9;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.quote-block{
    min-width: 240px;
    max-width: 20%;
    width: 20%;
    margin-bottom: 20px;
}
.quote-block .quote-label{
    justify-content: flex-start;
    font-size: 16px;
    color: #2C3E50;
    font-family: 'open_sansSemiBold';
    margin-bottom: 10px;
}

.quote-block .data-display{
    font-size: 15px;
    color: #4A5E73;
    font-family: 'open_sansRegular';
}
.quote-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid#D7E5EC;
    margin-bottom: 15px;
}
.quote-row:last-child{
    margin-bottom: 0px;   
    border:none;
}
.label-only .quote-block .quote-label {
    margin-bottom: 0px;
}
.label-heading{
    justify-content: flex-start !important;
    margin-bottom: 20px !important;
    font-size: 16px;
    color: #4A5E73;
}
.separator-line{
    display: flex;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #D7E5EC;
    margin: 30px 0px;
}

.data-section{

}
.data-section .data-display{
    color: #2C3E50;
    align-self: flex-start;
}   
.data-section .col-form-label{
    padding:0px 5px;
}

.datadisplay-table{
    padding: 0px;
}
.datadisplay-table .default-table th {
    font-size: 16px;
    text-align: left;
    color: #2C3E50;
    padding: 20px 20px;
    background: #FDF7F1;
    position: relative;
}
.datadisplay-table .default-table tbody td {
    text-align: left;
    font-size: 15px;
    color: #2C3E50;
    padding: 20px 20px;
    border-bottom: 4px solid #FDF7F1;
    border-top: 2px solid #FDF7F1;
}
.datadisplay-table .default-table tbody tr td:first-child {
    border-left: 4px solid #FDF7F1;
    border-radius: 8px 0px 0px 8px;
}
.datadisplay-table .default-table thead tr th:first-child {
    border-left: 4px solid #FDF7F1;
    border-radius: 8px 0px 0px 8px;
}
.datadisplay-table .default-table tbody tr td:last-child {
    border-right: 4px solid #FDF7F1;
    border-radius: 0px 8px 8px 0px;
}
.datadisplay-table .default-table thead tr th:last-child {
    border-right: 4px solid #FDF7F1;
    border-radius: 0px 8px 8px 0px;
}

.form-view-data .form-wrapper, .form-view-data .content-inner-section{
    padding-bottom: 0px;
}
.quote-div-section-inline{

}
.quote-div-section-inline .quote-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-start;
    width: 100%;
}
.quote-div-section-inline .quote-block {
    max-width: 25%;
    width: 25%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    min-width: 280px;
}
.quote-div-section-inline .quote-block .quote-label {
    margin-right: 30px;
}
.astrix-sym{
    color:red !important;
    align-self: flex-start;
}
.doc-upload-wrapper{
    display: flex;
    flex-direction: row;
    padding:30px;
    flex-wrap: wrap;
}
.doc-holder{
    max-width: 310px;
    min-width: 280px;
    height: 197px;
    max-height: 197px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.doc-holder img{
    width: 100%;
    height: auto;
}
.doc-upload-details{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #EDF5F9;
    border-radius: 0px 0px 5px 5px;
    font-size: 16px;
    color: #2C3E50;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 12;
    padding: 0px 20px;
}

.doc-uploaded-block {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 310px;
    margin-bottom: 30px;
}
.quote-section-2{
    background: #F3F8FA;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'open_sansSemiBold';
    padding: 25px 30px;
    color: #2C3E50;
    display: flex;
}
.list-content-wrapper{
    display: flex;
    flex-direction: column;
}
.list-display-ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.list-display-ul li{
    width: 100%;
    padding: 25px 30px;
    font-size: 17px;
    color: #2C3E50;
    border-bottom: 1px solid #D7E5EC;
    position: relative;
}
.list-display-ul li .list-header{
    font-family: 'open_sansSemiBold';
    color: #2C3E50;
}
.list-display-ul li::before{
    content:"";
    width: 10px;
    height: 10px;
    position: absolute;
    left: 8px;
    top: 33px;
    background-color: #20A3CC;
    border-radius: 100px;
}
.list-display-ul li .text-highlight{
    font-family: 'open_sansSemiBold';
    color: #20a3cc;
}
.list-display p{
    margin-top: 20px;
}
.list-display-ul li .quote-section-2{
    flex-direction: column;
}
.list-display-ul li .quote-section-2 p{
    margin: 0px;
}
.list-display-ul li .quote-section-2 li{
    font-family: 'open_sansRegular';   
}
.agree-block p{
    font-size: 17px;
    color: #4A5E73;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.agree-sign-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.sign-block{
    width: 330px;
    height: 120px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 30px;
}
.sign-block img{
    max-width: 250px;
}
.sign-block .sign-placeholder{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 140px;
    text-align: center;
    color: #bcbdbe;
}
.sign-block .sign-date{
    font-size: 18px;
    color: #2C3E50;
}

.custom-form-wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.status-text{
    font-size: 16px;
    font-family: 'open_sansSemiBold';
}
.status-textactive,
.status-text.delivered
{
    font-size: 16px;
    color: #2ECC71;    
}
.status-text.ordered{
    color: #EF9035;    
}
.status-text.returned{
    color: #E74C3C;    
}

/* Form Styles */

.status-progress-block{
    background: #F2F7F9;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.swabkit-progress-block{
    min-width: 260px;
    max-width: 300px;
    width: 23%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.swabkit-progress-icon{
    width: 80px;
    height: 80px;
    background: #D1D1D1;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    display: flex;
}
.swabkit-progress-icon img{
    display: inline-block;
}
.swabkit-status-info{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: center;
}
.swabkit-status-info p{
   
}
.swabkit-label{
    font-size: 16px;
    font-family: 'open_sansSemiBold';
    color: #2C3E50; 
    margin-bottom: 8px;
}
.swabkit-date{
    font-size: 16px;
    color: #7E8B99;
    margin-bottom: 0px;
}   
.progress-line{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-right: 4%;
}
.progress-line .line{
    height: 2px;
    width: 100%;
    background-color:#D1D1D1;
}
.progress-line.completed .line{
    background-color:#66B04E;
}
.swabkit-progress-block.completed .swabkit-progress-icon,
.swabkit-progress-block.active .swabkit-progress-icon
{
    background: #66B04E;
}
.password-change a{
    color: #2C3E50;
    font-family: 'open_sansRegular';
    text-decoration: underline;
}
.password-change a:hover{
    color: #20A3CC;
}
.profile-display-block{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.profile-details-section{
    display: flex;
    flex-direction: row;
}
.prolife-img-holder{
    width: 140px;
    height: 140px;
    background: #C4C4C4;
    border-radius: 5px;
    overflow: hidden;
}
.profile-info-display{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    justify-content: center;
}
.profile-display-block .action-block
{
    margin-bottom: 0px;
    margin-top: 15px;
}
.profile-display-block .action-block .btn{
    width: 130px;
    height: 45px;
    font-family: 'open_sansRegular';
    text-transform: initial;
    padding: initial;
    font-size: 16px;
}
.profile-display-block .action-block .btn:first-child{
    margin-left: 0px;
}
.action-block .btn.remove{
    background: #E74C3C;
    color: #fff;
}
.action-block .btn.browse{
    background: #66B04E;
    color: #fff;
}
.profile-edit-block{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    
}
.profile-info-display .action-block {
    display: none;
}
.profile-display-block.edit .action-block {
    display: block;
}
.profile-display-block.edit .profile-edit-block {
    display: none;
}

.form-group .password-input{
    max-width: 340px;
    position: relative;
}
.form-group  .password-input::after{
    display: none;
}
.form-group .password-show {
    right: 30px !important;
}
.filter-wrapper .form-group .form-control{

}

.filter-wrapper .form-group .datepicker,
.form-wrapper .form-group .datepicker
{
    position: relative;
    border-radius: 100px;
    background: #F2F7F9;
}
.filter-wrapper .form-group .datepicker .form-control,
.form-wrapper .form-group .datepicker .form-control
{
    background: transparent;
    border: 1px solid #D1D1D1;
    box-shadow: none;
    padding: 10px 15px;
    font-size: 16px;
    position: relative;
    z-index: 1;
}
.form-wrapper .form-group .datepicker {
    width: 100%;
    max-width: 320px;
}


.filter-wrapper .form-group .datepicker::after,
.form-wrapper .form-group .datepicker::after
{
    content:"";
    position: absolute;
    right: 15px;
    top: 14px;
    width: 22px;
    height: 22px;
    background:url("../images/icons/datepicker-form.png") transparent center no-repeat;
    cursor: pointer;
}


/* Custom Checkbox and Radio */
.custom-checkbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.checkbox-block{
    margin-right:20px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.checkbox-block input{
    position:absolute;
    width:1px;
    height: 1px;
    opacity: 0;
}
.checkbox-block label{
    padding-left: 40px;
    position: relative;
}
.custom-checkbox.radio .checkbox-block label::before{
    content:"";
    width:20px;
    height:20px;
    border: 1px solid #A1A1A1;
    border-radius: 50%;
    position: absolute;
    left:5px;
}
.custom-checkbox.radio .checkbox-block input:checked + label::before{
    border: 3px solid #EF9035;
}
.custom-checkbox .checkbox-block label::before{
    content:"";
    width:20px;
    height:20px;
    border: 1px solid #A1A1A1;
    border-radius: 4px;
    position: absolute;
    left:5px;
}
.custom-checkbox .checkbox-block label:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 17px;
    width: 6px;
    height: 14px;
    border: solid #EF9035;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    box-shadow: 3px 2px 0px #fff;
    z-index: 10;
    background-color: #f4fafa;
    display: none;
}
.custom-checkbox .checkbox-block input:checked + label::before{
    border: 2px solid #EF9035;
}
.custom-checkbox .checkbox-block input:checked + label::after{
    display: block;
}



/* Custom Checkbox and Radio */


/* .form-wrapper .form-inline .form-inline {
    padding-left:0px;
} */





/* Contractor Styles */

.action-block .btn.add-big{
    width:auto;
    margin: 0px;
    height: auto;
}
.secondary-phys-block{
    display: flex;
    flex-direction: column;        
}
.secondary-phys-block{

}
.inner-content-header.delete-blk{
    position: relative;
    padding: 4px 30px;
    padding-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-content-header.delete-blk .delete-btn{
    width: 46px;
    min-width: 44px;
    height: 44px;
    background: url(../images/icons/delete-wht.png) no-repeat transparent center;
    background-color: #E74C3C;
    border-radius: 6px;
    margin-left: auto;
    cursor:pointer;
}
.form-wrapper .form-group .datepicker{
    padding:0px;
}
.patient-quote-checkbox{

}
.quote-row .form-control{
    width: 320px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 120px;
}
.other-checkbox{
    padding: 20px 0px;
}
.other-checkbox .form-group {
    margin-bottom: 0px;
}
input[type="text"]:disabled.form-control {
    background: #dddddd;
  }
  .insurance-edit .quote-block{
    max-width: initial;
    width: 100%;
  }
  .insurance-edit .quote-row .form-control {
    width: 100%;
    background-color: #fff;
  }

  .insurance-edit .quote-block .quote-label {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.insurance-edit .quote-block .form-group {
    width: 100%;
    margin-bottom: 0px;
}
.doc-upload-wrapper.cancer-req{

}
.doc-holder.empty{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FBFDFE;
    border: 1px dashed #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    min-width: 280px;
}
.doc-holder.empty img{
    width: auto;
}
.doc-holder.empty input[type="file"]{
    position: absolute;
    opacity: 0;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.doc-delete{
    color: white;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    background: #E74C3C;
    border-radius: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}

.patient-quote-checkbox .custom-checkbox .checkbox-block label::before{
    content:"";
    background-color: #fff;
}


.sign-block.empty .sign-placeholder {
    width: 206px;
    position: initial;
}
.sign-block.empty {
    border: 1px dashed #D1D1D1;
}
.checkbox-block {
    margin-right: 30px;
}
.swab-kit-check .checkbox-block{
    margin-bottom: 10px;
}



/* Employee Styles */



/* sayed family-form */

.family-medical-stepper{
	background: #FFFFFF;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
	border-radius: 5px;
	width:100%;
	height: 80px;
	min-height: 80px;
}
.family-medical-stepper span {
    /* font-family: open_sansLight; */
}
.stepper1, .stepper2, .stepper3{
	text-align:center;
}
div.step-number p {
    margin-bottom: 0;
    width: 40px;
    height: 40px;
	align-items: center;
    align-self: center;
    justify-content: center;
    display: flex;
	background: #F4F9FB;
	border-radius: 100%;
	color: #2C3E50;
}
.step-number.active p {
    border: 1px solid #66B04E;
	background: #fff;
}
.step-number {
    text-align: center;
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: -20px;
	margin-bottom: 15px;
}
.family-medical-stepper span{
	font-size: 18px;
}
.no-padding{
	padding-left:0px !important;
	padding-right:0px !important;
}
.nopad-right{
	padding-right:0px !important;
}
.nopad-left{
	padding-left:0px !important;
}
.step-number:after {
    background: #E5EFF3;
    content: '';
    height: 2px;
    width: 91.2%;
    position: absolute;
    right: -46%;
    top: 0;
}
.step-number.stepper-completed:after  {
    background: #66B04E;
    content: '';
}
.stepper3 .step-number:after {
    display:none;
}
.separator-line.sp-line2 {
    margin-top: 16px;
	margin-left: 1.2%;
    margin-right: 1.2%;
}
.stretch-label span{
	font-size: 16px;
    color: #4A5E73;
}
.stretch-label span b{
    color: #2c3e50;
}
.form-wrapper .form-group .form-control.age-inp {
    width: 150px;
    margin-left: 16px;
}
.form-wrapper .form-group .dtp .form-control{
	width: 257px;
	padding-right: 47px;
}
.form-wrapper .form-group .datepicker.dtp {
    width: auto;
	margin-left: 25px;
    max-width: unset;
}
/* .family-form-d-form .custom-checkbox .checkbox-block label:after {
    top: 14px;
} */
.form-wrapper.family-detail .form-group .form-control {
    max-width: 100%;
	width: 100%;
    padding: 10px 20px;
    border: 1px solid #D1D1D1;
    box-shadow: none;
	border-radius: 10px;
}
.form-wrapper.family-detail .form-inline{
	margin-right:10px;
	max-width: unset;
    width: 16%;
}
.form-wrapper.family-detail .form-inline.age-family{
	max-width: 100px;
	width: 100px;
}
.form-wrapper.family-detail .btn.a-h {
    background: #20A3CC;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
	width: 18%;
	margin-left:0;
	padding:10px 20px;
}
.form-wrapper.family-detail label{
	text-align: center;
    width: 100%;
    justify-content: center;
	color: #2C3E50;
    font-weight: bold;
}
.form-wrapper.family-detail {
    padding: 10px 25px 10px 30px;
}
.form-wrapper.family-detail .form-group {
    margin-bottom: 0px;
}
.form-wrapper.family-detail.fd-heading {
    background: #fdf7f1;
}
.form-wrapper.family-detail {
    background: #fff;
	border:3px solid #fdf7f1;
	border-top:0px solid #fdf7f1;
}
.delete-icon {
    background: #E74C3C;
    align-items: center;
    display: flex;
    width: 50px;
    justify-content: center;
    height: 50px;
    border-radius: 10px;
	cursor:pointer;
}
.family-form-modal .modal-dialog {
    max-width: 500px;
    margin: 6.75rem auto;
}
.family-form-modal .modal-footer {
    border-top: 0;
}
.family-form-modal .modal-footer{
	justify-content:center;
	padding-bottom:40px;
}

.family-form-modal .modal-body {
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 0px;
}
.family-form-modal .modal-body h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #207EA9;
	margin:21px 0px 16px 0px;
}
.family-form-modal .modal-body p {
font-size: 16px;
line-height: 22px;
color: #4A5E73;
margin-bottom:0;
}
.family-form-modal button.btn {
    background: #207EA9;
	margin-top:26px;
	border:1px solid #207EA9;
}
.family-form-modal .modal-content {
    border-radius: 10px;
}
.step-number.stepper-completed p{
	background: #66B04E;
	color:#fff;
}
.step-number.stepper-completed:after{
	background: #66B04E;
    content: '';
}

/* Types of forms 13-02 */
.role-select-fullpage .role-select-innerblock .role-select-each {
    width: 33.3%;
}

.form-wrapper.emp-module-swat{
	flex-direction:row;
}
.form-wrapper.family-detail .form-inline.age-family.del-icon {
    max-width: 50px;
    width: 50px;
    min-width: 50px;
}

.table-sort{
    position: absolute;
    right: unset;
    left: unset;
    margin-left: 10px;
}
.text-date-field {
    float: left;
    width: auto;
    display: flex;
}
.form-wrapper.family-frm-wrapper .form-group label {
    height: 28px;
}
.family-frm-wrapper .checkbox-block {
    align-items: center;
    align-self: center;
}
.form-wrapper.family-detail .row {
    flex-direction: row;
    flex-wrap: initial;
}
.dummy-icon{
    opacity: 0;
}

.family-frm-wrapper .custom-checkbox .checkbox-block label:after{
    content: "";
    top: 2px;
}


/* 14-2 */
.heredit-clr input[type="text"]:disabled.form-control {
    background: #F4F4F4;
}
.herid-form-modal .modal-body{
	display:flex;
}
.herid-form-modal .modal-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
}
.herid-form-modal .modal-header {
    padding: 16px 30px;
}
.family-form-modal.herid-form-modal .modal-dialog {
    max-width: 44%;
    margin: 6.75rem auto;
}
.herid-form-modal .data-display {
    width: 54%;
	margin-bottom:0;
}
.family-form-modal.herid-form-modal button.btn {
    margin-top: 0;
}
.herid-form-modal h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #2C3E50;
	margin:0;
}
.family-form-modal.herid-form-modal button.btn {
    width: 22%;
}
.family-form-modal.herid-form-modal p {
    font-size: 16px;
    line-height: 22px;
    color: #4A5E73;
	font-weight: 300;
}
.menu-list-block li.list-item:last-child {
    border-right: unset;
}
/* for - patient constent page space */
.patient-constant-wrapper .action-block{
	margin-top:0;
}
.patient-constant-wrapper .content-inner-section {
    padding-bottom: 0px;
}
.status-space {
    padding-left: 20px!important;
}
/*/for - patient constent page space */




.error {
  font-size: 14px;
  color: #c00;
}


/* Form Builder Css */
#builder .form-group .form-control,
.component-edit-container .form-group .form-control
{
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: none;
}


/* Form Builder Css 

#builder .btn{
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin:0px;
    min-width: initial;
}
#builder .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
#builder  .btn-block+.btn-block{
    margin-top: .5rem;
}
#builder .formcomponents .formcomponent {
    text-align: left;
    padding: 5px 5px 5px 8px;
    margin-top: .2rem;
    font-size: .8em;
    line-height: 1.2;
    border-radius: .3em;
    height:auto;
}
#builder .btn-group-xxs>.btn, #builder .btn-xxs, #builder .component-btn-group .component-settings-button {
    padding: 2px 2px;
    font-size: 10px;
    line-height: 1.2em;
    border-radius: 0;
    width: 18px;
    height: 18px;
    margin: 4px 4px 0 0;
}
#builder .btn-secondary{
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}
#builder .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

 Form Builder Css */


 .doc-upload-wrapper {
    display: flex;
    flex-direction: row;
    padding: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
}
.doc-inner-wrapp {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

#reset{
    position: absolute;
    top: 0;
    right: 0;
}

#p-reset{
    position: absolute;
    top: 0;
    right: 0;
}


.prolife-img-holder img {width: 100%;}

.action-block .btn.browse{position:relative;}
input#imgInp {
    position: absolute;
    margin: auto;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    cursor: pointer;
    opacity: 0;
}


input.form-control.age-inp{padding: 10px 25px !important;}
.delete-icon{margin-left: 10px;}
.form-wrapper.family-detail .form-inline.age-family {width: 90px !important;}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.label_for_uploadsignature{
    max-width: 320px;
    padding: 10px 30px;
    border: 1px solid #D1D1D1;
    box-shadow: none;
    font-size: 16px !important;
    color: #3E4347 !important;
    height: 50px !important;
    border-radius: 100px;
    width: 100%;
    font-family: open_sansSemiBold;
    position: relative;
    background: #F2F7F9;
}
label.label_for_uploadsignature:after {
    content: "";
    position: absolute;
    right: 15px;
    top: 14px;
    width: 22px;
    height: 22px;
    background: url(../images/icons/upload_file.png) transparent center no-repeat;
    cursor: pointer;
    z-index: 12;
}
label.error{
    color: red !important;
}

.preview-modal-header {
    border: 0px;
}

#preview-modal .modal-body{
    max-height: 400px;
    overflow: auto;
    padding-top: unset;
}
.patient_eye {
    margin-left: 5px;
}

#preview-modal .preview-img {
    width: 100%;
    padding-bottom: 10px;
}

.reportrange .datepicker input{
    font-size: 14px !important;
}

.default-table tbody td .action-tb.download {
    background:url('../images/icons/download-tb.png') center transparent no-repeat;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}