<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
  <section class="content-section">
        <h2 class="content-header">List Of Contractors</h2>
        <form action="/reports/contractor/1" id="contractorFilter" autocomplete="off">
            <div class="filter-wrapper">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" name="fullName" value="<%=fullName%>"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email Address" name="email" value="<%=email%>"/>
                </div>
                <input type='hidden' name="orderBy" />
                <input type='hidden' name="export" id="export" value="false" />
                <div class="filter-action-block">
                    <button class="btn btn-nrml filter" id="submit">Filter</button>
                    <button type="button" onclick="location.href = '/reports/contractor/1'" class="btn btn-nrml reset">Reset</button>

                </div>
                <button type="button" class="btn btn-nrml add-new" onclick="exportFile();">Export File</button>
            </div>
        </form>
        <div class="table-wrapper">
            <div class="table-responsive">
                <table class="default-table">
                <thead>
                    <tr>
                    <th>S.No</th>
                    <th>Full Name
                        <span class="table-sort" onclick="sortTable('fullName');"></span></th>
                    <th>CONT ID
                        <span class="table-sort" onclick="sortTable('constractorId');"></span></th>
                    <th>Phone Number
                        <span class="table-sort" onclick="sortTable('phoneNo');"></span></th>
                    <th>Email Address
                        <span class="table-sort" onclick="sortTable('email');"></span></th>
                    <th>Address
                        <span class="table-sort" onclick="sortTable('streetAddress');"></span></th>
                    <!-- <th class="text-center">Actions</span> -->
                    </th>

                </tr>
                </thead>
                <tbody>
                    <%if(data.length == 0){%>
                        <tr>
                            <td colspan="7" style="border: none !important;">
                                <h3 class="text-center" style="color: #ddd;">No results are available.</h3>
                            </td>
                        </tr>
                    <%}%>
                    <% data.forEach(function(item, i){ %>
                        <tr>
                            <td><%= (current - 1) * perPage + i + 1 %></td>
                            <td><%- item.fullName %></td>
                            <td><%- item.constractorId %></td>
                            <td><%- item.phoneNo %></td>
                            <td><%- item.email %></td>
                            <td><%- item.streetAddress %></td>
                            <!-- <td class="text-center">
                            <a href="/contractor/view/<%= item.id%>/<%= current%>" class="action-tb view"></a>
                            <a href="/contractor/edit/<%= item.id%>/<%= current%>" class="action-tb edit"></a>
                            <a onclick="deleteContractor(<%= item.id%>)" class="action-tb delete"></a>
                            </td> -->
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            </div>
            <div class="tbl-pagination-block">
                <% if (pages > 0) { %>
                    <div class="pagination">
                        <% if (current == 1) { %>
                            <a class="prev">&#8249;</a>
                        <% } else { %>
                            <a href="/reports/contractor/1<%queryUrl%>" class="next">&#8249;</a>
                        <% } %>
                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                        <% if (i !== 1) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                            <% if (i == current) { %>
                                <!-- <li class="active"><a><%= i %></a></li> -->
                                <a class="active"><%= i %></a>
                            <% } else { %>
                                <a href="/reports/contractor/<%= i %><%queryUrl%>"><%= i %></a>
                                <!-- <li><a href="/products/<%= i %>"><%= i %></a></li> -->
                            <% } %>
                            <% if (i == Number(current) + 4 && i < pages) { %>
                                <li class="disabled"><a>...</a></li>
                            <% } %>
                        <% } %>
                        <% if (current == pages) { %>
                            <!-- <li class="disabled"><a>Last</a></li> -->
                            <a class="prev">&#8250;</a>
                        <% } else { %>
                            <a href="/reports/contractor/<%= pages %><%queryUrl%>" class="next">&#8250;</a>
                        <% } %>
                    </ul>
                <% } %>
            </div>
        </div>
    </section>
</div>

<%- include('../../layouts/footer.ejs') %>

<!-- Modal Add New - Role Popup -->


<script>
    var orderBy = <%-JSON.stringify(orderBy)%>
    console.log("orderBy ", orderBy);

    function sortTable(columnName) {
        if (orderBy[0] == columnName) {
            orderBy[1] = orderBy[1] == 'DESC' ? 'ASC' : 'DESC';
        } else {
            orderBy[0] = columnName;
            orderBy[1] = 'DESC';
        }

        console.log("orderBy ", orderBy);
        var $form = $("#contractorFilter");
        $form.find('input[name="orderBy"]').val(JSON.stringify(orderBy));
        $("#submit").click();
    }

    function exportFile(){
        $('#export').val('true');
        $("#submit").click();
        $('#export').val('false');
    }
</script>