<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
    <section class="content-section">
        <h2 class="content-header">List of Genetix Employees</h2>
        <form action="/reports/employee/1" id="employeeFilter" autocomplete="off">
            <div class="filter-wrapper">
                <div class="form-group">
                    <input type="text" class="form-control" name="fullName" value="<%=fullName%>" placeholder="Full Name">
                </div>                    
                <div class="form-group">
                    <input type="text" class="form-control" name="email" value="<%=email%>" placeholder="Email Address">
                </div>
                <div class="form-group select-input">
                    <select class="form-control" name="status">
                        <option value="">Select Status</option>
                        <option value="true" <%=status == 'true' ? 'selected': ''%>>Active</option>
                        <option value="false" <%=status == 'false' ? 'selected': ''%>>Inactive</option>
                    </select>
                </div> 
                <div class="form-group select-input">
                    <select class="form-control" name="permission">
                        <option value="">Select Permission</option>
                        <option value="canedit" <%=permission == 'canedit' ? 'selected': ''%>>Can Edit</option>
                        <option value="canview" <%=permission == 'canview' ? 'selected': ''%>>Can View</option>
                    </select>
                </div>
                <input type='hidden' name="orderBy" />
                <input type='hidden' name="export" id="export" value="false" />
                <div class="filter-action-block">
                    <button class="btn btn-nrml filter" id="submit">Filter</button>
                    <button type="button" onclick="location.href = '/reports/employee/1'" class="btn btn-nrml reset">Reset</button>
                </div>
                <button type="button" class="btn btn-nrml add-new" onclick="exportFile();">Export File</button>
            </div>
        </form>

        <div class="table-wrapper">
            <div class="table-responsive">
                <table class="default-table">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Emp Name<span class="table-sort" onclick="sortTable('fullName');"></span></th>
                            <th>Emp #<span class="table-sort" onclick="sortTable('employeeNo');"></span></th>
                            <th>Mobile Number<span class="table-sort" onclick="sortTable('phoneNo');"></span></th>
                            <th>Email Address<span class="table-sort" onclick="sortTable('email');"></span></th>
                            <th>Permission</th>
                            <th class="text-center">Status</span></th>
                            <!-- <th class="text-center">Actions </span></th> -->

                        </tr>
                    </thead>
                    <tbody>
                        <%if(data.length == 0){%>
                            <tr>
                                <td colspan="8" style="border: none !important;">
                                    <h3 class="text-center" style="color: #ddd;">No results are available.</h3>
                                </td>
                            </tr>
                        <%}%>
                        <% data.forEach(function(item, i){ %>
                            <tr>
                                <td><%= (current - 1) * perPage + i + 1 %></td>
                                <td><%- item.fullName %></td>
                                <td><%- item.employeeNo %></td>
                                <td><%- item.phoneNo %></td>
                                <td><%- item.email %></td>
                                <td><%- item.permission %></td>
                                <% if(item.status == true) { %>
                                    <td class="text-center"><span class="status-tbl approved">Active</span></td>
                                <%} else {%>
                                    <td class="text-center"><span class="status-tbl inactive">Inactive</span></td>
                                <%}%>
                            </tr>
                        <% }) %>                   
                    </tbody>
                </table>
            </div>
            <div class="tbl-pagination-block">
                <% if (pages > 0) { %>
                    <div class="pagination">
                        <% if (current == 1) { %>
                            <a class="prev">&#8249;</a>
                        <% } else { %>
                            <a href="/reports/employee/1<%queryUrl%>" class="next">&#8249;</a>
                        <% } %>
                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                        <% if (i !== 1) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                            <% if (i == current) { %>
                                <a class="active"><%= i %></a>
                            <% } else { %>
                                <a href="/reports/employee/<%= i %><%queryUrl%>"><%= i %></a>
                            <% } %>
                            <% if (i == Number(current) + 4 && i < pages) { %>
                                <li class="disabled"><a>...</a></li>
                            <% } %>
                        <% } %>
                        <% if (current == pages) { %>
                            <a class="prev">&#8250;</a>
                        <% } else { %>
                            <a href="/reports/employee/<%= pages %><%queryUrl%>" class="next">&#8250;</a>
                        <% } %>
                    </ul>
                <% } %>
            </div>
        </div>
    </section>
</div>

<%- include('../../layouts/footer.ejs') %>

<script>
    var orderBy = <%-JSON.stringify(orderBy)%>
    console.log("orderBy ", orderBy);

    function sortTable(columnName) {
        if (orderBy[0] == columnName) {
            orderBy[1] = orderBy[1] == 'DESC' ? 'ASC' : 'DESC';
        } else {
            orderBy[0] = columnName;
            orderBy[1] = 'DESC';
        }

        console.log("orderBy ", orderBy);
        var $form = $("#employeeFilter");
        $form.find('input[name="orderBy"]').val(JSON.stringify(orderBy));
        $("#submit").click();
    }

    function exportFile(){
        $('#export').val('true');
        $("#submit").click();
        $('#export').val('false');
    }
</script>