<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
    <section class="content-section">
        <h2 class="content-header">Test On Hold Report</h2>
        <form action="/reports/holdon/1" id="patientFilter" autocomplete="off">
            <div class="filter-wrapper">
                <input type='hidden' name="orderBy" />
                <input type='hidden' name="export" id="export" value="false" />
                <div class="form-group select-input">
                    <select class="form-control" name="labId">
                        <option value="">Lab</option>
                        <%labList.forEach(function(item){%>
                            <option value="<%=item.id%>" <%=item.id == labId? 'selected': ''%>><%=item.labName%></option>
                        <%})%>
                    </select>
                </div>
                <div class="form-group select-input">
                    <select class="form-control" name="contractorId">
                        <option value="">Contractor Name</option>
                        <%contractorList.forEach(function(item){%>
                            <option value="<%=item.id%>" <%=item.id == contractorId? 'selected': ''%>><%=item.fullName%></option>
                        <%})%>
                    </select>
                </div>
                <div class="form-group select-input">
                    <select class="form-control" name="physicianId">
                        <option value="">Doctor</option>
                        <%physicianList.forEach(function(item){%>
                            <option value="<%=item.id%>" <%=item.id == physicianId? 'selected': ''%>><%=item.name%></option>
                        <%})%>
                    </select>
                </div>
                <div class="form-group select-input">
                    <select class="form-control" name="testStatus">
                        <option value="">Status</option>
                        <option value="Dr.Approval Pending" <%= testStatus=="Dr.Approval Pending" ? "selected": ''%>>Dr.Approval Pending</option>
                        <option value="Doctor Approved" <%= testStatus=="Doctor Approved" ? "selected": ''%>>Doctor Approved</option>
                        <option value="Test Accepted" <%= testStatus=="Test Accepted" ? "selected": ''%>>Test Accepted</option>
                        <option value="Test on Hold" <%= testStatus=="Test on Hold" ? "selected": ''%>>Test on Hold</option>
                        <option value="Test Shipped to Lab" <%= testStatus=="Test Shipped to Lab" ? "selected": ''%>>Test Shipped to Lab</option>
                        <option value="Test Received by Lab" <%= testStatus=="Test Received by Lab" ? "selected": ''%>>Test Received by Lab</option>
                        <option value="Test Inprogress at Lab" <%= testStatus=="Test Inprogress at Lab" ? "selected": ''%>>Test Inprogress at Lab</option>
                        <option value="Test Resulted" <%= testStatus=="Test Resulted" ? "selected": ''%>>Test Resulted</option>
                        <option value="Paid" <%= testStatus=="Paid" ? "selected": ''%>>Paid</option>
                    </select>
                </div>
                <div class="form-group reportrange">
                    <div class="datepicker">
                        <input class="form-control" type="text" name="daterange" value="<%=daterange%>" />
                    </div>
                    <span></span>
                        <!-- <i class="fa fa-caret-down"> -->
                </div>
                <div class="filter-action-block">
                    <button id="submit" class="btn btn-nrml filter">Filter</button>
                    <button type="button" onclick="location.href = '/reports/holdon/1'" class="btn btn-nrml reset">Reset</button>
                </div>
                <button type="button" class="btn btn-nrml add-new"  onclick="exportFile();">Export File</button>
            </div>
        </form>


        <div class="table-wrapper">
            <div class="table-responsive">
                <table class="default-table">
                    <thead>
                        <tr>
                            <th>Partner Name <span class="table-sort" onclick="sortTable('partnerId', 'userModel');"></span></th>
                            <th>Contractor Name
                                <span class="table-sort" onclick="sortTable('fullName', 'userModel');"></span>
                            </th>
                            <th>Patient Name
                                <span class="table-sort" onclick="sortTable('firstName');"></span>
                            </th>
                            <th>Patient DoB<span class="table-sort" onclick="sortTable('dob');"></span></th>
                            <th>On Hold Date<span class="table-sort" onclick="sortTable('dob');"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%if(data.length == 0){%>
                            <tr>
                                <td colspan="9" style="border: none !important;">
                                    <h3 class="text-center" style="color: #ddd;">No results are available.</h3>
                                </td>
                            </tr>
                        <%}%>
                        <% data.forEach(function(item, i){%>
                            <tr>
                                <td><%= item['agent.partnerName'] %></td>
                                <td><%= item['agent.fullName'] %></td>
                                <td><%= item.firstName %> <%= item.lastName %></td>
                                <td><%= moment(item.dob).format( 'MMM-DD-YYYY') %></td>
                                <!-- <td><%= item.phoneNo %></td> -->
                                <td><%= item.onHold ? moment(item.onHold).format( 'MMM-DD-YYYY'):'-' %></td>
                                <!-- <td><%= item['physician.name'] %></td> -->
                                <!-- <td><%= item['physician.phoneNo'] %></td> -->
                                <!-- <td><%= item['physician.FaxNo'] %></td> -->
                            </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
            <div class="tbl-pagination-block">
                <% if (pages > 0) { %>
                    <ul class="pagination">
                        <% if (current == 1) { %>
                            <a  class="prev">&#8249;</a>
                        <% } else { %>
                            <a href="/reports/holdon/1<%queryUrl%>" class="next">&#8249;</a>
                        <% } %>
                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                        <% if (i !== 1) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                            <% if (i == current) { %>
                                <!-- <li class="active"><a><%= i %></a></li> -->
                                <a class="active"><%= i %></a>
                            <% } else { %>
                                <a href="/reports/holdon/<%= i %><%queryUrl%>"><%= i %></a>
                                <!-- <li><a href="/products/<%= i %>"><%= i %></a></li> -->
                            <% } %>
                            <% if (i == Number(current) + 4 && i < pages) { %>
                                <li class="disabled"><a>...</a></li>
                            <% } %>
                        <% } %>
                        <% if (current == pages) { %>
                            <!-- <li class="disabled"><a>Last</a></li> -->
                            <a class="prev">&#8250;</a>
                        <% } else { %>
                            <a href="/reports/holdon/<%= pages %><%queryUrl%>" class="next">&#8250;</a>
                        <% } %>
                    </ul>
                <% } %>
            </div>
        </div>
    </section>
</div>

<%- include('../../layouts/footer.ejs') %>

<script>
//  console.log("moment() ", moment(new date));
    $('#datepicker1').datepicker({autoclose: true,todayHighlight: true,format: 'mm/dd/yyyy',endDate: new Date()});
    $('#datepicker2').datepicker({autoclose: true,todayHighlight: true,format: 'mm/dd/yyyy',endDate: new Date()});
    var orderBy = <%-JSON.stringify(orderBy)%>
    console.log("orderBy ", orderBy);

    function sortTable(columnName, model) {
        if (orderBy[0] == columnName) {
            orderBy[1] = orderBy[1] == 'DESC' ? 'ASC' : 'DESC';
        } else {
            orderBy[0] = columnName;
            orderBy[1] = 'ASC';
        }

        if (model) {
            orderBy[2] = model;
        } else {
            orderBy.splice(2, 1);
        }

        console.log("orderBy ", orderBy);
        var $form = $("#patientFilter");
        $form.find('input[name="orderBy"]').val(JSON.stringify(orderBy));
        $("#submit").click();
    }

    function exportFile(){
        $('#export').val('true');
        $("#submit").click();
        $('#export').val('false');
    }

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('input[name="daterange"]').daterangepicker({
        // startDate: '',
        // endDate: '',
        maxDate: end,
        // autoUpdateInput: false,
        locale: {
            cancelLabel: 'Clear'
        },
        ranges: {
        // 'Today': [moment(), moment()],
        // 'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

    $('input[name="daterange"]').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });

    var range = '<%=daterange%>';
    console.log("range ", range);
    //  $('input[name="daterange"]').val('');
    if (!range) {
        $('input[name="daterange"]').val('');
    }
</script>