<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
  <section class="content-section">
    <h2 class="content-header">List Of Laboratory</h2>
    <form action="/reports/lab/1" id="labFilter" method="get">
      <div class="filter-wrapper">
        <div class="form-group">
            <input type="text" class="form-control" name="labName" value="<%=labName%>" placeholder="Full Name">
        </div>                    
        <div class="form-group">
            <input type="text" class="form-control" name="email" value="<%=email%>" placeholder="Email Address">
        </div>
        <!-- <div class="form-group select-input">
          <select class="form-control">
            <option>Services</option>
            <option>Service 1</option>
          </select>
        </div> -->
        <!-- <div class="form-group select-input">
          <select class="form-control">
            <option>State</option>
            <option>New York</option>
          </select>
        </div> -->
        <input type='hidden' name="orderBy" />
        <input type='hidden' name="export" id="export" value="false" />
        <div class="filter-action-block">
          <button id="submit" class="btn btn-nrml filter">Filter</button>
          <button type="button" onclick="location.href = 'reports/lab/1'" class="btn btn-nrml reset">Reset</button>

        </div>
        <!-- <button class="btn btn-nrml add-new" data-toggle="modal" data-target="#addNewRoleModal">Add New</button> -->
        <button type="button" class="btn btn-nrml add-new" onclick="exportFile();">Export File</button>
      </div>
    </form>

    <div class="table-wrapper">
      <div class="table-responsive">
        <table class="default-table">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Laboratory Name
                <span class="table-sort" onclick="sortTable('labName');"></span></th>
              <th>Name of Contact
                <span class="table-sort" onclick="sortTable('nameOfContact');"></span></th>
              <th>Services<span class="table-sort" onclick="sortTable('offeredService');"></span></th>
              <th>Phone Number<span class="table-sort" onclick="sortTable('phoneNo');"></span></th>
              <th>Email Address
                <span class="table-sort" onclick="sortTable('email');"></span></th>

            </tr>
          </thead>
          <tbody>
            <%if(data.length == 0){%>
              <tr>
                  <td colspan="7" style="border: none !important;">
                      <h3 class="text-center" style="color: #ddd;">No results are available.</h3>
                  </td>
              </tr>
            <%}%>
            <% data.forEach(function(item, i){%>
              <tr>
                <td><%= (current - 1) * perPage + i + 1 %></td>
                <td><%= item.labName %></td>
                <td><%= item.nameOfContact %></td>
                <td><%= item.offeredService %></td>
                <td><%= item.phoneNo %></td>
                <td><%= item.email %></td>
              </tr>
            <%})%>
          </tbody>
        </table>
      </div>
      <div class="tbl-pagination-block">
        <% if (pages > 0) { %>
          <ul class="pagination">
              <% if (current == 1) { %>
                  <a  class="prev">&#8249;</a>
              <% } else { %>
                  <a href="/reports/lab/1<%queryUrl%>" class="next">&#8249;</a>
              <% } %>
              <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
              <% if (i !== 1) { %>
                  <li class="disabled"><a>...</a></li>
              <% } %>
              <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                  <% if (i == current) { %>
                      <!-- <li class="active"><a><%= i %></a></li> -->
                      <a class="active"><%= i %></a>
                  <% } else { %>
                      <a href="/reports/lab/<%= i %><%queryUrl%>"><%= i %></a>
                      <!-- <li><a href="/products/<%= i %>"><%= i %></a></li> -->
                  <% } %>
                  <% if (i == Number(current) + 4 && i < pages) { %>
                      <li class="disabled"><a>...</a></li>
                  <% } %>
              <% } %>
              <% if (current == pages) { %>
                  <!-- <li class="disabled"><a>Last</a></li> -->
                  <a class="prev">&#8250;</a>
              <% } else { %>
                  <a href="/reports/lab/<%= pages %><%queryUrl%>" class="next">&#8250;</a>
              <% } %>
          </ul>
        <% } %>
      </div>
    </div>
  </section>

</div>

<%- include('../../layouts/footer.ejs') %>
<script>
  var orderBy = <%-JSON.stringify(orderBy)%>

  function sortTable(columnName) {
      if (orderBy[0] == columnName) {
          orderBy[1] = orderBy[1] == 'DESC' ? 'ASC' : 'DESC';
      } else {
          orderBy[0] = columnName;
          orderBy[1] = 'DESC';
      }

      console.log("orderBy ", orderBy);
      var $form = $("#labFilter");
      $form.find('input[name="orderBy"]').val(JSON.stringify(orderBy));
      $("#submit").click();
  };

  function exportFile(){
    $('#export').val('true');
    $("#submit").click();
    $('#export').val('false');
  }
</script>