<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
    <section class="content-section">
        <h2 class="content-header">Patient Reports</h2>
        <form action="/reports/patients/1" id="patientFilter" autocomplete="off">
            <div class="filter-wrapper">
                <div class="form-group">
                    <% if(session.role != 'admin'){%>
                        <input type="text" class="form-control" placeholder="Patient Name" name="name" value="<%= name %>">
                    <%} else {%>
                        <input type="text" class="form-control" placeholder="Contractor Name" name="name" value="<%= name %>">
                    <%}%>
                </div>
                <input type='hidden' name="orderBy" />
                <input type='hidden' name="export" id="export" value="false" />
                <div class="form-group ">
                    <div class="datepicker">
                        <input type="text" class="form-control" id="datepicker1" placeholder="Submission Date" name="submissionDate" value="<%= submissionDate? moment(submissionDate).format('MM/DD/YYYY'): ''%>">    
                    </div>
                </div>
                <div class="form-group select-input">
                    <select class="form-control" name="testStatus">
                        <option value="">Status</option>
                        <option value="Dr.Approval Pending" <%= testStatus=="Dr.Approval Pending" ? "selected": ''%>>Dr.Approval Pending</option>
                        <option value="Doctor Approved" <%= testStatus=="Doctor Approved" ? "selected": ''%>>Doctor Approved</option>
                        <option value="Test Accepted" <%= testStatus=="Test Accepted" ? "selected": ''%>>Test Accepted</option>
                        <option value="Test on Hold" <%= testStatus=="Test on Hold" ? "selected": ''%>>Test on Hold</option>
                        <option value="Test Shipped to Lab" <%= testStatus=="Test Shipped to Lab" ? "selected": ''%>>Test Shipped to Lab</option>
                        <option value="Test Received by Lab" <%= testStatus=="Test Received by Lab" ? "selected": ''%>>Test Received by Lab</option>
                        <option value="Test Inprogress at Lab" <%= testStatus=="Test Inprogress at Lab" ? "selected": ''%>>Test Inprogress at Lab</option>
                        <option value="Test Resulted" <%= testStatus=="Test Resulted" ? "selected": ''%>>Test Resulted</option>
                        <option value="Paid" <%= testStatus=="Paid" ? "selected": ''%>>Paid</option>
                    </select>
                </div>
                <div class="form-group select-input">
                    <div class="datepicker">
                        <input type="text" class="form-control" id="datepicker2" placeholder="DOB" name="dob" value="<%= dob? moment(dob).format('MM/DD/YYYY'): ''%>">    
                    </div>
                    <!-- <select class="form-control" name="gender">
                        <option value="">Gender</option>
                        <option value="male" <%= gender=="male" ? "selected": ''%>>Male</option>
                        <option value="female" <%= gender=="female" ? "selected": ''%>>Female</option>
                        <option value="others" <%= gender=="others" ? "selected": ''%>>Others</option>
                    </select> -->
                </div>
                <div class="filter-action-block">
                    <button id="submit" class="btn btn-nrml filter">Filter</button>
                    <button type="button" onclick="location.href = '/reports/patients/1'" class="btn btn-nrml reset">Reset</button>
                    <!-- <button class="btn btn-nrml add-new" data-toggle="modal" data-target="#addNewRoleModal">Add New</button> -->
                </div>
                <button type="button" class="btn btn-nrml add-new"  onclick="exportFile();">Export File</button>
            </div>
        </form>


        <div class="table-wrapper">
            <div class="table-responsive">
                <table class="default-table">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Submission Date
                                <span class="table-sort" onclick="sortTable('submissionDate');"></span>
                            </th>
                            <!-- <th>Patient ID<span class="table-sort"></span></th> -->
                            <th>Patient Name <span class="table-sort" onclick="sortTable('firstName');"></span></th>
                            <th>Email <span class="table-sort" onclick="sortTable('email');"></span></th>
                            <th>Gender<span class="table-sort" onclick="sortTable('gender');"></span></th>
                            <th>DOB<span class="table-sort" onclick="sortTable('dob');"></span></th>
                            <th>Phone Number<span class="table-sort" onclick="sortTable('phoneNo');"></span></th>
                            <th class="text-center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%if(data.length == 0){%>
                            <tr>
                                <td colspan="9" style="border: none !important;">
                                    <h3 class="text-center" style="color: #ddd;">No results are available.</h3>
                                </td>
                            </tr>
                        <%}%>
                        <% data.forEach(function(item, i){%>
                            <tr>
                                <td><%= (current - 1) * perPage + i + 1 %></td>
                                <td><%= item.submissionDate ? moment(item.submissionDate).format( 'MMM-DD-YYYY'): '-' %></td>
                                <!-- <td>PAT 789</td> -->
                                <td><%= item.firstName %> <%= item.lastName %></td>
                                <td><%= item.email %> </td>
                                <td><%= item.gender %></td>
                                <td><%= moment(item.dob).format( 'MMM-DD-YYYY') %></td> 
                                <td><%= item.phoneNo %></td>
                                <td class="text-center">
                                    <!-- <span class="status-tbl pending"><%= item.testStatus %></span> -->
                                    <%if(item.testStatus == 'Dr.Approval Pending'){%>
                                        <span class="status-tbl pending">Dr.Approval Pending</span>
                                    <%}else if(item.testStatus == 'Doctor Approved'){%>
                                        <span class="status-tbl approved">Doctor Approved</span>
                                    <%}else if(item.testStatus == 'Test Accepted'){%>
                                        <span class="status-tbl accepted">Test Accepted</span>
                                    <%}else if(item.testStatus == 'Test on Hold'){%>
                                        <span class="status-tbl hold">Test on Hold</span>
                                    <%}else if(item.testStatus == 'Test Shipped to Lab'){%>
                                        <span class="status-tbl shipped">Test Shipped to Lab</span>
                                    <%}else if(item.testStatus == 'Test Received by Lab'){%>
                                        <span class="status-tbl received">Test Received by Lab</span>
                                    <%}else if(item.testStatus == 'Test Inprogress at Lab'){%>
                                        <span class="status-tbl inprogress">Test Inprogress at Lab</span>
                                    <%}else if(item.testStatus == 'Test Resulted'){%>
                                        <span class="status-tbl resulted">Test Resulted</span>
                                    <%}else if(item.testStatus == 'Paid'){%>
                                        <span class="status-tbl paid">Paid</span>
                                    <%}%>
                                </td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
            <div class="tbl-pagination-block">
                <% if (pages > 0) { %>
                    <div class="pagination">
                        <% if (current == 1) { %>
                            <a class="prev">&#8249;</a>
                        <% } else { %>
                            <a href="/reports/patients/1<%queryUrl%>" class="next">&#8249;</a>
                        <% } %>
                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                        <% if (i !== 1) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                            <% if (i == current) { %>
                                <!-- <li class="active"><a><%= i %></a></li> -->
                                <a class="active"><%= i %></a>
                            <% } else { %>
                                <a href="/reports/patients/<%= i %><%queryUrl%>"><%= i %></a>
                                <!-- <li><a href="/products/<%= i %>"><%= i %></a></li> -->
                            <% } %>
                            <% if (i == Number(current) + 4 && i < pages) { %>
                                <li class="disabled"><a>...</a></li>
                            <% } %>
                        <% } %>
                        <% if (current == pages) { %>
                            <!-- <li class="disabled"><a>Last</a></li> -->
                            <a class="prev">&#8250;</a>
                        <% } else { %>
                            <a href="/reports/patients/<%= pages %><%queryUrl%>" class="next">&#8250;</a>
                        <% } %>
                    </ul>
                <% } %>
            </div>
        </div>
    </section>
</div>

<%- include('../../layouts/footer.ejs') %>

<script>
//  console.log("moment() ", moment(new date));
    $('#datepicker1').datepicker({autoclose: true,todayHighlight: true,format: 'mm/dd/yyyy',endDate: new Date()});
    $('#datepicker2').datepicker({autoclose: true,todayHighlight: true,format: 'mm/dd/yyyy',endDate: new Date()});
    var orderBy = <%-JSON.stringify(orderBy)%>
    console.log("orderBy ", orderBy);

    function sortTable(columnName) {
        if (orderBy[0] == columnName) {
            orderBy[1] = orderBy[1] == 'DESC' ? 'ASC' : 'DESC';
        } else {
            orderBy[0] = columnName;
            orderBy[1] = 'ASC';
        }

        console.log("orderBy ", orderBy);
        var $form = $("#patientFilter");
        $form.find('input[name="orderBy"]').val(JSON.stringify(orderBy));
        $("#submit").click();
    }

    function exportFile(){
        $('#export').val('true');
        $("#submit").click();
        $('#export').val('false');
    }
</script>