<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
  <section class="content-section">
        <h2 class="content-header">Reports</h2>
        
        <div class="widgets-wrapper">
            <a href="/reports/newSubmission/1">                
                <div class="widget-block-each wid-1">
                    <div class="widget-image-holder">
                        <img src="/assets/images/widget-icon/wid-2.png">
                    </div>
                    <div class="widget-info">
                        <p></p>
                        <label class="widget-label">New Submissions Reports</label>
                    </div>
                </div>
            </a>
            <a href="/reports/payroll/1"> 
                <div class="widget-block-each wid-2">
                    <div class="widget-image-holder">
                        <img src="/assets/images/widget-icon/wid-2.png">
                    </div>
                    <div class="widget-info">
                        <p></p>
                        <label class="widget-label">Payroll Reports</label>
                    </div>
                </div>
            </a>

            <a href="/reports/resulted/1"> 
                <div class="widget-block-each wid-3">
                    <div class="widget-image-holder">
                        <img src="/assets/images/widget-icon/wid-2.png">
                    </div>
                    <div class="widget-info">
                        <p></p>
                        <label class="widget-label">Test Resulted Reports</label>
                    </div>
                </div>
            </a>

            <a href="/reports/holdon/1"> 
                <div class="widget-block-each wid-4">
                    <div class="widget-image-holder">
                        <img src="/assets/images/widget-icon/wid-2.png">
                    </div>
                    <div class="widget-info">
                        <p></p>
                        <label class="widget-label">Test On Hold Reports</label>
                    </div>
                </div>
            </a>

            <a href="/reports/insurance/1">                
                <div class="widget-block-each wid-5">
                    <div class="widget-image-holder">
                        <img src="/assets/images/widget-icon/wid-2.png">
                    </div>
                    <div class="widget-info">
                        <p></p>
                        <label class="widget-label">Insurance Reports</label>
                    </div>
                </div>
            </a>
            <a href="/reports/adhoc/1">
                <div class="widget-block-each wid-6">
                    <div class="widget-image-holder">
                        <img src="assets/images/widget-icon/wid-2.png">
                    </div>
                    <div class="widget-info">
                        <p></p>
                        <label class="widget-label">Ad-Hoc Reports</label>
                    </div>
                </div>
            </a>
            <!-- <a href="/reports/contractor/1">                
                <div class="widget-block-each wid-1">
                    <div class="widget-image-holder">
                        <img src="/assets/images/widget-icon/wid-2.png">
                    </div>
                    <div class="widget-info">
                        <p></p>
                        <label class="widget-label">Contractor Reports</label>
                    </div>
                </div>
            </a> -->

            <!-- <a href="/reports/employee/1"> 
                <div class="widget-block-each wid-2">
                    <div class="widget-image-holder">
                        <img src="/assets/images/widget-icon/wid-2.png">
                    </div>
                    <div class="widget-info">
                        <p></p>
                        <label class="widget-label">Employee Reports</label>
                    </div>
                </div>
            </a>

            <a href="/reports/lab/1"> 
                <div class="widget-block-each wid-3">
                    <div class="widget-image-holder">
                        <img src="/assets/images/widget-icon/wid-2.png">
                    </div>
                    <div class="widget-info">
                        <p></p>
                        <label class="widget-label">Lab Reports</label>
                    </div>
                </div>
            </a>

            <a href="/reports/physician/1"> 
                <div class="widget-block-each wid-4">
                    <div class="widget-image-holder">
                        <img src="/assets/images/widget-icon/wid-2.png">
                    </div>
                    <div class="widget-info">
                        <p></p>
                        <label class="widget-label">Physician Reports</label>
                    </div>
                </div>
            </a>

            <a href="/reports/patients/1">                
                <div class="widget-block-each wid-5">
                    <div class="widget-image-holder">
                        <img src="/assets/images/widget-icon/wid-2.png">
                    </div>
                    <div class="widget-info">
                        <p></p>
                        <label class="widget-label">Patient Reports</label>
                    </div>
                </div>
            </a>
            <a href="/reports/swapkit/1">
                <div class="widget-block-each wid-6">
                    <div class="widget-image-holder">
                        <img src="assets/images/widget-icon/wid-2.png">
                    </div>
                    <div class="widget-info">
                        <p></p>
                        <label class="widget-label">Swap Kits Reports</label>
                    </div>
                </div>
            </a> -->
        </div>
    </section>
</div>

<%- include('../../layouts/footer.ejs') %>
