<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
    <section class="content-section">
        <h2 class="content-header">List Of Swab KIT</h2>
        <form action="/reports/swapkit/1" id="swapFilter" method="get">
        <div class="filter-wrapper">
            <div class="form-group">
                <input type="text" class="form-control" name="patientName" value="<%=patientName%>" placeholder="Patient Name">
            </div>                    
            <div class="form-group select-input">
                    <select class="form-control" name="orderStatus">
                        <option value="">Order Status</option>
                        <option value="ordered" <%= orderStatus=="ordered" ? "selected": ''%>>Ordered</option>
                        <option value="delivered" <%= orderStatus=="delivered" ? "selected": ''%>>Delivered</option>
                        <option value="returned" <%= orderStatus=="returned" ? "selected": ''%>>Returned</option>
                    </select>
                </div>
            <input type='hidden' name="orderBy" />
            <input type='hidden' name="export" id="export" value="false" />
            <div class="filter-action-block">
            <button id="submit" class="btn btn-nrml filter">Filter</button>
            <button type="button" onclick="location.href = '/reports/swapkit/1'" class="btn btn-nrml reset">Reset</button>
    
            </div>
            <button type="button" class="btn btn-nrml add-new" onclick="exportFile();">Export File</button>
        </div>
        </form>
    
        <div class="table-wrapper">
        <div class="table-responsive">
            <table class="default-table">
            <thead>
                <tr>
                <th>S.No</th>
                <th>Order Number
                    <span class="table-sort" onclick="sortTable('orderNo');"></span></th>
                <th>Patient Name    
                    <span class="table-sort" onclick="sortTable('patient.firstName');"></span></th>
                <th>Gender
                    <span class="table-sort" onclick="sortTable('patient.gender');"></span></th>
                <th>Order Status<span class="table-sort" onclick="sortTable('orderStatus');"></span></th>
                <th>Ordered Date<span class="table-sort" onclick="sortTable('orderDate');"></span></th>
    
                </tr>
            </thead>
            <tbody>
                <%if(data.length == 0){%>
                <tr>
                    <td colspan="7" style="border: none !important;">
                        <h3 class="text-center" style="color: #ddd;">No results are available.</h3>
                    </td>
                </tr>
                <%}%>
                <% data.forEach(function(item, i){%>
                <tr>
                    <td><%= (current - 1) * perPage + i + 1 %></td>
                    <td><%= item.orderNo %></td>
                    <td><%= item["patient.firstName"] %> <%= item["patient.lastName"] %></td>
                    <td><%= item["patient.gender"] %></td>
                    <td>
                        <%if(item.orderStatus == 'ordered'){%>
                            <span class="status-tbl ordered">Ordered</span>
                        <%}else if(item.orderStatus == 'delivered'){%>
                            <span class="status-tbl delivered">Delivered</span>
                        <%}else {%>
                            <span class="status-tbl returned">Returned</span>
                        <%}%>
                    </td>
                    <td><%= moment(item.orderDate).format( 'MMM-DD-YYYY') %></td>
                </tr>
                <%})%>
            </tbody>
            </table>
        </div>
        <div class="tbl-pagination-block">
            <% if (pages > 0) { %>
            <div class="pagination">
                <% if (current == 1) { %>
                    <a  class="prev">&#8249;</a>
                <% } else { %>
                    <a href="/reports/swapkit/1<%queryUrl%>" class="next">&#8249;</a>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                        <!-- <li class="active"><a><%= i %></a></li> -->
                        <a class="active"><%= i %></a>
                    <% } else { %>
                        <a href="/reports/swapkit/<%= i %><%queryUrl%>"><%= i %></a>
                        <!-- <li><a href="/products/<%= i %>"><%= i %></a></li> -->
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                <% } %>
                <% if (current == pages) { %>
                    <!-- <li class="disabled"><a>Last</a></li> -->
                    <a class="prev">&#8250;</a>
                <% } else { %>
                    <a href="/reports/swapkit/<%= pages %><%queryUrl%>" class="next">&#8250;</a>
                <% } %>
            </ul>
            <% } %>
        </div>
        </div>
    </section>
    
</div>

<%- include('../../layouts/footer.ejs') %>

<script>
    var orderBy = <%-JSON.stringify(orderBy)%>
    console.log("orderBy ", orderBy);
  
    function sortTable(columnName) {
        if (orderBy[0] == columnName) {
            orderBy[1] = orderBy[1] == 'DESC' ? 'ASC' : 'DESC';
        } else {
            orderBy[0] = columnName;
            orderBy[1] = 'DESC';
        }
  
        console.log("orderBy ", orderBy);
        var $form = $("#swapFilter");
        $form.find('input[name="orderBy"]').val(JSON.stringify(orderBy));
        $("#submit").click();
    }

    function exportFile(){
        $('#export').val('true');
        $("#submit").click();
        $('#export').val('false');
    }
</script>