<link rel='stylesheet' href='https://unpkg.com/formiojs@latest/dist/formio.full.min.css'>
<script src='https://unpkg.com/formiojs@latest/dist/formio.full.min.js'></script>

<script type='text/javascript'>
    var form = <%-JSON.stringify(data)%>;
    var formComponent = form.formFields ? form.formFields: [];
    window.onload = function() {
        Formio.builder(document.getElementById('builder'), 
            {
                "title": "My Wizard",
                display: "form",
                components:  form.formFields
            }).then((builder) => {
            console.log("result ", builder);
            Formio.createForm(document.getElementById('formio'), {components: form.formFields}).then(function(instance) {
            console.log("instance ==>createForm", instance);
            //   var json = document.getElementById('json');
            // instance.on('change', function() {
            //     // alert('enter');
            //     console.log("instance ", instance);
            //     json.innerHTML = '';
            //     json.appendChild(document.createTextNode(JSON.stringify(instance.submission, null, 4)));
            // });
            builder.on('change', function(schema) {
                console.log("wizard ", builder);
                console.log("schema ", schema);
                console.log('json stringify', JSON.stringify(schema.components));
                if (schema.components) {
                formComponent = schema.components;
                instance.form = schema;
                }
            });
            });
        });
        
    };
    function updateForm(){
        console.log("formComponent ", formComponent);
        var reqObj = {};
        reqObj.dynamicForm = formComponent;
        reqObj.id = "<%= data.id %>";

        axios.post('/update/form', reqObj).then(result=> {
            toastr.success("Updated Successfully", "Success");
            setTimeout(function() {
                location.href ='/form/list';
            }, 1000);
        })
//         $.ajax({
//             type: 'POST',
//             data: JSON.stringify(reqObj),
//             contentType: 'application/json',
//             url: '/update/form',						
//             success: function(data) {
//                 location.href ='/form/list';
//             },
//             error: function (textStatus, errorThrown) {
//  console.log("errorThrown ", errorThrown);
//  console.log("textStatus ", textStatus);
//             }
//         });
    };
</script>

<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
  <section class="content-section">
    <h2 class="content-header"><%= data.testName %></h2>
    <div class="custom-form-wrapper">
      <!-- <img src="/assets/images/custom-form-img.png"> -->
        <div class="card card-body bg-light">
            <div id="builder"></div>
        </div>
        <br/>
        <h4>Preview Form</h4>
        <div class="card card-body bg-light">
            <div id="formio"></div>
        </div>
        <div class="action-block col-12">
            <!-- <button class="btn nrml-btn cancel">Cancel</button> -->
            <button class="btn nrml-btn save" onclick="updateForm()">Update</button>
        </div>
        <!-- <h4>Submission Data</h4>
        <div class="card card-body bg-light jsonviewer">
            <pre id="json"></pre>
        </div> -->
    </div>
  </section>
</div>

<%- include('../../layouts/footer.ejs') %>
