<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
  <section class="content-section">
    <h2 class="content-header">Custom Form</h2>
    <div class="role-select-block role-select-fullpage">
      <div class="role-select-innerblock">
        <% data.forEach(function(item){ %>
        <div class="role-select-each">
          <a href="/form/add/<%= item.id %>" class="role-select">
            <% if(item.testName == 'CGX Test'){ %>
            <img src="/assets/images/icons/CGX-test.png">
            <% } else if(item.testName == 'Myocardio Test') {%>
              <img src="/assets/images/icons/myocardio-test.png">
            <% } else { %>
              <img src="/assets/images/icons/agent-role.png">
            <% } %>
            <p class=""><%= item.testName %></p>
          </a>
        </div>
        <% }) %>
        <!-- <div class="role-select-each">
          <a href="#" class="role-select">
            <img src="/assets/images/icons/myocardio-test.png">
            <p class="">Myocardio Test</p>
          </a>
        </div>
        <div class="role-select-each">
          <a href="#" class="role-select">
            <img src="/assets/images/icons/agent-role.png">
            <p class="">PDA Test</p>
          </a>
        </div> -->
        <div class="role-select-each">
          <a href="#" class="role-select">
            <img src="/assets/images/icons/custom-form.png">
            <p class="">Add New Custom Form</p>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include('../../layouts/footer.ejs') %>
