<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
  <section class="content-section">
    <h2 class="content-header">Add New Contractor</h2>
    <div class="content-inner-section">
        <h2 class="inner-content-header">Basic Information</h2>
        <form action="/api/v1/create/contractor" id="contractorForm" method="post" autocomplete="off">
            <div class="form-wrapper">
                <div class="row">
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">Business Name<span class="astrix-sym">*</span></label>
                        <input type="text" class="form-control col-sm-8" name="fullName" placeholder="Business Name" value="" required/>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">Contact Name<span class="astrix-sym">*</span></label>
                        <input type="text" class="form-control col-sm-8" name="pharmacyName" value="" placeholder="Contact Name" required/>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">Contractor ID<span class="astrix-sym">*</span></label>
                        <input type="text" class="form-control col-sm-8" name="constractorId" placeholder="ID" value="" required/>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">Email Address<span class="astrix-sym">*</span></label>
                        <input type="email" class="form-control col-sm-8" pattern="^([0-9]{9})|([A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3})$" name="email" placeholder="Email Address" value="" required/>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">Business NPI/NPN</label>
                        <input type="text" class="form-control col-sm-8" name="pharmacyNpi" value="" placeholder="Business NPI/NPN" />
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">Business EIN/SSN<span class="astrix-sym">*</span></label>
                        <input type="text" class="form-control col-sm-8" id="businessein" name="businessEin" value="" placeholder="Business EIN/SSN" required/>
                        </div>
                    </div>
                    <!-- <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-4 col-form-label">DOB</label>
                            <div class="datepicker">
                            <input type="text" class="form-control" id="datepicker1" name="dob" placeholder="Date">
                            </div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-4 col-form-label">Gender</label>
                            <div class="custom-checkbox ">
                            <div class="checkbox-block">
                                <input id="radio-1" class="radio-type" type="radio" name="gender" value="male">
                                <label for="radio-1">Male</label>
                            </div>
                            <div class="checkbox-block">
                                <input id="radio-2" class="radio-type" type="radio" name="gender" value="female">
                                <label for="radio-2">Female</label>
                            </div>
                            <div class="checkbox-block">
                                <input id="radio-3" class="radio-type" type="radio" name="gender" value="others">
                                <label for="radio-3">Others</label>
                            </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row textarea-group">
                        <label class="col-sm-4 col-form-label">Street Address<span class="astrix-sym">*</span></label>
                        <textarea class="form-control col-sm-8" name="streetAddress" row="4" required></textarea>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">Phone Number<span class="astrix-sym">*</span></label>
                        <input type="text" class="form-control col-sm-8" name="phoneNo" id="phoneNo" placeholder="Phone Number" value="" required/>
                        </div>
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">User Name<span class="astrix-sym">*</span></label>
                        <input type="text" class="form-control col-sm-8" name="userName" placeholder="User Name" value="" required/>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-4 col-form-label">Fax Number</label>
                            <input type="text" id="fax_no" class="form-control col-sm-8" name="FaxNo" placeholder="Fax Number" value="">
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">City<span class="astrix-sym">*</span></label>
                        <input type="text" class="form-control col-sm-8" name="city" placeholder="City" value="" required/>
                        <!-- <select class="form-control col-sm-8" >
                            <option>NY</option>
                            <option>CA</option>
                            <option>GA</option>
                            <option>SC</option>
                            <option>NC</option>
                            <option>FL</option>
                        </select> -->
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">State<span class="astrix-sym">*</span></label>
                        <!-- <input type="text" class="form-control col-sm-8" name="state" placeholder="State" value="" required/> -->
                        <select class="form-control col-sm-8"  name="state" required>
                            <option value="">Select State</option>
                            <%states.forEach(function(item){%>
                                <option><%=item%></option>
                            <%})%>
                        </select>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">Zip Code<span class="astrix-sym">*</span></label>
                        <input type="text" id="zipcode" minlength="5" class="form-control col-sm-8" name="zipcode" placeholder="Zip Code" required>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">NCPA Member?<span class="astrix-sym">*</span></label>
                        <div class="custom-checkbox radio">
                            <div class="checkbox-block">
                                <input id="2radio-1" class="radio-type" type="radio" value="yes" name="ncpa" required/>
                                <label for="2radio-1">Yes</label>
                            </div>
                            <div class="checkbox-block">
                                <input id="2radio-2" class="radio-type" type="radio" value="no" name="ncpa" required/>
                                <label for="2radio-2">No</label>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-4 col-form-label">Partner Name</label>
                            <input type="text" class="form-control col-sm-8" name="partnerName" placeholder="Partner Name" value=""/>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-4 col-form-label">Partner ID</label>
                            <input type="text" class="form-control col-sm-8" name="partnerId" placeholder="Partner ID" value=""/>
                        </div>
                    </div>
                    <div>
                        <input type="hidden" name="position" value="<%= params.position%>">
                        <input type="hidden" name="role" value="contractor">
                    </div>

                    <div class="action-block col-12">
                        <!-- <a href="/contractor/list/<%=params.page%>" class="btn nrml-btn cancel">Cancel</a> -->
                        <a onclick="window.history.back();" class="btn nrml-btn cancel">Cancel</a>
                        <button class="btn nrml-btn save">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </section>
</div>

<%- include('../../layouts/footer.ejs') %>
<script>
    $('#datepicker1').datepicker({autoclose: true,todayHighlight: true,format: 'mm/dd/yyyy',endDate: new Date()});
    $('#zipcode').mask('00000-0000');
    $('#phoneNo').mask('000-000-0000', {clearIfNotMatch: true});
    $('#businessein').mask('00-0000000', {clearIfNotMatch: true});
    $('#fax_no').mask('000-000-0000', {clearIfNotMatch: true});
</script>