<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
  <section class="content-section">
    <h2 class="content-header">Edit Contractor</h2>
    <div class="content-inner-section">
        <h2 class="inner-content-header">Basic Information</h2>
        <form onsubmit="onSubmit(event)" id="contractorForm" autocomplete="off">
            <div class="form-wrapper">
                <div class="row">
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">Business Name<span class="astrix-sym">*</span></label>
                        <input type="text" class="form-control col-sm-8" name="fullName" placeholder="Business Name" value="<%=data.fullName%>" required/>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">Contact Name<span class="astrix-sym">*</span></label>
                        <input type="text" class="form-control col-sm-8" name="pharmacyName" value="<%=data.pharmacyName%>" placeholder="Contact Name" required/>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">Contractor ID<span class="astrix-sym">*</span></label>
                        <input type="text" class="form-control col-sm-8" name="constractorId" placeholder="ID" value="<%=data.constractorId%>" required/>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">Email Address<span class="astrix-sym">*</span></label>
                        <input type="email" class="form-control col-sm-8" pattern="^([0-9]{9})|([A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3})$" name="email" placeholder="Email Address" value="<%=data.email%>" required/>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">Business NPI/NPN</label>
                        <input type="text" class="form-control col-sm-8" name="pharmacyNpi" value="<%=data.pharmacyNpi%>" placeholder="Business NPI/NPN" />
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">Business EIN/SSN<span class="astrix-sym">*</span></label>
                        <input type="text" class="form-control col-sm-8" id="businessein" name="businessEin" value="<%=data.businessEin%>" placeholder="Business EIN/SSN" required/>
                        </div>
                    </div>
                    <!-- <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-4 col-form-label">DOB</label>
                            <div class="datepicker">
                            <input type="text" class="form-control" id="datepicker1" name="dob" value="<%=data.dob? moment(data.dob).format('MM/DD/YYYY'): ''%>" placeholder="Date">
                            </div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-4 col-form-label">Gender</label>
                            <div class="custom-checkbox ">
                            <div class="checkbox-block">
                                <input id="radio-1" class="radio-type" type="radio" name="gender" <%=data.gender =='male'? "checked": ''%> value="male">
                                <label for="radio-1">Male</label>
                            </div>
                            <div class="checkbox-block">
                                <input id="radio-2" class="radio-type" type="radio" name="gender" <%=data.gender =='female'? "checked": ''%> value="female">
                                <label for="radio-2">Female</label>
                            </div>
                            <div class="checkbox-block">
                                <input id="radio-3" class="radio-type" type="radio" name="gender" <%=data.gender =='others'? "checked": ''%> value="others">
                                <label for="radio-3">Others</label>
                            </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row textarea-group">
                        <label class="col-sm-4 col-form-label">Street Address<span class="astrix-sym">*</span></label>
                        <textarea class="form-control col-sm-8" name="streetAddress" row="4" required/><%=data.streetAddress%></textarea>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">Phone Number<span class="astrix-sym">*</span></label>
                        <input type="text" class="form-control col-sm-8" name="phoneNo" placeholder="Phone Number" id="phoneNo" value="<%=data.phoneNo%>" required/>
                        </div>
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">User Name<span class="astrix-sym">*</span></label>
                        <input type="text" class="form-control col-sm-8" name="userName" placeholder="User Name" value="<%=data.userName%>" readonly required/>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-4 col-form-label">Fax Number</label>
                            <input type="text" id="fax_no" class="form-control col-sm-8" name="FaxNo" placeholder="Fax Number" value="<%=data.FaxNo%>">
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">City<span class="astrix-sym">*</span></label>
                        <input type="text" class="form-control col-sm-8" name="city" placeholder="City" value="<%=data.city%>" required/>
                        <!-- <select class="form-control col-sm-8" >
                            <option>NY</option>
                            <option>CA</option>
                            <option>GA</option>
                            <option>SC</option>
                            <option>NC</option>
                            <option>FL</option>
                        </select> -->
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">State<span class="astrix-sym">*</span></label>
                        <!-- <input type="text" class="form-control col-sm-8" name="state" placeholder="State" value="<%=data.state%>" required/> -->
                        <select class="form-control col-sm-8"  name="state" required/>
                            <%states.forEach(function(item){%>
                                <option <%=data.state == item? "selected": ''%>><%=item%></option>
                            <%})%>
                            <!-- <option <%=data.state =='CA'? "selected": ''%>>CA</option> -->
                            <!-- <option <%=data.state =='GA'? "selected": ''%>>GA</option> -->
                            <!-- <option <%=data.state =='SC'? "selected": ''%>>SC</option> -->
                            <!-- <option <%=data.state =='NC'? "selected": ''%>>NC</option> -->
                            <!-- <option <%=data.state =='FL'? "selected": ''%>>FL</option> -->
                        </select>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-4 col-form-label">Zip Code<span class="astrix-sym">*</span></label>
                            <input type="text" id="zipcode" minlength="5" class="form-control col-sm-8" name="zipcode" placeholder="Zip Code" value="<%=data.zipcode%>" required/>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                        <label class="col-sm-4 col-form-label">NCPA Member?<span class="astrix-sym">*</span></label>
                        <div class="custom-checkbox radio">
                            <div class="checkbox-block">
                                <input id="2radio-1" class="radio-type" type="radio" value="yes" name="ncpa" <%=data.ncpa =='yes'? "checked": ''%> required/>
                                <label for="2radio-1">Yes</label>
                            </div>
                            <div class="checkbox-block">
                                <input id="2radio-2" class="radio-type" type="radio" value="no" name="ncpa" <%=data.ncpa =='no'? "checked": ''%> required/>
                                <label for="2radio-2">No</label>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-4 col-form-label">Partner Name</label>
                            <input type="text" class="form-control col-sm-8" name="partnerName" placeholder="Partner Name" value="<%=data.partnerName%>"/>
                        </div>
                    </div>
                    <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-4 col-form-label">Partner ID</label>
                            <input type="text" class="form-control col-sm-8" name="partnerId" placeholder="Partner ID" value="<%=data.partnerId%>"/>
                        </div>
                    </div>

                    <div class="action-block col-12">
                        <a onclick="window.history.back();" class="btn nrml-btn cancel">Cancel</a>
                        <button class="btn nrml-btn save">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </section>
</div>

<%- include('../../layouts/footer.ejs') %>
<script>
    $('#datepicker1').datepicker({autoclose: true,todayHighlight: true,format: 'mm/dd/yyyy',endDate: new Date()});
    $('#zipcode').mask('00000-0000');
    $('#phoneNo').mask('000-000-0000', {clearIfNotMatch: true});
    $('#businessein').mask('00-0000000', {clearIfNotMatch: true});
    $('#fax_no').mask('000-000-0000', {clearIfNotMatch: true});
    function onSubmit(e) {
        e.preventDefault();
        var data = $('#contractorForm').serializeJSON();
        data['id'] = "<%=data.id%>";
        console.log("e ==>onSubmit", data);
        // return false;
        axios.post('/api/v1/update/contractor', data).then(resp=> {
            var data = resp.data;
            console.log("data ", data);
            toastr.success(data.msg, "Success");
            setTimeout(function() {
                location.href ='/contractor/list/<%=params.page%>';
            }, 1000);
        }).catch(err=> {
            var err = err.response.data;
            console.log("err ", err);
            toastr.warning(err.msg ? err.msg: "Something went wrong", "Error");
        })
    }
</script>