<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
  <section class="content-section">
        <h2 class="content-header">List Of Contractors</h2>
        <form action="/contractor/list/1" id="contractorFilter" autocomplete="off">
            <div class="filter-wrapper">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" name="fullName" value="<%=fullName%>"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email Address" name="email" value="<%=email%>"/>
                </div>
                <!-- <div class="form-group select-input">
                    <select class="form-control" name="gender">
                        <option value="">Select Gender</option>
                        <option value="male" <%=gender == 'male' ? 'selected': ''%>>Male</option>
                        <option value="female" <%=gender == 'female' ? 'selected': ''%>>Female</option>
                        <option value="others"<%=gender == 'others' ? 'selected': ''%>>Others</option>
                    </select>
                </div> -->
                <input type='hidden' name="orderBy" />
                <!-- <div class="form-group select-input">
                    <select class="form-control">
                    <option>ID</option>
                    <option>Admin</option>
                    </select>
                </div> -->
                <div class="filter-action-block">
                    <button class="btn btn-nrml filter" id="submit">Filter</button>
                    <button type="button" onclick="location.href = '/contractor/list/1'" class="btn btn-nrml reset">Reset</button>

                </div>
                <button type="button" class="btn btn-nrml add-new" data-toggle="modal" data-target="#addNewRoleModal">Add New</button>
            </div>
        </form>
        <div class="table-wrapper">
            <div class="table-responsive">
                <table class="default-table">
                <thead>
                    <tr>
                    <th>S.No</th>
                    <th>Business Name
                        <span class="table-sort" onclick="sortTable('fullName');"></span></th>
                    <th>CONT ID
                        <span class="table-sort" onclick="sortTable('constractorId');"></span></th>
                    <th>Phone Number
                        <span class="table-sort" onclick="sortTable('phoneNo');"></span></th>
                    <th>Email Address
                        <span class="table-sort" onclick="sortTable('email');"></span></th>
                    <th>Address
                        <span class="table-sort" onclick="sortTable('streetAddress');"></span></th>
                    <th class="text-center">Actions</span>
                    </th>

                </tr>
                </thead>
                <tbody>
                    <%if(data.length == 0){%>
                        <tr>
                            <td colspan="7" style="border: none !important;">
                                <h3 class="text-center" style="color: #ddd;">No results are available.</h3>
                            </td>
                        </tr>
                    <%}%>
                    <% data.forEach(function(item, i){ %>
                        <tr>
                            <td><%= (current - 1) * perPage + i + 1 %></td>
                            <td><%- item.fullName %></td>
                            <td><%- item.constractorId %></td>
                            <td><%- item.phoneNo %></td>
                            <td><%- item.email %></td>
                            <td><%- item.streetAddress %></td>
                            <td class="text-center">
                            <a href="/contractor/view/<%= item.id%>/<%= current%>" class="action-tb view"></a>
                            <a href="/contractor/edit/<%= item.id%>/<%= current%>" class="action-tb edit"></a>
                            <a onclick="deleteContractor(<%= item.id%>)" class="action-tb delete"></a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            </div>
            <div class="tbl-pagination-block">
                <% if (pages > 0) { %>
                    <div class="pagination">
                        <% if (current == 1) { %>
                            <a class="prev">&#8249;</a>
                        <% } else { %>
                            <a href="/contractor/list/1<%=queryUrl%>" class="next">&#8249;</a>
                        <% } %>
                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                        <% if (i !== 1) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                            <% if (i == current) { %>
                                <!-- <li class="active"><a><%= i %></a></li> -->
                                <a class="active"><%= i %></a>
                            <% } else { %>
                                <a href="/contractor/list/<%= i %><%=queryUrl%>"><%= i %></a>
                                <!-- <li><a href="/products/<%= i %>"><%= i %></a></li> -->
                            <% } %>
                            <% if (i == Number(current) + 4 && i < pages) { %>
                                <li class="disabled"><a>...</a></li>
                            <% } %>
                        <% } %>
                        <% if (current == pages) { %>
                            <!-- <li class="disabled"><a>Last</a></li> -->
                            <a class="prev">&#8250;</a>
                        <% } else { %>
                            <a href="/contractor/list/<%= pages %><%=queryUrl%>" class="next">&#8250;</a>
                        <% } %>
                    </ul>
                <% } %>
            </div>
        </div>
    </section>
</div>

<%- include('../../layouts/footer.ejs') %>

<!-- Modal Add New - Role Popup -->

<div class="modal modal-default" tabindex="-1" role="dialog" id="addNewRoleModal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please Select the Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="role-select-block">
                    <div class="role-select-innerblock">
                        <div class="role-select-each">
                            <a href="/contractor/add/interviewer/<%= current%>" class="role-select">
                                <img src="/assets/images/icons/interviewer-role.png">
                                <p class="">Interviewer</p>
                            </a>
                        </div>
                        <div class="role-select-each">
                            <a href="/contractor/add/viewer/<%= current%>" class="role-select">
                                <img src="/assets/images/icons/viewer-role.png">
                                <p class="">Viewer</p>
                            </a>
                        </div>
                        <div class="role-select-each">
                            <a href="/contractor/add/agent/<%= current%>" class="role-select">
                                <img src="/assets/images/icons/agent-role.png">
                                <p class="">Agent</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>

<script>
    var orderBy = <%-JSON.stringify(orderBy)%>
    console.log("orderBy ", orderBy);
    function deleteContractor(id) {
        var confirmReault = confirm("Are you sure you want to delete?");
        if (confirmReault == false) {
            return false;
        }
        axios.delete('/api/v1/delete/contractor', {params:{ id: id }}).then(resp=> {
            toastr.success("Deleted Successfully", "Success");
            setTimeout(() => {
                location.href = "/contractor/list/1"
            }, 1000);
        }, err=> {
            toastr.error(err.response.data ? err.response.data.msg: "Contractor Not Found", "Error");
        });
    }

    function sortTable(columnName) {
        if (orderBy[0] == columnName) {
            orderBy[1] = orderBy[1] == 'DESC' ? 'ASC' : 'DESC';
        } else {
            orderBy[0] = columnName;
            orderBy[1] = 'DESC';
        }

        console.log("orderBy ", orderBy);
        var $form = $("#contractorFilter");
        $form.find('input[name="orderBy"]').val(JSON.stringify(orderBy));
        $("#submit").click();
    }
</script>