<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
    <section class="content-section">
        <h2 class="content-header">Contractor Detail</h2>
        <div class="content-inner-section">
            <h2 class="inner-content-header">Basic Information</h2>
            <div class="form-wrapper">
                <div class="row">
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Full Name</label>
                            <div class="data-display col-sm-7"><%=data.fullName%></div>
                            <!-- <input type="text" class="form-control col-sm-8" placeholder="Scarlett Johansson"> -->
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Pharmacy Name</label>
                            <div class="data-display col-sm-7"><%=data.pharmacyName%></div>
                            <!-- <input type="text" class="form-control col-sm-8" value="The Pill Club" placeholder="Pharmacy Name"> -->
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Contractor ID</label>
                            <div class="data-display col-sm-7"><%=data.constractorId%></div>
                            <!-- <input type="text" class="form-control col-sm-8" placeholder="ID" value="CONT 14598"> -->
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Email Address</label>
                            <div class="data-display col-sm-7"><%=data.email%></div>
                            <!-- <input type="text" class="form-control col-sm-8" placeholder="Email Address" value="scarlettjohansson@gmail.com"> -->
                        </div>
                    </div>
                   
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Phone Number</label>
                            <div class="data-display col-sm-7"><%=data.phoneNo%></div>
                            <!-- <input type="text" class="form-control col-sm-8" placeholder="Phone Number" value="+60 47896 42563"> -->
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">User Name</label>
                            <div class="data-display col-sm-7"><%=data.userName%></div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Fax Number</label>
                            <div class="data-display col-sm-7"><%=data.FaxNo ? data.FaxNo: '-' %></div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 textarea-group">
                        <div class="form-group form-row textarea-group">
                            <label class="col-sm-5 col-form-label">Street Address</label>
                            <div class="data-display col-sm-7"><%=data.streetAddress%>.</div>
                            <!-- <textarea class="form-control col-sm-8" row="4">Department 98, 44-46, Morningside Road, Edinburgh, Scotland EH10 4BF.  -->
                            </textarea>
                        </div>
                    </div>
                    <div class="form-inline col-xl-8 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">City</label>
                                <div class="data-display col-sm-7"><%=data.city%></div>
                                <!-- <select class="form-control col-sm-8">
                                    <option>New York</option>
                                </select> -->
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">State</label>
                                <div class="data-display col-sm-7"><%=data.state%></div>
                                <!-- <select class="form-control col-sm-8">
                                    <option>California</option>
                                </select> -->
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">Zip Code</label>
                                <div class="data-display col-sm-7"><%=data.zipcode%></div>
                                <!-- <input type="text" class="form-control col-sm-8" placeholder="Zip Code" value="CDF 78963"> -->
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">NCPA Member?</label>
                                <div class="data-display col-sm-7"><%=data.ncpa%></div>
                                <!-- <input type="text" class="form-control col-sm-8" placeholder="Email Address" value="scarlettjohansson@gmail.com"> -->
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">Partner Name</label>
                                <div class="data-display col-sm-7"><%=data.partnerName%></div>
                                <!-- <input type="text" class="form-control col-sm-8" placeholder="Partner Name" value="Steve Smith"> -->
                            </div>
                        </div>
                        <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">Partner ID</label>
                                <div class="data-display col-sm-7"><%=data.partnerId%></div>
                                <!-- <input type="text" class="form-control col-sm-8" placeholder="Email Address" value="CONT 85236"> -->
                            </div>
                        </div>
                    </div>
                   

                    <div class="action-block col-12">
                        <button onclick="window.history.back();" class="btn nrml-btn cancel">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include('../../layouts/footer.ejs') %>