<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
  <section class="content-section">
    <h2 class="content-header">Edit Physician</h2>
    <div class="content-inner-section">
      <h2 class="inner-content-header">Basic Information</h2>
      <div class="form-wrapper">
        <form id="physicianEdit" onsubmit="onSubmit(event)"  autocomplete="off">
          <div class="row">
            <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">Health System<span class="astrix-sym">*</span></label>
                <input type="text" class="form-control col-sm-8" name="healthSystem" placeholder="Health System" value="<%=data.healthSystem%>" required>
              </div>
            </div>
            <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">Group Practice name<span class="astrix-sym">*</span></label>
                <input type="text" class="form-control col-sm-8" name="groupPracticeName" value="<%=data.groupPracticeName%>" oninput="checkName(this)" id="gpN" placeholder="Group Practice name" required>
              </div>
            </div>
            <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">Physician Name<span class="astrix-sym">*</span></label>
                <input type="text" class="form-control col-sm-8" name="name" placeholder="Physician Name" oninput="checkName(this)" id="pN" value="<%=data.name%>" required>
                <span style="color: red;"></span>
              </div>
            </div>
            <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">License #<span class="astrix-sym">*</span></label>
                <input type="number" class="form-control col-sm-8" pattern="[0-9]+" name="licenseNo" placeholder="License" value="<%=data.licenseNo%>" required>
              </div>
            </div>
            <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">NPI #<span class="astrix-sym">*</span></label>
                <input type="text" class="form-control col-sm-8" pattern="[a-zA-Z0-9\s]+" name="npiNo" placeholder="NPI" value="<%=data.npiNo%>" required>
              </div>
            </div>
            <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">Phone Number<span class="astrix-sym">*</span></label>
                <input type="text" id="phoneNo" class="form-control col-sm-8" name="phoneNo" placeholder="Phone Number" value="<%=data.phoneNo%>" required>
              </div>
            </div>
            <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">Fax Number<span class="astrix-sym">*</span></label>
                <input type="text" id="fax_no" class="form-control col-sm-8" name="FaxNo" placeholder="Fax Number" value="<%=data.FaxNo%>" required>
              </div>
            </div>
            <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">Email Address<span class="astrix-sym">*</span></label>
                <input type="email" class="form-control col-sm-8" pattern="^([0-9]{9})|([A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3})$" name="email" placeholder="Email Address" value="<%=data.email%>" required>
              </div>
            </div>

            <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
              <div class="form-group form-row textarea-group">
                <label class="col-sm-4 col-form-label">Street Address<span class="astrix-sym">*</span></label>
                <textarea class="form-control col-sm-8" row="4" name="address" required><%=data.address%></textarea>
              </div>
            </div>
            <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">City<span class="astrix-sym">*</span></label>
                <input type="text" class="form-control col-sm-8" name="city" value="<%=data.city%>" placeholder="City" required>
              </div>
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">State<span class="astrix-sym">*</span></label>
                <select class="form-control col-sm-8" name="state" required>
                    <option value="">Select State</option>
                    <%states.forEach(function(item) {%>
                      <option <%=data.state == item ? 'selected': ''%>><%=item%></option>
                    <%})%>
                </select>
              </div>
            </div>
            <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">Zip Code<span class="astrix-sym">*</span></label>
                <input type="text" minlength="5" id="zipcode" class="form-control col-sm-8" name="zipcode" placeholder="Zip Code" value="<%=data.zipcode%>" required>
              </div>
            </div>

            <div class="action-block col-12" style="flex: unset;">
              <a onclick="window.history.back();" class="btn nrml-btn cancel">Cancel</a>
              <button type="button" onclick="formSubmit()" class="btn nrml-btn save">Update</button>
              <button id="updateButton" style="display:none;" class="btn nrml-btn save">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

<%- include('../../layouts/footer.ejs') %>

<script>
  $('#zipcode').mask('00000-0000');
  $('#phoneNo').mask('000-000-0000', {clearIfNotMatch: true});
  $('#fax_no').mask('000-000-0000', {clearIfNotMatch: true});
  var nameAlreadyExits = false;
  function checkName(e){
    var reqObj = {name: $('#pN').val(), groupPracticeName: $('#gpN').val()};
      // var name = $(e).val();
      axios.post('/api/v1/check/name', reqObj).then(result=> {
        console.log("result ", result.data);
        if (result.data.status && result.data.data[0].id != "<%=data.id%>") {
          nameAlreadyExits = true;
          $('#pN').siblings("span").text('Sorry... The Physician Name as already taken');
        } else {
          nameAlreadyExits = false;
          $('#pN').siblings("span").text('');
        }
        console.log("nameAlreadyExits ", nameAlreadyExits);
      }).catch(err=> {
          var err = err.response.data;
          toastr.warning(err.msg ? err.msg: "Something went wrong", "Error");
      });
  }

  function onSubmit(e) {
    e.preventDefault();
    var data = $('#physicianEdit').serializeJSON();
    data['id'] = "<%=data.id%>";
    console.log("e ==>onSubmit", data);
    // return false;
    axios.post('/api/v1/update/physician', data).then(resp=> {
        var data = resp.data;
        console.log("data ", data);
        toastr.success(data.msg, "Success");
        setTimeout(function() {
            location.href ='/physician/list/<%=params.page%>';
        }, 1000);
    }).catch(err=> {
        var err = err.response.data;
        console.log("err ", err);
        toastr.warning(err.msg ? err.msg: "Something went wrong", "Error");
    })
  }

  function formSubmit() {
    if (nameAlreadyExits) {
      toastr.warning("Physician Name is already exists", "Error");
      return false;
    }
    $('#updateButton').click();
  }
</script>