<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
    <section class="content-section" id="form2">
        <% if(session.role != 'physician'){%>
            <h2 class="content-header">Hereditary Cancer Requisition</h2>
        <%}%>
        <form id="form2Requisition" onsubmit="secondFormSubmit(event);" autocomplete="off">
            <% if(session.role == 'physician'){%>
                <div class="content-inner-section">
                    <div class="list-content-wrapper">
                        <div class="agree-block">
                            <!-- <p>
                                By signing my name, I hereby authorize to perform the indicated genetic tests on my sample of DNA. I acknowledge that I have read the “Informed Consent for Hereditary Cancer Testing” and I understand the benefits and limitations of this type of testing. Signing this form authorizes a below performance location to perform specimen testing, release test result to the ordering provider and bill my insurance provider directly for payment. I furthure authorize the performance location and my provider to release to my insurance company any medical information necessary to process this claim.                                
                                
                            </p> -->
                        
                            <div class="agree-sign-block">
                                <div class="sign-block">
                                    <canvas id="p-signature-pad" class="signature-pad"  width=320 height=110></canvas>                                     
                                    <span class="sign-placeholder">Physician Signature</span>
                                    <button type="button" id="p-reset">Clear</button>
                                </div>
                                <div class="sign-block">
                                    <span class="sign-date" id="physician_name"><%-session.name%></span>
                                    <span class="sign-placeholder">Physisican Name</s pan>
                                </div>
                                <div class="sign-block">
                                    <span class="sign-date" id="physician_date"><%= moment().format('Do MMMM, YYYY'); %></span>
                                    <span class="sign-placeholder">Date</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <%} else {%>
                <div class="content-inner-section">
                    <h2 class="inner-content-header">Insurance Card and Photo ID Image</h2>
                    <div class="doc-upload-wrapper cancer-req">
                        <div id="image_preview" class="col doc-inner-wrapp">
                            <%patient.cardImages && patient.cardImages.forEach(function(item){%>
                                <div class="col-4 doc-uploaded-block">
                                    <div class="doc-holder">
                                        <img src="/<%=item%>">
                                        <input type="hidden" name="cardImages[]" value="<%=item%>">
                                        <span class="doc-delete" onclick="removeImgPreview(this)">&#10006;</span>
                                    </div>
                                </div>
                            <%})%>
                        </div>
                        <div class="col-4 doc-uploaded-block">
                            <div class="doc-holder empty">
                                <input type="file" id="imgInp">
                                <img src="/assets/images/upload-doc/empty-doc.png">
                            </div>
                        </div>
                    </div>
                </div>
            <%}%>
            <div class="action-block col-12">
                <!-- <button type="button" onclick="window.history.back();" class="btn nrml-btn cancel">exit</button> -->
                <button class="btn nrml-btn save">Update and Exit</button>
            </div>
        </form>
    </section>
</div>

<%- include('../../layouts/footer.ejs') %>

<script type='text/javascript'>
    var userId = <%=patient.id%>;
    var role = <%-JSON.stringify(session.role)%>;
    console.log(" data",  <%-JSON.stringify(patient)%>);

    function secondFormSubmit(e) {
        e.preventDefault();
        var form2Data = $('#form2Requisition').serializeJSON();
        form2Data['id'] = userId;
        console.log("form2Data ", form2Data);
        if (role == 'physician') {
            if(!psignaturePad.isEmpty()){
                console.log('pSignature is not empty');
                form2Data['pSignature'] = psignaturePad.toDataURL('image/jpeg');
            }

            // form3Data['phy_name'] = <%-JSON.stringify(session.name)%>;
            // form3Data['phy_date'] = new Date();
        }
        // return false;
        axios.post('/api/v1/update/third/form', form2Data).then(resp=> {
            var data = resp.data.data;
            console.log("data ==> else", data);
            toastr.success("Patient Updated Successfully", "Success");
            setTimeout(function() {
                location.href ='/patient/list/<%=params.page%>';
            }, 1000);
        }).catch(err=> {
            console.log("err ", err);
        })
    }

    function removeImgPreview(image){   
        var row = image.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }

    $("#imgInp").change(function() {
        console.log("this.files ", this.files);
        if (this.files && this.files[0]) {
            var formData = new FormData();
            formData.append("image", this.files[0]);
            axios.post('/api/v1/upload',  formData, {
                    headers: {
                    'Content-Type': 'multipart/form-data'
                    }
                }).then(resp=> {
                    console.log("resp ===> imgInp", resp);
                    var result = resp.data
                    if (result.status == true) {
                        var html = `<div class="col-4 doc-uploaded-block">
                            <div class="doc-holder">
                                <img src="/${result.data.path}">
                                <input type="hidden" name="cardImages[]" value="${result.data.path}">
                                <span class="doc-delete" onclick="removeImgPreview(this)">&#10006;</span>
                            </div>
                        </div>`
                        $("#image_preview").append(html);
                        // $('#imgInp').val('')
                    }
            }).catch(err=> {
                console.log("err ", err);
            })
        }
    });

    var pcanvas = document.getElementById('p-signature-pad');
    var pparentWidth = $(pcanvas).parent().outerWidth();
    var pparentheight = $(pcanvas).parent().outerHeight();
    pcanvas.setAttribute("width", pparentWidth-10);
    pcanvas.setAttribute("height", pparentheight-10);

    var psignaturePad = new SignaturePad(pcanvas, {
    backgroundColor: 'rgb(255, 255, 255)' // necessary for saving image as JPEG; can be removed is only saving as PNG or SVG
    });

    document.getElementById('p-reset').addEventListener('click', function () {
        psignaturePad.clear();
    });
    if ('<%=patient.pSignature%>' != '') {
        psignaturePad.fromDataURL('<%=patient.pSignature%>');
    }
</script>
