
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">

    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script> -->

    <!-- Js -->
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/jquery.nicescroll.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/js/bootstrap-datepicker.js"></script>
    
    <!-- Newly Added -->
    <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <!-- <script
    src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/jsignature@2.1.2/libs/jSignature.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jSignature/2.1.3/flashcanvas.min.js"></script>
     -->
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/jquery.inputmask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/bindings/inputmask.binding.min.js"></script> -->
     <!-- new mask -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script> -->
    
    <!-- <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script> -->
    <!-- <script src="/assets/js/jquery.validate.min.js"></script> -->

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


    <!-- <script src="/assets/js/jquery.serializejson.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <link id="favicon" rel="icon" type="image/png" sizes="64x64" href="/assets/images/Fav-Logo.png">
    
</head>

<body>
    <div class="container-fluid dashboard-wrapper">
        <header class="main-header">
            <div class="header-logo">
                <img src="/assets/images/Logo.png">
            </div>
        </header>

<div class="content-wrapper-main">
    <section class="content-section" id="form3">
        <h2 class="content-header">Patient Consent and Patient Agreement Form</h2>
        <!-- <form id="form3Data" onsubmit="submitThirdForm(event);"> -->
            <form id="form3Data" onsubmit="submitThirdForm(event);">
            <div class="content-inner-section">
                <div class="family-medical-stepper col-xl-12 d-flex">
                        <div class="stepper1 col-xl-4 col-lg-4 col-sm-12 no-padding">
                            <div class="step-number  active stepper-completed ">
                                <p>1</p>
                            </div>
                            <span>Family Medical History Form</span>
                        </div>
                        
                        <div class="stepper2 col-xl-4 col-lg-4 col-sm-12 no-padding">
                            <div class="step-number  active stepper-completed">
                                <p>2</p>
                            </div>
                            <span>Hereditary Cancer Requisition Form</span>
                        </div>
                        
                        <div class="stepper3 col-xl-4 col-lg-4 col-sm-12 no-padding">
                            <div class="step-number  active">
                                <p>3</p>
                            </div>
                            <span>Patient Consent and Patient Agreement Form</span>
                        </div>
                </div>
            </div>
            <div class="content-inner-section">
                <div class="quote-section-2">
                    DNA cancer test(s) are designed to improve the health outcomes for patients by providing additional information to help guide ongoing medical treatment for Medicare patients with a cancer history. The test identifies inherited gene mutations that reflect a genetic susceptibility to certain type of cancer. The result from this test will allow a comprehensive forecast of the Cancer risk(s) to the patient and future lineage. What next? 
                </div>
                <div class="list-content-wrapper">
                    <ul class="list-display-ul">
                        <li class="list-display">
                            <span class="list-header">Primary Care Physician</span> - We will contact your preferred provider below to review your qualifications and to sign the Requisition Form if qualified.
                        </li>
                        <li class="list-display">
                            <span class="list-header">Confidential Information</span> - Test results are protected by the Genetic Information Nondiscrimination Act of 2008 preventing use for employment consideration or health insurance coverage.
                        </li>
                        <li class="list-display">
                            <span class="list-header">Patient Responsibility</span> - Center for Medicare and Medicaid Services (CMS) approved the cancer screening as a one-time lifetime preventive benefit non-inclusive of co-pays or deductibles. Therefore, this program is exlusive to Medicare or Medicaid members.
                        </li>
                        <li class="list-display">
                            <span class="list-header">I understand the following information regarding the test purpose and methodology</span> - The purpose of this molecular genetic test is to determine if I carry any mutation(s) causing an increased risk to develop Cancer.
                        </li>
                        <li class="list-display">
                            <span class="list-header">I understand the following information regarding the results disclosure policy</span> - Due to the complexity of DNA-based testing and the important implication of the test results, these results will be reported through your designated physician(s) or genetic counselor and you should contact your provider to obtain the results of this test.
                        </li>
                        <li class="list-display">
                            <span class="list-header">I understand the following information regarding test results</span> - Genes included on this test may be associated with several types of Cancer and are associated with varying levels of Cancer risk. Your healthcare provider's recommendations for your medical management could differ dependent on test results and associated finding. All genes on this panel have been implicated in Cancer predisposition and are associated with increased lifetime Cancer risks, although these risks may differ depending on the particular gene. For many of the genes, specific screening and medical management recommendations are available for individuals with mutations.
                            <p>
                                These genes include but are not limited to: APC, BMPRA1, BACAL BRCA2, CDH1, EPCAM, MLH1, MSH2, MSH6, MUTYH, NF1, PALB2, PMS2, PTEN, SMAD4, STK11 and TP53. Identification of a mutation in other genes can also impact medical management decisions and more data/ specific recommendations are expected to emerge over time. Identification of a mutation in any gene does not imply that Cancer screening and risk management options will be covered by health insurance. If mutations are identified in one or more gene on this panel, there may not be sufficient information available to determine your precise Cancer risk. Therefore, the results of this genetic test may or may not have implications for your medical management and options including preventative screening/intervention or therapeutics based on your genetic testing result may change over time. <span class="text-highlight">If you are found to carry a mutation/variant in any of the genes analyzed, this may also have implications for your family members. This should be discussed with your healthcare provider.</span>
                            </p>

                            <div class="quote-section-2">
                                <p>There are several types of genetic test results including:</p>
                                <ul class="list-display-ul">
                                    <li class="list-display">
                                        <span class="list-header">Positive</span> - A mutation was identified in a gene(s) associated with increased Cancer susceptibility. This means that you are at increased risk of developing Cancer. The specific type(s) of Cancer depend on the particular gene(s). Your healthcare provider will make Cancer screening and medical management recommendations based on what is known about the gene(s) in which a mutation was found.
                                    </li>
                                    <li class="list-display">
                                        <span class="list-header">Negative</span> - No mutations were identified in any of the genes tested. This result greatly reduces the likelihood that you will have a mutation in the genes tested (see limitations of testing). Your healthcare provider will make Cancer screening and medical management recommendations based on your personal and/or family history.
                                    </li>
                                    <li class="list-display">
                                        <span class="list-header">Variant</span> - An alteration was identified in one or more genes; however, there is not enough information to determine whether this change is associated with in increased risk for Cancer. A thorough review of the variant and the associated literature may suggest that a variant is more likely to be disease-causing or benign. However, in some cases the significance remains unclear. Your healthcare provider will make Cancer screening and medical management recommendations based on your personal and/or family history.
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-display">
                            <span class="list-header">I understand the following information regarding technical limitations of this testing</span> - While this test is designed to identify most detectable mutations in the genes analyzed, it is still possible that there are other mutations that this testing technology is unable to detect. In addition, there may be other genes associated with Cancer susceptibility that are not included on this panel that are not known at this time.
                        </li>
                        <li class="list-display">
                            I truly am interested and want to take this test and I was not promised anything of value to take this test (e.g, gift cards, gas cards, cash).
                        </li>
                        <li class="list-display">
                            I understand that my signature on this document will be added electronically to the Requisition Form allowing the lab to process the appropriate test. If providing a physical signature on printed forms, Genetix LLC has my permission to type my name into an electronic version as acceptance of the identical form criteria due to “signature on file” policies. I will receive a complete signed copy of this Patient Consent and Patient Agreement forms via email.
                        </li>
                        

                    </ul>
                    <div class="agree-block">
                        <p>
                            By signing my name, I hereby authorize to perform the indicated genetic tests on my sample of DNA. I acknowledge that I have read the “Informed Consent for Hereditary Cancer Testing” and I understand the benefits and limitations of this type of testing. Signing this form authorizes a below performance location to perform specimen testing, release test result to the ordering provider and bill my insurance provider directly for payment. I furthure authorize the performance location and my provider to release to my insurance company any medical information necessary to process this claim.
                        </p>
                        <div class="agree-sign-block">
                            <div class="sign-block">
                                <canvas id="signature-pad" class="signature-pad" width=400 height=200></canvas>
                                <span class="sign-placeholder">Patient Signature</span>
                                <button type="button" id="reset">Clear</button>
                            </div>
                            <!-- <div class="sign-block">
                                <span class="sign-date" id="patient_name">Shelby Chastain</span>
                                <span class="sign-placeholder">Patient Name</span>
                            </div> -->
                            <div class="sign-block">
                                <span class="sign-date" id="date"><%= moment().format('Do MMMM, YYYY'); %></span>
                                <span class="sign-placeholder">Date</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>


            <!-------------->

            <div class="action-block col-12">
                <!-- <button type="button" class="btn nrml-btn cancel" onclick="previousForm()">Previous</button> -->
                <!-- <a href="03b_Hereditary_Cancer_Form-new.html" class="btn nrml-btn cancel">Previous</a> -->
                <!-- <button class="btn nrml-btn save">Save & Send</button> -->
                <!-- <a data-toggle="modal" data-target="#makeSureModal" href="JavaScript:Void(0)" class="btn nrml-btn save">Save & Send</a> -->
                <button class="btn nrml-btn save">Save & Send</button>
            </div>
        </form>
    </section>
     <!-- Signature area -->

</div>

<%- include('../../layouts/footer.ejs') %>

<!-- Modal - Make Sure -->
<div class="modal fade family-form-modal" id="makeSureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <img src="/assets/images/icons/Success-icon.png" alt="success" />
                <h2>Success!</h2>
                <p>Please review all information for accuracy prior to completing the Submission. Call Genetix with any New Applicant changes once submitted at 864-392-1769.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="$('#makeSureModal').modal('hide')">Return to Form</button>
                <button type="button" class="btn btn-secondary" style="background-color: #66af4e;border: 1px solid #66af4e;" onclick="CheckAndOpenPaymentGatway(event)">Submit Enrollment</button>
                <!-- <button type="button" class="btn btn-secondary" style="background-color: #66af4e;border: 1px solid #66af4e;" onclick="submitThirdForm(event)">Submit Enrollment</button> -->
                <!-- <a href="03b_Hereditary_Cancer_Form-New.html" class="btn btn-secondary" >DONE</a> -->
            </div>
        </div>
    </div>
</div>
<!-- modal - Make Sure -->

<script type='text/javascript'>
    var formIndex = 0
    var userId = <%-data.id%>;
 console.log("userId ", userId);
    var emailAlreadyExits = false;
    var selectedContractorId;

    function submitThirdForm(e) {
        e.preventDefault();
        if(signaturePad.isEmpty()){
            console.log('it is empty');
            toastr.warning("Signature is required", "Warning");
            return false;            
        }
        var form3Data = {};
        form3Data['id'] = userId;
        form3Data['signature'] = signaturePad.toDataURL('image/jpeg');;
        form3Data['sign_date'] = new Date();
        form3Data['formStatus'] = 'Complete';
        form3Data['remoteSignature'] = true;
        axios.post('/api/v1/update/third/form', form3Data).then(resp=> {
            toastr.success("Patient Signature Updated Successfully", "Success");
            setTimeout(function() {
                location.href ='/';
            }, 1000);
        })
    }

    var canvas = document.getElementById('signature-pad');
    var parentWidth = $(canvas).parent().outerWidth();
    var parentheight = $(canvas).parent().outerHeight();
    canvas.setAttribute("width", parentWidth-10);
    canvas.setAttribute("height", parentheight-10);

    var signaturePad = new SignaturePad(canvas, {
    backgroundColor: 'rgb(255, 255, 255)' // necessary for saving image as JPEG; can be removed is only saving as PNG or SVG
    });

    document.getElementById('reset').addEventListener('click', function () {
        signaturePad.clear();
    });

</script>

