<style>
    .send_link_action{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 15px;
        margin-right: 10px;
    }
</style>

<%- include('../../layouts/header.ejs') %>
<%if(patient.physicianId && patient.physicianId !== physicians[0].id){%>
    <%physicians = physicians.reverse()%>
<%}%>
<div class="content-wrapper-main">
    <div class="filter-wrapper btns-right">
        <div class="send_link_action">
            <button onclick="openModel(event)" class="btn btn-nrml add-new" style="background: #21cbd8;">Get Signature</button>                    
        </div>
        <div class="filter-action-block ">
            <!-- <button class="btn btn-nrml reset">Back</button> -->
            <a onclick="window.history.back();" class="btn btn-nrml reset">Back</a>
            <a href="/download/pdf/<%= patient.id%>" class="btn btn-nrml add-new">Download</a>                    
            <a href="/download/pcf/<%= patient.id%>" class="btn btn-nrml add-new" style="background: #66af4e;">Download Patient Consent Form</a>                    
            <!-- <a href="/api/v1/signature/link/<%= patient.id%>" class="btn btn-nrml add-new" style="background: #66af4e;">Get Signature</a>                     -->
            <!-- <% if(session.role != 'contractor'){%>
                <button onclick="onSubmit(event)" class="btn btn-nrml add-new" style="background: #66af4e;">Req Form Send to Path-Tech</button>                    
            <%}%> -->
        </div>
    </div>
    <section class="content-section form-view-data">
        <h2 class="content-header">Family Medical History Form</h2>
        <div class="content-inner-section">
            <h2 class="inner-content-header">Patient Basic Detail</h2>
            <div class="form-wrapper">
                <div class="row">
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Last Name</label>
                            <div class="data-display col-sm-7"><%= patient.lastName%></div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">First Name</label>
                            <div class="data-display col-sm-7"><%= patient.firstName%></div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">DOB</label>
                            <div class="data-display col-sm-7"><%= moment(patient.dob, 'MM/DD/YYYY')%></div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Gender</label>
                            <div class="data-display col-sm-7"><%= patient.gender%></div>
                        </div>
                    </div>

                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Phone Number</label>
                            <div class="data-display col-sm-7"><%= patient.phoneNo%></div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Mobile Number</label>
                            <div class="data-display col-sm-7"><%= patient.mobileNo%></div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Email</label>
                            <div class="data-display col-sm-7"><%= patient.email%></div>
                        </div>
                    </div>
                    <!------------------>
                    <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="col-12 no-pad">
                            <label class="col-12 label-heading no-pad">Status</label>
                        </div>
                        <div class="quote-div-section-1 col-12">
                            <div class="quote-row">
                                <div class="col quote-block">
                                    <label class="quote-label">Dr. Approval Pending</label>
                                    <div class="data-display"><%=patient.approvalPendingDate? moment(patient.approvalPendingDate).format('MM/DD/YYYY'): '-'%></div>
                                </div>
                                <div class="col quote-block">
                                    <label class="quote-label">Doctor Approved</label>
                                    <div class="data-display"><%=patient.doctorApproved? moment(patient.doctorApproved).format('MM/DD/YYYY'): '-'%></div>
                                </div>
                                <div class="col quote-block">
                                    <label class="quote-label">Test Accepted </label>
                                    <div class="data-display"><%=patient.accepted? moment(patient.accepted).format('MM/DD/YYYY'): '-'%></div>
                                </div>
                                <div class="col quote-block">
                                    <label class="quote-label">Test on Hold</label>
                                    <div class="data-display"><%=patient.onHold? moment(patient.onHold).format('MM/DD/YYYY'): '-'%></div>
                                </div>
                                <div class="col quote-block">
                                    <label class="quote-label">Test Shipped to Lab</label>
                                    <div class="data-display"><%=patient.shippedtoLab? moment(patient.shippedtoLab).format('MM/DD/YYYY'): '-'%></div>
                                </div>
                            </div>
                            <div class="quote-row">
                                <div class="col quote-block">
                                    <label class="quote-label">Test Received by Lab</label>
                                    <div class="data-display"><%=patient.receivedbyLab? moment(patient.receivedbyLab).format('MM/DD/YYYY'): '-'%></div>
                                </div>
                                <div class="col quote-block">
                                    <label class="quote-label">Test Inprocess at Lab</label>
                                    <div class="data-display"><%=patient.inProgressatLab? moment(patient.inProgressatLab).format('MM/DD/YYYY'): '-'%></div>
                                </div>
                                <div class="col quote-block">
                                    <label class="quote-label">Test Resulted</label>
                                    <div class="data-display"><%=patient.resulted? moment(patient.resulted).format('MM/DD/YYYY'): '-'%></div>
                                </div>
                                <div class="col quote-block">
                                    <label class="quote-label">Paid</label>
                                    <div class="data-display"><%=patient.Paid? moment(patient.Paid).format('MM/DD/YYYY'): '-'%></div>
                                </div>
                            </div>

                        </div>

                        <div class="separator-line"></div>

                        <div class="data-section col-12 ">
                            <div class="row">
                                <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="form-group form-row">
                                            <label class="col-sm-8 col-form-label">Have you ever been
                                                diagnosed</label>
                                            <div class="data-display col-sm-4"><%= patient.diagnosedWithCancer.age ? patient.diagnosedWithCancer.age: '-'%></div>
                                        </div>
                                    </div>

                                    <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="form-group form-row">
                                            <label class="col-sm-8 col-form-label">Do you have a personal
                                                history of Colon Polyps?</label>
                                            <div class="data-display col-sm-4"><%= patient.colonPolyps.age ? patient.colonPolyps.age: '-'%>, <%= patient.colonPolyps.foundDate ? moment(patient.colonPolyps.foundDate, 'MM/DD/YYYY'): '-'%></div>
                                        </div>
                                    </div>
                                    <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="form-group form-row">
                                            <label class="col-sm-8 col-form-label">Have you ever been tested for
                                                a DNA cancer screening in your lifetime?</label>
                                            <div class="data-display col-sm-4"><%= patient.dnaCancerScreening.age ? patient.dnaCancerScreening.age: '-'%></div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="form-group form-row">
                                        <label class="col-sm-8 col-form-label">Do you have any Ashkenazi Jewish
                                            Ancestry </label>
                                        <div class="data-display col-sm-4"><%= patient.ashkenaziJewishAncestry.status%></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!------------------>
                </div>
            </div>
            <!-------------------->
            <div class="table-wrapper datadisplay-table">
                <h2 class="inner-content-header">Your Family Detail</h2>
                <div class="table-responsive">
                    <table class="default-table">
                        <thead>
                            <tr>
                                <th>Family Type</th>
                                <th>Your Relation</th>
                                <th>Name</th>
                                <th>Cancer Type</span></th>
                                <th>Age</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% patient.familydetails.forEach(function(item){%>
                                <tr>
                                    <td><%= item.type%></td>
                                    <td><%= item.relation%></td>
                                    <td><%= item.name%></td>
                                    <td><%= item.cancer_type%></td>
                                    <td><%= item.age%></td>
                                </tr>
                            <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-------------------->

        </div>
    </section>

    <!----------------->

    <section class="content-section form-view-data">
        <h2 class="content-header">Hereditary Cancer Requisition</h2>
        <%physicians.forEach(function(item){%>
            <div class="content-inner-section">
                <%if(item.id == patient.physicianId){%>
                    <h2 class="inner-content-header">Preferred Physician</h2>
                <%} else {%>
                    <h2 class="inner-content-header">Secondary Physician / Oncologist</h2>
                <%}%>
                <div class="form-wrapper">
                    <div class="row">
                        <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">Health System</label>
                                <div class="data-display col-sm-7"><%= item.healthSystem%></div>
                            </div>
                        </div>
                        <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">Practice Name</label>
                                <div class="data-display col-sm-7"><%= item.groupPracticeName%></div>
                            </div>
                        </div>
                        <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">Physician Name</label>
                                <div class="data-display col-sm-7"><%= item.name%></div>
                            </div>
                        </div>
                        <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">License #</label>
                                <div class="data-display col-sm-7"><%= item.licenseNo%></div>
                            </div>
                        </div>

                        <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">NPI #</label>
                                <div class="data-display col-sm-7"><%= item.npiNo%></div>
                            </div>
                        </div>
                        <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group form-row">
                                <label class="col-sm-5 col-form-label">Phone Number</label>
                                <div class="data-display col-sm-7"><%= item.phoneNo%></div>
                            </div>
                        </div>
                        <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 textarea-group">
                            <div class="form-group form-row textarea-group">
                                <label class="col-sm-5 col-form-label">Street Address</label>
                                <div class="data-display col-sm-7"><%= item.address%>.</div>
                            </div>
                        </div>
                        <div class="form-inline col-xl-8 col-lg-6 col-md-12 col-sm-12 col-xs-12 no-pad">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 no-pad-left">
                                <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="form-group form-row">
                                        <label class="col-sm-5 col-form-label">State</label>
                                        <div class="data-display col-sm-7"><%= item.state%></div>
                                    </div>
                                </div>
                                <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="form-group form-row">
                                        <label class="col-sm-5 col-form-label">City</label>
                                        <div class="data-display col-sm-7"><%= item.city%></div>
                                    </div>
                                </div>
                                <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="form-group form-row">
                                        <label class="col-sm-5 col-form-label">Zip Code</label>
                                        <div class="data-display col-sm-7"><%= item.zipcode%></div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 no-pad-left align-self-start">
                                <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="form-group form-row">
                                        <label class="col-sm-5 col-form-label">Email Address</label>
                                        <div class="data-display col-sm-7"><%= item.address%></div>
                                    </div>
                                </div>
                                <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="form-group form-row">
                                        <label class="col-sm-5 col-form-label">Fax Number</label>
                                        <div class="data-display col-sm-7"><%= item.FaxNo%></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <%})%>
        <!-- <div class="content-inner-section">
            <h2 class="inner-content-header">Secondary Physician / Oncologist</h2>
            <div class="form-wrapper">
                <div class="row">
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Health System</label>
                            <div class="data-display col-sm-7">Lorem ipsum</div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Practice Name</label>
                            <div class="data-display col-sm-7">Johnny Depp</div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Physician Name</label>
                            <div class="data-display col-sm-7">Scarlet Johnson</div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">License #</label>
                            <div class="data-display col-sm-7">478965463</div>
                        </div>
                    </div>

                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">NPI #</label>
                            <div class="data-display col-sm-7">7546555</div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Phone Number</label>
                            <div class="data-display col-sm-7">+1 789 1425</div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 textarea-group">
                        <div class="form-group form-row textarea-group">
                            <label class="col-sm-5 col-form-label">Street Address</label>
                            <div class="data-display col-sm-7">Department 98, 44-46, Morningside Road,
                                Edinburgh, Scotland EH10 4BF.</div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-8 col-lg-6 col-md-12 col-sm-12 col-xs-12 no-pad">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 no-pad-left">
                            <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group form-row">
                                    <label class="col-sm-5 col-form-label">State</label>
                                    <div class="data-display col-sm-7">Cardiff</div>
                                </div>
                            </div>
                            <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group form-row">
                                    <label class="col-sm-5 col-form-label">City</label>
                                    <div class="data-display col-sm-7">Edinburgh</div>
                                </div>
                            </div>
                            <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group form-row">
                                    <label class="col-sm-5 col-form-label">Zip Code</label>
                                    <div class="data-display col-sm-7">VF 7893</div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 no-pad-left align-self-start">
                            <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group form-row">
                                    <label class="col-sm-5 col-form-label">Email Address</label>
                                    <div class="data-display col-sm-7">scarletjhon88@gmail.com</div>
                                </div>
                            </div>
                            <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group form-row">
                                    <label class="col-sm-5 col-form-label">Fax Number</label>
                                    <div class="data-display col-sm-7">+1 789 8512</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="content-inner-section">
            <h2 class="inner-content-header">Patient Information</h2>
            <div class="form-wrapper">
                <div class="row">
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Last Name</label>
                            <div class="data-display col-sm-7"><%= patient.lastName%></div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">First Name</label>
                            <div class="data-display col-sm-7"><%= patient.firstName%></div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">MI</label>
                            <div class="data-display col-sm-7"><%= patient.mi%></div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">DOB</label>
                            <div class="data-display col-sm-7"><%= moment(patient.dob, 'MM/DD/YYYY')%></div>
                        </div>
                    </div>

                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Gender</label>
                            <div class="data-display col-sm-7"><%= patient.gender%></div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group form-row">
                            <label class="col-sm-5 col-form-label">Phone Number</label>
                            <div class="data-display col-sm-7"><%= patient.phoneNo%></div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 textarea-group">
                        <div class="form-group form-row textarea-group">
                            <label class="col-sm-5 col-form-label">Street Address</label>
                            <div class="data-display col-sm-7"><%= patient.address%>.</div>
                        </div>
                    </div>
                    <div class="form-inline col-xl-8 col-lg-6 col-md-12 col-sm-12 col-xs-12 no-pad">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 no-pad-left">
                            <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group form-row">
                                    <label class="col-sm-5 col-form-label">State</label>
                                    <div class="data-display col-sm-7"><%= patient.state%></div>
                                </div>
                            </div>
                            <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group form-row">
                                    <label class="col-sm-5 col-form-label">City</label>
                                    <div class="data-display col-sm-7"><%= patient.city%></div>
                                </div>
                            </div>
                            <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group form-row">
                                    <label class="col-sm-5 col-form-label">Zip Code</label>
                                    <div class="data-display col-sm-7"><%= patient.zipcode%></div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 no-pad-left align-self-start">
                            <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group form-row">
                                    <label class="col-sm-5 col-form-label">Email Address</label>
                                    <div class="data-display col-sm-7"><%= patient.email%></div>
                                </div>
                            </div>
                            <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group form-row">
                                    <label class="col-sm-5 col-form-label">Best time to call</label>
                                    <div class="data-display col-sm-7"><%= patient.timeToCall%></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!----------------------->

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 quote-section">
                <div class="col-12 no-pad">
                    <label class="col-12 label-heading no-pad">Ethnicity</label>
                </div>
                <div class="quote-div-section-1  label-only col-12">
                    <div class="quote-row">
                        <div class="col quote-block ">
                            <label class="quote-label"><%=patient.ethnicity && patient.ethnicity.lable%></label>
                        </div>
                        <%if(patient.ethnicity && patient.ethnicity.lable == "Other"){%>
                            <div class="col quote-block ">
                                <label class="quote-label"><%=patient.ethnicity && patient.ethnicity.textValue%></label>
                            </div>
                        <%}%>
                    </div>

                </div>

            </div>
            <!-------------------->

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 quote-section ">
                <div class="col-12 no-pad">
                    <label class="col-12 label-heading no-pad">Insurance Information<span
                            class="astrix-sym">*</span></label>
                </div>
                <div class="quote-div-section-1 quote-div-section-inline  col-12">
                    <% patient.insuranceInfo && patient.insuranceInfo.forEach(function(item){%>
                        <div class="quote-row">
                            <div class="col quote-block">
                                <label class="quote-label"><%= item.insuranceName %></label>
                            </div>
                            <div class="col quote-block">
                                <label class="quote-label">Insurance Type </label>
                                <div class="data-display"><%= item.insuranceType %></div>
                            </div>
                            <div class="col quote-block">
                                <label class="quote-label">Policy#</label>
                                <div class="data-display"><%= item.policy %></div>
                            </div>
                        </div>
                    <%})%>
                </div>
            </div>
            <!------------------->
        </div>

        <div class="content-inner-section">
            <h2 class="inner-content-header">Insurance Card and Photo ID Image</h2>
            <div class="doc-upload-wrapper">
                <% patient.cardImages && patient.cardImages.forEach(function(item){%>
                    <div class="col-4 doc-uploaded-block">
                        <div class="doc-holder">
                            <img src="/<%=item%>">
                            <!-- <span class="doc-upload-details">Medicare Card.jpeg</span> -->
                        </div>
                    </div>
                <%})%>
            </div>
            
        </div>
    </section>

    <!----------------->
    <div class="content-section form-view-data">
        <h2 class="content-header">Patient Consent and Patient Agreement Form</h2>
        <div class="content-inner-section">
            <div class="quote-section-2">
                DNA cancer test(s) are designed to improve the health outcomes for patients by providing additional information to help guide ongoing medical treatment for Medicare patients with a cancer history. The test identifies inherited gene mutations that reflect a genetic susceptibility to certain type of cancer. The result from this test will allow a comprehensive forecast of the Cancer risk(s) to the patient and future lineage. What next? 
            </div>
            <div class="list-content-wrapper">
                <ul class="list-display-ul">
                    <li class="list-display">
                        <span class="list-header">Primary Care Physician</span> - We will contact your preferred provider below to review your qualifications and to sign the Requisition Form if qualified.
                    </li>
                    <li class="list-display">
                        <span class="list-header">Confidential Information</span> - Test results are protected by the Genetic Information Nondiscrimination Act of 2008 preventing use for employment consideration or health insurance coverage.
                    </li>
                    <li class="list-display">
                        <span class="list-header">Patient Responsibility</span> - Center for Medicare and Medicaid Services (CMS) approved the cancer screening as a one-time lifetime preventive benefit non-inclusive of co-pays or deductibles. Therefore, this program is exlusive to Medicare or Medicaid members.
                    </li>
                    <li class="list-display">
                        <span class="list-header">I understand the following information regarding the test purpose and methodology</span> - The purpose of this molecular genetic test is to determine if I carry any mutation(s) causing an increased risk to develop Cancer.
                    </li>
                    <li class="list-display">
                        <span class="list-header">I understand the following information regarding the results disclosure policy</span> - Due to the complexity of DNA-based testing and the important implication of the test results, these results will be reported through your designated physician(s) or genetic counselor and you should contact your provider to obtain the results of this test.
                    </li>
                    <li class="list-display">
                        <span class="list-header">I understand the following information regarding test results</span> - Genes included on this test may be associated with several types of Cancer and are associated with varying levels of Cancer risk. Your healthcare provider's recommendations for your medical management could differ dependent on test results and associated finding. All genes on this panel have been implicated in Cancer predisposition and are associated with increased lifetime Cancer risks, although these risks may differ depending on the particular gene. For many of the genes, specific screening and medical management recommendations are available for individuals with mutations.
                        <p>
                            These genes include but are not limited to: APC, BMPRA1, BACAL BRCA2, CDH1, EPCAM, MLH1, MSH2, MSH6, MUTYH, NF1, PALB2, PMS2, PTEN, SMAD4, STK11 and TP53. Identification of a mutation in other genes can also impact medical management decisions and more data/ specific recommendations are expected to emerge over time. Identification of a mutation in any gene does not imply that Cancer screening and risk management options will be covered by health insurance. If mutations are identified in one or more gene on this panel, there may not be sufficient information available to determine your precise Cancer risk. Therefore, the results of this genetic test may or may not have implications for your medical management and options including preventative screening/intervention or therapeutics based on your genetic testing result may change over time. <span class="text-highlight">If you are found to carry a mutation/variant in any of the genes analyzed, this may also have implications for your family members. This should be discussed with your healthcare provider.</span>
                        </p>

                        <div class="quote-section-2">
                            <p>There are several types of genetic test results including:</p>
                            <ul class="list-display-ul">
                                <li class="list-display">
                                    <span class="list-header">Positive</span> - A mutation was identified in a gene(s) associated with increased Cancer susceptibility. This means that you are at increased risk of developing Cancer. The specific type(s) of Cancer depend on the particular gene(s). Your healthcare provider will make Cancer screening and medical management recommendations based on what is known about the gene(s) in which a mutation was found.
                                </li>
                                <li class="list-display">
                                    <span class="list-header">Negative</span> - No mutations were identified in any of the genes tested. This result greatly reduces the likelihood that you will have a mutation in the genes tested (see limitations of testing). Your healthcare provider will make Cancer screening and medical management recommendations based on your personal and/or family history.
                                </li>
                                <li class="list-display">
                                    <span class="list-header">Variant</span> - An alteration was identified in one or more genes; however, there is not enough information to determine whether this change is associated with in increased risk for Cancer. A thorough review of the variant and the associated literature may suggest that a variant is more likely to be disease-causing or benign. However, in some cases the significance remains unclear. Your healthcare provider will make Cancer screening and medical management recommendations based on your personal and/or family history.
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-display">
                        <span class="list-header">I understand the following information regarding technical limitations of this testing</span> - While this test is designed to identify most detectable mutations in the genes analyzed, it is still possible that there are other mutations that this testing technology is unable to detect. In addition, there may be other genes associated with Cancer susceptibility that are not included on this panel that are not known at this time.
                    </li>
                    <li class="list-display">
                        I truly am interested and want to take this test and I was not promised anything of value to take this test (e.g, gift cards, gas cards, cash).
                    </li>
                     <li class="list-display">
                        I understand that my signature on this document will be added electronically to the Requisition Form allowing the lab to process the appropriate test. If providing a physical signature on printed forms, Genetix LLC has my permission to type my name into an electronic version as acceptance of the identical form criteria due to “signature on file” policies. I will receive a complete signed copy of this Patient Consent and Patient Agreement forms via email.
                    </li>
                    <li class="list-display">
                        I understand that my signature on this document will be added electronically to the Requisition Form allowing the lab to process the appropriate test. If providing a physical signature on printed forms, Genetix LLC has my permission to type my name into an electronic version as acceptance of the identical form criteria due to “signature on file” policies. I will receive a complete signed copy of this Patient Consent and Patient Agreement forms via email.
                    </li>
                    

                </ul>
                <div class="agree-block">
                    <p>
                        By signing my name, I hereby authorize to perform the indicated genetic tests on my sample of DNA. I acknowledge that I have read the “Informed Consent for Hereditary Cancer Testing” and I understand the benefits and limitations of this type of testing. Signing this form authorizes a below performance location to perform specimen testing, release test result to the ordering provider and bill my insurance provider directly for payment. I furthure authorize the performance location and my provider to release to my insurance company any medical information necessary to process this claim.                                
                    </p>
                    <div class="agree-sign-block">
                        <div class="sign-block">
                            <img src="<%= patient.signature%>">
                            <span class="sign-placeholder">Patient Signature</span>
                        </div>
                        <div class="sign-block">
                            <!-- <img src="images/upload-doc/sign-1.png"> -->
                            <span class="sign-date"><%=patient.firstName%> <%=patient.lastName%></span>
                            <span class="sign-placeholder">Patient Name</span>
                        </div>
                        <div class="sign-block">
                            <span class="sign-date"><%= patient.submissionDate? moment(patient.createdAt).format('Do MMMM, YYYY'): ''%></span>
                            <span class="sign-placeholder">Date</span>
                        </div>

                        <% if(patient.pSignature){%>
                            <div class="sign-block">
                                <img src="<%= patient.pSignature%>">
                                <span class="sign-placeholder">Physician Signature</span>
                            </div>
                            <div class="sign-block">
                                <span class="sign-date" id="physician_name"><%=patient.phy_name%></span>
                                <span class="sign-placeholder">Physisican Name</s pan>
                            </div>
                            <div class="sign-block">
                                <span class="sign-date" id="physician_date"><%= patient.phy_date? moment(patient.phy_date).format('Do MMMM, YYYY'): ''%></span>
                                <span class="sign-placeholder">Date</span>
                            </div>
                        <%}%>
                        
                    </div>
                </div>

                <div class="content-inner-section">
                    <h2 class="inner-content-header">Contractor Information</h2>
                    <div class="form-wrapper">
                        <div class="row">
                            <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group form-row">
                                    <label class="col-sm-5 col-form-label">Contractor Name</label>
                                    <div class="data-display col-sm-7"><%=patient.agent.fullName%></div>
                                </div>
                            </div>
                            <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group form-row">
                                    <label class="col-sm-5 col-form-label">Contractor #</label>
                                        <div class="data-display col-sm-7"><%=patient.agent.constractorId%></div>
                                </div>
                            </div>
                            <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group form-row">
                                    <label class="col-sm-5 col-form-label">Contractor Email</label>
                                    <div class="data-display col-sm-7"><%=patient.agent.email%></div>
                                </div>
                            </div>
                            <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group form-row">
                                    <label class="col-sm-5 col-form-label">Contractor Phone</label>
                                    <div class="data-display col-sm-7"><%=patient.agent.phoneNo%></div>
                                </div>
                            </div>

                            <div class="form-inline col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group form-row">
                                    <label class="col-sm-5 col-form-label">Submitted by</label>
                                    <div class="data-display col-sm-7"><%=patient.createdBy%></div>
                                </div>
                            </div>       
                        </div>
                    </div>
                </div>

                <div class="content-inner-section">
                    <h2 class="inner-content-header">Swab KIT Shipment Information</h2>
                    <div class="form-wrapper">
                        <div class="row">
                            <div class="form-inline col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-inline col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="form-group form-row">
                                        <label class="col-sm-8 col-form-label">Where would you like the Test Kit to be shipped?</label>
                                        <div class="data-display col-sm-4"><%= patient.swapkitshipedTo%></div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../layouts/footer.ejs') %>

<!-- Modal - Get signature -->
<div class="modal fade family-form-modal" id="makeSignature" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <img src="/assets/images/icons/Success-icon.png" alt="success" />
                <h2>Get Signature Remotely</h2>
                <p>Please choose the link send to Email or SMS.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="sendSignatureLink(event, 'mail')">Email</button>
                <button type="button" class="btn btn-secondary" onclick="sendSignatureLink(event, 'sms')" style="background-color: #66af4e;border: 1px solid #66af4e;" >SMS</button>
                <!-- <button type="button" class="btn btn-secondary" style="background-color: #66af4e;border: 1px solid #66af4e;" onclick="submitThirdForm(event)">Submit Enrollment</button> -->
                <!-- <a href="03b_Hereditary_Cancer_Form-New.html" class="btn btn-secondary" >DONE</a> -->
            </div>
        </div>
    </div>
</div>
<!-- modal - Get signature -->

<script>
  
  console.log(" data",  <%-JSON.stringify(patient)%>);
    function onSubmit(e) {
      e.preventDefault();
    //   var data = {};
    //   data['id'] = "<%=patient.id%>";
    //   console.log("e ==>onSubmit", data);
      // return false;
      axios.get('/api/v1/send/pdf/<%=patient.id%>', {}).then(resp=> {
          var data = resp.data;
          console.log("data ", data);
          toastr.success(data.msg, "Success");
      }).catch(err=> {
          var err = err.response.data;
          console.log("err ", err);
          toastr.warning(err.msg ? err.msg: "Something went wrong", "Error");
      })
    }

    function openModel(e) {
        e.preventDefault();
        $('#makeSignature').modal("show");
    }

    function sendSignatureLink(e, gatway) {
      e.preventDefault();
      var url = '/api/v1/signature/link/'+"<%=patient.id%>";
      if (gatway == 'sms') {
            url = '/api/v1/signature/link/sms/'+"<%=patient.id%>";
        }
 console.log("url ", url);
      axios.get(url, {}).then(resp=> {
          var data = resp.data;
          console.log("data ", data);
          toastr.success(data.msg, "Success");
          $('#makeSignature').modal("hide");
      }).catch(err=> {
          var err = err.response.data;
          console.log("err ", err);
          toastr.warning(err.msg ? err.msg: "Something went wrong", "Error");
      })
    }
  </script>