<%- include('../../layouts/header.ejs') %>

  <div class="content-wrapper-main">
    <section class="content-section">
      <h2 class="content-header">Add New Group Practice</h2>
      <div class="content-inner-section">
        <h2 class="inner-content-header">Basic Information</h2>
        <div class="form-wrapper">
          <form action="/api/v1/add/groupPractice" id="groupPractice" method="post" autocomplete="off">
            <div class="row">
              <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group form-row">
                  <label class="col-sm-4 col-form-label">Health System<span class="astrix-sym">*</span></label>
                  <input type="text" class="form-control col-sm-8" name="healthSystem" placeholder="Health System"
                    value="" required>
                </div>
              </div>
              <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group form-row">
                  <label class="col-sm-4 col-form-label">Group Practice name<span class="astrix-sym">*</span></label>
                  <input type="text" class="form-control col-sm-8" name="groupPracticeName" value=""
                    placeholder="Group Practice name" oninput="checkName(this)" id="gpN" required>
                </div>
              </div>
              <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group form-row">
                  <label class="col-sm-4 col-form-label">Physician Name<span class="astrix-sym">*</span></label>
                  <input type="text" class="form-control col-sm-8" name="fullName" placeholder="Physician Name" value=""
                  oninput="checkName(this)" id="pN" required>
                  <span style="color: red;"></span>
                </div>
              </div>
              <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group form-row">
                  <label class="col-sm-4 col-form-label">License #<span class="astrix-sym">*</span></label>
                  <input type="number" class="form-control col-sm-8" pattern="[0-9]+" name="licenseNo"
                    placeholder="License" value="" required>
                </div>
              </div>
              <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group form-row">
                  <label class="col-sm-4 col-form-label">NPI #<span class="astrix-sym">*</span></label>
                  <input type="text" class="form-control col-sm-8" pattern="[a-zA-Z0-9\s]+" name="npiNo"
                    placeholder="NPI" value="" required>
                </div>
              </div>
              <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group form-row">
                  <label class="col-sm-4 col-form-label">EIN<span class="astrix-sym">*</span></label>
                  <input type="text" class="form-control col-sm-8" pattern="[a-zA-Z0-9\s]+" name="einNo"
                    placeholder="EIN" value="" required>
                </div>
              </div>
              <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group form-row">
                  <label class="col-sm-4 col-form-label">Phone Number<span class="astrix-sym">*</span></label>
                  <input type="text" id="phoneNo" class="form-control col-sm-8" name="phoneNo"
                    placeholder="Phone Number" value="" required>
                </div>
              </div>
              <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group form-row">
                  <label class="col-sm-4 col-form-label">Fax Number<span class="astrix-sym">*</span></label>
                  <input type="text" id="fax_no" class="form-control col-sm-8" name="FaxNo" placeholder="Fax Number"
                    value="" required>
                </div>
              </div>
              <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group form-row">
                  <label class="col-sm-4 col-form-label">Email Address<span class="astrix-sym">*</span></label>
                  <input type="email" class="form-control col-sm-8"
                    pattern="^([0-9]{9})|([A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3})$" name="email"
                    placeholder="Email Address" value="" required>
                </div>
              </div>

              <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group form-row textarea-group">
                  <label class="col-sm-4 col-form-label">Street Address<span class="astrix-sym">*</span></label>
                  <textarea class="form-control col-sm-8" row="4" name="streetAddress" required></textarea>
                </div>
              </div>
              <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group form-row">
                  <label class="col-sm-4 col-form-label">User Name<span class="astrix-sym">*</span></label>
                  <input type="text" class="form-control col-sm-8" name="userName" placeholder="User Name" value=""
                    required>
                </div>
                <div class="form-group form-row">
                  <label class="col-sm-4 col-form-label">City<span class="astrix-sym">*</span></label>
                  <input type="text" class="form-control col-sm-8" name="city" placeholder="City" required>
                </div>
              </div>
              <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group form-row">
                  <label class="col-sm-4 col-form-label">State<span class="astrix-sym">*</span></label>
                  <select class="form-control col-sm-8" name="state" required>
                    <option value="">Select State</option>
                    <%states.forEach(function(item) {%>
                      <option>
                        <%=item%>
                      </option>
                      <%})%>
                  </select>
                </div>
              </div>
              <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group form-row">
                  <label class="col-sm-4 col-form-label">Zip Code<span class="astrix-sym">*</span></label>
                  <input type="text" id="zipcode" minlength="5" class="form-control col-sm-8" name="zipcode"
                    placeholder="Zip Code" value="" required>
                </div>
              </div>
              <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group form-row">
                  <label class="col-sm-4 col-form-label">Partner Name</label>
                  <input type="text" class="form-control col-sm-8" name="partnerName" placeholder="Partner Name"
                    value="" />
                </div>
              </div>
              <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group form-row">
                  <label class="col-sm-4 col-form-label">Partner ID</label>
                  <input type="text" class="form-control col-sm-8" name="partnerId" placeholder="Partner ID" value="" />
                </div>
              </div>
              <div class="form-inline col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group form-row">
                  <label class="col-sm-4 col-form-label">Primary Number</label>
                  <input type="text" id="primaryNo" class="form-control col-sm-8" name="primaryNo"
                    placeholder="Primary Number" value="">
                </div>
              </div>
              <input type="hidden" name="role" value="physician">

              <div class="action-block col-12" style="flex: unset;">
                <button type="button" onclick="window.history.back();" class="btn nrml-btn cancel">Cancel</button>
                <button type="button" onclick="formSubmit()" class="btn nrml-btn save">Save</button>
                <button id="saveButton" style="display:none;" class="btn nrml-btn save">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>

  <%- include('../../layouts/footer.ejs') %>

    <script>
      $('#zipcode').mask('00000-0000');
      $('#phoneNo').mask('000-000-0000', { clearIfNotMatch: true });
      $('#primaryNo').mask('000-000-0000', { clearIfNotMatch: true });
      $('#fax_no').mask('000-000-0000', { clearIfNotMatch: true });
      var nameAlreadyExits = false;
      function checkName(e){
          var reqObj = {fullName: $('#pN').val(), groupPracticeName: $('#gpN').val()};
          // var name = $(e).val();
          axios.post('/api/v1/check/username', reqObj).then(result=> {
            console.log("result ", result.data);
            if (result.data.status) {
              nameAlreadyExits = true;
              $('#pN').siblings("span").text('Sorry... The Physician Name as already taken');
            } else {
              nameAlreadyExits = false;
              $('#pN').siblings("span").text('');
            }
            console.log("nameAlreadyExits ", nameAlreadyExits);
          }).catch(err=> {
              var err = err.response.data;
              toastr.warning(err.msg ? err.msg: "Something went wrong", "Error");
          });
      }
      
      function formSubmit() {
        if (nameAlreadyExits) {
          toastr.warning("Physician Name is already exists", "Error");
          return false;
        }
        $('#saveButton').click();
      }

    </script>