<h4><b>Hi, <%= data.name %></b></h4>
<p>Please keep this mail for your record. Your account information as follows:</p>
<div>
    <h3>Username: <%= data.userName %></h3>
    <h3>Password: <%= random %></h3>
    <br>
    <br>
    <br>

    <h3>Website Link: <a href="<%= baseUrl %>" target="_blank"><%= baseUrl %></a></h3>
</div>