<h4><b>Please click on the below link and sign the DNA screening consent form using your finger or using your mouse.</b></h4>
<!-- <p>To reset your password, complete this form:</p> -->
<a href="<%= link %>" > <%= link %> </a>
<br>
<br> 
<p>--Team</p>