<%var count = {}%>
<%var showCode = false%>
<%
    data.familydetails.forEach(function(item){
        if(count[item.cancer_type] == undefined){
            count[item.cancer_type] = 1;
        } else {
            count[item.cancer_type] +=1;
            showCode = true;
        }
    })
%>
<div class="content-inner-section pdf-container" style="background-color: #eaebeb;">
    <div style="width: 210mm;min-height: 297mm;padding: 10mm;margin: 10mm auto;background-color: #fff;">
        <table class="main-table-pdf" style="width:100%">
            <tbody>
                <tr>
                    <td>
                        <table style="width:100%;">
                            <tbody>
                                <tr>
                                    <td
                                        style="width:34%;border:1px solid #000;vertical-align:top;border-bottom:0px solid #000;">
                                        <table style="width:100%">
                                            <tbody>
                                                <tr>
                                                    <td
                                                        style="height:10px;background-color:#80cffd;font-size:8px;padding: 2px;font-weight:bold;">
                                                        A. CLINIC INFORMATION</td>
                                                </tr>
                                                <tr>
                                                    <td style="height:10px;font-weight:bold;">Genetix</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                    <!-- ---------- -->
                                    <!-- <td style="height:50px;font-size:8px; width:29%;text-align: center;vertical-align: top;">
                                        <img src="Logo.png" style="height:48px;">
                                    </td> -->
                                    <td style="width:14%;">
                                        <table style="width:100%">
                                            <tbody>
                                                <tr>
                                                    <td
                                                        style="height:10px;font-size:8px;padding: 2px;font-weight:bold;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="height:10px;font-weight:bold;"></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="width:52%;">
                                        <table style="width:100%">
                                            <tbody>
                                                <tr>
                                                    <td
                                                        style="width:45%;font-size:10px;padding: 2px;font-weight:bold;text-align: center;">
                                                        <h4>Advanta Labs</h4>
                                                        <p style="font-size:8px;font-weight:bold;">1651 N. Collins Blvd., Suite 180</p>
                                                            <p style="font-size:8px;font-weight:bold;">Richardson, TX  75080</p>
                                                        <p style="font-size:8px;font-weight:bold;">CLIA#: 45D2072790</p>
                                                    </td>
                                                    <!-- <td
                                                        style="text-align: right;width:50%;font-size:10px;padding: 2px;font-weight:bold;">
                                                        <h4 style="margin-right: 5px;">Fulgent Genetics</h4>
                                                        <p
                                                            style="font-size:8px;font-weight:bold;    margin-right: 19px;">
                                                            Temple City, CA</p>
                                                        <p style="font-size:8px;font-weight:bold;">CLIA#: 05D20433189
                                                        </p>
                                                    </td> -->
                                                    <td style="width: 5%;"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <!-- <td style="height:50px;font-size:6px; width:34%;text-align:right;vertical-align: bottom;color:#000;font-weight:bold;">
                                        rev20200320
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- ----------- -->
                <tr>
                    <td>
                        <table style="width:100%;border:1px solid #000;">
                            <tbody>
                                <tr>
                                    <td
                                        style="width:100%;background-color:#80cffd;height:10px;font-size:8px;text-align:left;padding:2px;font-weight:bold;">
                                        B. SAMPLE INFORMATION
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        All fields REQUIRED for processing
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td style="width:45%;padding: 2px;vertical-align: top;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;height:10px;font-size:13px;font-weight:bold;">
                                                                        Requesting Provider
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="width:100%;border-right:1px solid #000;height:20px;padding: 2px;font-size:13px;font-weight:bold;">
                                                                        <table style="width:100%;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="width: 58%">
                                                                                        <div style="height:20px;padding: 2px;font-size:13px;font-weight:bold;"><%= data.physician.name %></div>
                                                                                        <div style="height:20px;padding: 2px;font-size:10px;font-weight:bold;">
                                                                                            <div><%= data.physician.address %>.,</div>
                                                                                            <%= data.physician.city %>,<%= data.physician.state %> <%= data.physician.zipcode %>
                                                                                        </div>
                                                                                        <div style=""></div>
                                                                                    </td>
                                                                                    <td style="width: 42%">
                                                                                        <div style="height:20px;padding: 2px;font-size:10px;font-weight:bold;text-align: left;">Phone#: <%= data.physician.phoneNo %></div>
                                                                                        <div style="height:20px;padding: 2px;font-size:10px;font-weight:bold;text-align: left;">Fax#: <%= data.physician.FaxNo %></div>

                                                                                        <div style="height:20px;padding: 2px;font-size:10px;font-weight:bold;text-align: left;">License#: <%= data.physician.licenseNo %></div>
                                                                                        <div style="height:20px;padding: 2px;font-size:10px;font-weight:bold;text-align: left;">NPI#: <%= data.physician.npiNo %></div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <!-- <span style="width: 60%;float: left;"><%= data.physician.name %></span>
                                                                        <span style="width: 40%;float: left;text-align: center; font-size:10px !important;">Phone#: <%= data.physician.phoneNo %></span> -->
                                                                    </td>
                                                                </tr>
                                                                <!-- <tr>
                                                                    <td
                                                                        style="width:100%;border-right:1px solid #000;height:20px;padding: 2px;font-size:10px;font-weight:bold;">
                                                                        <span style="width: 60%;float: left;"><%= data.physician.name %></span>
                                                                        <span style="width: 40%;float: left;text-align: center; font-size:10px !important;">Fax#: <%= data.physician.FaxNo %></span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;border-right:1px solid #000;height:20px;padding: 2px;font-size:10px;font-weight:bold;">
                                                                        <span style="width: 60%;float: left;"></span>
                                                                        <span style="width: 40%;float: left;text-align: center; font-size:10px !important;">License#: <%= data.physician.licenseNo %></span>
                                                                    </td>
                                                                </tr> -->
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td style="width:25%;padding: 2px;vertical-align: top;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;height:10px;font-size:8px;font-weight:bold;">
                                                                        Date & Time Collected
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;border-right:1px solid #000;height:20px;padding: 2px;font-size:10px;">
                                                                        <table style="width:100%;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td
                                                                                        style="width:25px;font-size:10px;height:16px;text-align:center;font-weight:bold;">
                                                                                    </td>
                                                                                    <td
                                                                                        style="width:10px;font-size:12px;height:16px;text-align:center;font-weight:bold;">
                                                                                        /</td>
                                                                                    <td
                                                                                        style="width:25px;font-size:10px;height:16px;text-align:center;font-weight:bold;">
                                                                                    </td>
                                                                                    <td
                                                                                        style="width:10px;font-size:12px;height:16px;text-align:center;font-weight:bold;">
                                                                                        /</td>
                                                                                    <td
                                                                                        style="width:25px;font-size:10px;height:16px;text-align:center;font-weight:bold;">
                                                                                    </td>
                                                                                    <td
                                                                                        style="width:30px;font-size:10px;height:16px;text-align:center;font-weight:bold;">
                                                                                    </td>
                                                                                    <td
                                                                                        style="width:10px;font-size:12px;height:16px;text-align:center;font-weight:bold;">
                                                                                        :</td>
                                                                                    <td
                                                                                        style="width:30px;font-size:12px;height:16px;text-align:center;font-weight:bold;">
                                                                                    </td>
                                                                                    <td style="width:15px;">
                                                                                        <table style="width:100%;">
                                                                                            <tr>
                                                                                                <td
                                                                                                    style="font-size:8px;text-align:right;font-weight:bold;padding-right: 2px;">
                                                                                                    AM</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td
                                                                                                    style="font-size:8px;text-align:right;font-weight:bold;padding-right: 2px;">
                                                                                                    PM</td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td style="width:10%;padding: 2px;vertical-align: top;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;height:10px;font-size:8px;font-weight:bold;">
                                                                        Collector
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;border-right:1px solid #000;height:20px;padding: 2px;font-size:10px;font-weight:bold;">

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td style="width:20%;padding: 2px;vertical-align: top;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;height:10px;font-size:8px;font-weight:bold;">
                                                                        Specimen Type
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;height:20px;padding: 2px;font-size:10px;font-weight:bold;">
                                                                        <span
                                                                            style="vertical-align:top;margin-right:5px;"><small
                                                                                style="width: 9px;height: 15px;font-size: 13px;display: inline-block;text-align: center;margin-right: 5px;color: #000;">X</small><small>Buccal
                                                                                Swab</small></span>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:100%;height:3px;background-color:#b9e5ff;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- ----------- -->
                <tr>
                    <td>
                        <table style="width:100%;border:1px solid #000;border-bottom:0px solid #000;margin-top: 3px;">
                            <tbody>
                                <tr>
                                    <td
                                        style="width:100%;background-color:#80cffd;height:10px;font-size:8px;text-align:left;padding:2px 2px 0px 2px;font-weight:bold;">
                                        C. PATIENT INFORMATION
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        All fields REQUIRED for processing
                                    </td>
                                </tr>
                                <tr>
                                    <td
                                        style="width:100%;background-color:#80cffd;height:8px;font-size:9px;text-align:left;padding-bottom:2px;font-weight:bold;">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Must provide a frontt/back copy of Insurance card(s) and Driver's License
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td style="width:30%;padding: 2px;vertical-align: top;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;height:10px;font-size:8px;font-weight:bold;">
                                                                        First Name
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;border-right:1px solid #000;height:20px;padding: 2px;font-size:13px;font-weight:bold;">
                                                                        <%=data.firstName%>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td style="width:30%;padding: 2px;vertical-align: top;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;height:10px;font-size:8px;font-weight:bold;">
                                                                        Last Name
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;border-right:1px solid #000;height:20px;padding: 2px;font-size:13px;font-weight:bold;">
                                                                        <%=data.lastName%>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td style="width:10%;padding: 2px;vertical-align: top;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;height:10px;font-size:8px;font-weight:bold;">
                                                                        MI
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;border-right:1px solid #000;height:20px;padding: 2px;font-size:13px;font-weight:bold;">
                                                                        <%=data.mi%>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td style="width:12%;padding: 2px;vertical-align: top;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;height:10px;font-size:8px;font-weight:bold;">
                                                                        Date of Birth
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;border-right:1px solid #000;height:20px;padding: 2px;font-size:13px;">
                                                                        <table style="width:100%;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <!-- <td style="width:10px;font-size:10px;height:16px;text-align:center;font-weight:bold;">01</td>
                                                                                    <td style="width:6px;font-size:12px;height:16px;text-align:center;font-weight:bold;">/</td>
                                                                                    <td style="width:10px;font-size:10px;height:16px;text-align:center;font-weight:bold;">01</td>
                                                                                    <td style="width:6px;font-size:12px;height:16px;text-align:center;font-weight:bold;">/</td>
                                                                                    <td style="width:25px;font-size:10px;height:16px;text-align:center;font-weight:bold;">2020</td> -->
                                                                                    <%=moment(data.dob).format('MM/DD/YYYY');%>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>

                                                    <td style="width:20%;padding: 2px;vertical-align: top;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;height:10px;font-size:8px;font-weight:bold;">
                                                                        Gender
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;height:20px;padding: 2px;font-size:10px;font-weight:bold;">
                                                                        <span
                                                                            style="vertical-align:top;margin-right:5px;">
                                                                            <small
                                                                                style="vertical-align: top;width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 3px;color: #000;">
                                                                                <% if(data.gender == 'male'){%>
                                                                                <span>
                                                                                    &#x2713;
                                                                                </span>
                                                                                <%}%>
                                                                            </small>
                                                                            <small style="font-weight: bold;vertical-align: top;">M</small>
                                                                        </span>
                                                                        <span style="vertical-align:top;margin-right:5px;">
                                                                            <small style="vertical-align: top;width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 3px;color: #000;">
                                                                                <% if(data.gender == 'female'){%>
                                                                                <span>
                                                                                    &#x2713;
                                                                                </span>
                                                                                <%}%>
                                                                            </small>
                                                                            <small style="font-weight: bold;vertical-align: top;">F</small>
                                                                        </span>
                                                                        <span style="vertical-align:top;margin-right:5px;">
                                                                            <small style="vertical-align: top;width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 3px;color: #000;">
                                                                                <% if(data.gender == 'others'){%>
                                                                                <span>
                                                                                    &#x2713;
                                                                                </span>
                                                                                <%}%>
                                                                            </small>
                                                                            <small style="font-weight: bold;vertical-align: top;">Others</small>
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
<!-- ----------- -->
                <tr>
                    <td>
                        <table style="width:100%;border:1px solid #000;border-bottom:0px solid #000;">
                            <tbody>
                                
                                <tr>
                                    <td>
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td style="width:35%;padding: 2px;vertical-align: top;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="width:100%;height:10px;font-size:8px;font-weight:bold;">
                                                                        Patient Address
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="width:100%;border-right:1px solid #000;height:20px;padding: 2px;font-size:13px;font-weight:bold;">
                                                                        <%=data.address%>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td style="width:23%;padding: 2px;vertical-align: top;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;height:10px;font-size:8px;font-weight:bold;">
                                                                        City
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;border-right:1px solid #000;height:20px;padding: 2px;font-size:13px;font-weight:bold;">
                                                                        <%=data.city%>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td style="width:9%;padding: 2px;vertical-align: top;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;height:10px;font-size:8px;font-weight:bold;">
                                                                        State
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;border-right:1px solid #000;height:20px;padding: 2px;font-size:13px;font-weight:bold;">
                                                                        <%=data.state%>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td style="width:13%;padding: 2px;vertical-align: top;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;height:10px;font-size:8px;font-weight:bold;">
                                                                        Zip
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;border-right:1px solid #000;height:20px;padding: 2px;font-size:12px;font-weight:bold;">
                                                                        <%=data.zipcode%>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td style="width:20%;padding: 2px;vertical-align: top;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;height:10px;font-size:8px;font-weight:bold;">
                                                                        Phone #
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                        style="width:100%;height:20px;padding: 2px;font-size:13px;font-weight:bold;">
                                                                        <%=data.phoneNo%>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>


                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- ----------- -->
                <tr>
                    <td>
                        <table style="width:100%;border:1px solid #000;border-bottom:0px solid #000;">
                            <tbody>

                                <tr>
                                    <td>
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td
                                                        style="width:35%;padding: 2px;vertical-align: top;line-height: 14px;">
                                                        <span
                                                            style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;"><small
                                                                style="font-size: 8px;    font-weight: bold;">Ethnicity</small></span>
                                                        <span
                                                            style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;">

                                                            <small
                                                                style="font-size: 10px;font-weight: bold;"><%= data.ethnicity.lable%></small>
                                                            <%if(data.ethnicity.lable == "Other"){%>
                                                            <small
                                                                style="font-size:10px;font-weight:bold;border-bottom:1px solid #000;width:60px;display: inline-block;margin-left:3px;">
                                                                <%= data.ethnicity.textValue%>
                                                            </small>
                                                            <%}%>
                            </span>
                        <!-- <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;"><small style="width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">&#x2713;</small><small style="font-size: 8px;font-weight: bold;">Asian</small></span>
                        <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;"><small style="width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">&#x2713;</small><small style="font-size: 8px;font-weight: bold;">African-American</small></span>
                        <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;"><small style="width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">&#x2713;</small><small style="font-size: 8px;font-weight: bold;">Ashkenazi Jewish</small></span>
                        <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;"><small style="width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">&#x2713;</small><small style="font-size: 8px;font-weight: bold;">Caucasian</small></span>
                        <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;"><small style="width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">&#x2713;</small><small style="font-size: 8px;font-weight: bold;">East indian</small></span>
                        <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;"><small style="width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">&#x2713;</small><small style="font-size: 8px;font-weight: bold;">French Canadian</small></span>
                        <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;"><small style="width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">&#x2713;</small><small style="font-size: 8px;font-weight: bold;">Other</small><small style="font-size:8px;font-weight:bold;border-bottom:1px solid #000;width:60px;display: inline-block;margin-left:3px;"></small></span>
                        <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;"><small style="width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">&#x2713;</small><small style="font-size: 8px;font-weight: bold;">Hispanic/latin American</small></span>
                        <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;"><small style="width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">&#x2713;</small><small style="font-size: 8px;font-weight: bold;">mediterranian</small></span>
                        <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;"><small style="width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">&#x2713;</small><small style="font-size: 8px;font-weight: bold;">Middle Eastern</small></span>
                        <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;"><small style="width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">&#x2713;</small><small style="font-size: 8px;font-weight: bold;">Native American</small></span>
                        <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;"><small style="width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">&#x2713;</small><small style="font-size: 8px;font-weight: bold;">Pacific Islander</small></span>
                        <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;"><small style="width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">&#x2713;</small><small style="font-size: 8px;font-weight: bold;">Sephardic Jewish</small></span> -->
                    </td>
                  
                    
                    
                </tr>
            </tbody>
        </table>
    </td>
</tr>
</tbody>
</table>
</td>
</tr>
<!-- ----------- -->
<tr>
<td>
<table style="width:100%;border:1px solid #000;border-bottom:0px solid #000;">
<tbody>

<tr>
    <td>
        <table style="width:100%;">
            <tbody>
                <tr>
                    <td style="width:35%;padding: 2px;vertical-align: top;line-height: 14px;">
                        <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;">
                            <small style="font-size: 10px;font-weight: bold;">Insurance information</small>
                        </span>
                        <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;">
                            <small style="vertical-align: top;width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">
                                <%if(data.insuranceInfo && data.insuranceInfo[0]['insuranceType'] == "Commercial"){%>
                                                            <span>&#x2713;</span>
                                                            <%}%>
                            </small>
                            <small style="font-size: 10px;font-weight: bold;vertical-align: top;">Commercial</small>
                        </span>
                        <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;">
                            <small style="vertical-align: top;width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">
                                <%if(data.insuranceInfo && data.insuranceInfo[0]['insuranceType'] == "Medicare" || data.insuranceInfo && data.insuranceInfo[0]['insuranceType'] == "Aetna PPO" || data.insuranceInfo && data.insuranceInfo[0]['insuranceType'] == "United Healthcare PPO" || data.insuranceInfo && data.insuranceInfo[0]['insuranceType'] == "Humana PPO" || data.insuranceInfo && data.insuranceInfo[0]['insuranceType'] == "Cigna PPO" || data.insuranceInfo && data.insuranceInfo[0]['insuranceType'] == "BCBS PPO"){%>
                                                            <span>&#x2713;</span>
                                                            <%}%>
                            </small>
                            <small style="font-size: 10px;font-weight: bold;vertical-align: top;">Medicare</small>
                        </span>
                        <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;">
                            <small style="vertical-align: top;width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">
                                <%if(data.insuranceInfo && data.insuranceInfo[0]['insuranceType'] == "Medicaid"){%>
                                                            <span>&#x2713;</span>
                                                            <%}%>
                            </small>
                            <small style="font-size: 10px;font-weight: bold;vertical-align: top;">Medicaid</small>
                        </span>
                        <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;">
                            <small style="vertical-align: top;width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">
                                <%if(data.insuranceInfo && data.insuranceInfo[0]['insuranceType'] == "Workers Comp"){%>
                                                            <span>&#x2713;</span>
                                                            <%}%>
                            </small>
                            <small style="font-size: 10px;font-weight: bold;vertical-align: top;">Workers Comp</small>
                        </span>
                        <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;">
                            <small style="vertical-align: top;width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">
                                <%if(data.insuranceInfo && data.insuranceInfo[0]['insuranceType'] == "Patient Payment Auth"){%>
                                                            <span>&#x2713;</span>
                                                            <%}%>
                            </small>
                            <small style="font-size: 10px;font-weight: bold;vertical-align: top;">Patient Payment Auth</small>
                        </span>
                        <span style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;">
                            <small style="vertical-align: top;width: 9px;height: 9px;border: 1px solid #000;font-size: 6px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">
                                <%if(data.insuranceInfo && data.insuranceInfo[0]['insuranceType'] == "Clinic Payment Auth"){%>
                                                            <span>&#x2713;</span>
                                                            <%}%>
                            </small>
                            <small style="font-size: 10px;font-weight: bold;vertical-align: top;">Clinic Payment Auth</small>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
</tbody>
</table>
</td>
</tr>
<!-- ----------- -->
<tr>
<td>
<table style="width:100%;border:1px solid #000;border-bottom:0px solid #000;">
<tbody>

<tr>
    <td>
        <table style="width:100%;">
            <tbody>
                <tr>
                    <td style="width:33%;padding: 2px;vertical-align: top;">
                        <table style="width:100%;">
                            <tbody>
                                <tr>
                                    <td style="width:100%;height:10px;font-size:8px;font-weight:bold;">
                                        Ins. Name:
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:100%;border-right:1px solid #000;height:20px;padding: 2px;font-size:10px;font-weight:bold;">
                                        <%= data.insuranceInfo && data.insuranceInfo[0]['insuranceName']%>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td
                                                        style="width:100%;border-right:1px solid #000;height:20px;padding: 2px;font-size:10px;font-weight:bold;">
                                                        <%= data.insuranceInfo && data.insuranceInfo[1]['insuranceName']%>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="width:33%;padding: 2px;vertical-align: top;">
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td style="width:100%;height:10px;font-size:8px;font-weight:bold;">
                                                        Ins. Type:
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td
                                                        style="width:100%;height:20px;padding: 2px;font-size:10px;font-weight:bold;border-right:1px solid #000;">
                                                        <%= data.insuranceInfo && data.insuranceInfo[0]['insuranceType']%>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td
                                                        style="width:100%;height:20px;padding: 2px;font-size:10px;font-weight:bold;border-right:1px solid #000;">
                                                        <%= data.insuranceInfo && data.insuranceInfo[1]['insuranceType']%>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="width:33%;padding: 2px;vertical-align: top;">
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td style="width:100%;height:10px;font-size:8px;font-weight:bold;">
                                                        ID/Cliam/policy #:
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td
                                                        style="width:100%;height:20px;padding: 2px;font-size:12px;font-weight:bold;">
                                                        <%= data.insuranceInfo && data.insuranceInfo[0]['policy']%>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td
                                                        style="width:100%;height:20px;padding: 2px;font-size:12px;font-weight:bold;">
                                                        <%= data.insuranceInfo && data.insuranceInfo[1]['policy']%>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        </td>
        </tr>

        <tr>
            <td>
                <table style="width:100%;border:1px solid #000;border-bottom:0px solid #000;margin-top: 3px;">
                    <tbody>
                        <tr>
                            <td
                                style="width:100%;background-color:#80cffd;height:10px;font-size:8px;text-align:left;padding:2px 2px 0px 2px;font-weight:bold;">
                                D. CANCER HISTORY
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width: 100%;font-weight: bold;">
                                    <thead>
                                        <tr>
                                            <td
                                                style="width:20%;font-size:10px;text-align:center;font-weight:bold;padding:0px 2px;border-right:1px solid #000;border-bottom:1px solid #000;">
                                                Cancer Type
                                                <%if(showCode){%>
                                                <span>/ ICD-10 Code</span>
                                                <%}%>
                    </td>
                    <td style="width:20%;font-size:10px;text-align:center;font-weight:bold;padding:0px 2px;border-right:1px solid #000;border-bottom:1px solid #000;">Personal
                        <table style="width: 100%;font-weight: bold;">
                            <thead>
                            <tr>
                                <td style="width:50%;font-size:10px;text-align:center;font-weight:bold;padding:0px 2px;border-right:1px solid #000;border-top:1px solid #000;">Relation</td>
                                <td style="width:50%;font-size:10px;text-align:center;font-weight:bold;padding:0px 2px;border-top:1px solid #000;">Age</td>
                            </tr>
                          </thead>
                        </table>
                    </td>
                    <td style="width:20%;font-size:10px;text-align:center;font-weight:bold;padding:0px 2px;border-right:1px solid #000;border-bottom:1px solid #000;">Maternal
                        <table style="width: 100%;font-weight: bold;">
                            <thead>
                            <tr>
                                <td style="width:50%;font-size:10px;text-align:center;font-weight:bold;padding:0px 2px;border-right:1px solid #000;border-top:1px solid #000;">Relation</td>
                                <td style="width:50%;font-size:10px;text-align:center;font-weight:bold;padding:0px 2px;border-top:1px solid #000;">Age</td>
                            </tr>
                          </thead>
                        </table>
                    </td>
                    <td style="width:20%;font-size:10px;text-align:center;font-weight:bold;padding:0px 2px;border-right:1px solid #000;border-bottom:1px solid #000;">Paternal
                        <table style="width: 100%;font-weight: bold;">
                            <thead>
                            <tr>
                                <td style="width:50%;font-size:10px;text-align:center;font-weight:bold;padding:0px 2px;border-right:1px solid #000;border-top:1px solid #000;">Relation</td>
                                <td style="width:50%;font-size:10px;text-align:center;font-weight:bold;padding:0px 2px;border-top:1px solid #000;">Age</td>
                            </tr>
                          </thead>
                        </table>
                    </td>
                    <td style="width:20%;font-size:10px;text-align:center;font-weight:bold;padding:0px 2px;border-bottom:1px solid #000;">Additional Details
                        <table style="width: 100%;font-weight: bold;">
                            <thead>
                            <tr>
                                <td style="width:50%;font-size:10px;text-align:center;font-weight:bold;padding:0px 2px;border-right:1px solid #000;border-top:1px solid #000;">Number</td>
                                <td style="width:50%;font-size:10px;text-align:center;font-weight:bold;padding:0px 2px;border-top:1px solid #000;">Date</td>
                            </tr>
                          </thead>
                        </table>                 
                    </td>                              
                </tr>
                <%data.familydetails.forEach(function(item){%>
                                                <%if(count[item.cancer_type] == undefined){
                        count[item.cancer_type] = 1;
                    } else {
                        count[item.cancer_type] +=1;
                        showCode = true;
                    }%>
                                        <tr>
                                            <td
                                                style="width:20%;font-size:12px;text-align:left;padding:0px 2px;border-right:1px solid #000;">
                                                <%=item.cancer_type%></td>
                                            <td style="width: 20%;border-right:1px solid #000;">
                                                <%if(item.type =="Personal History"){%>
                                                <table style="width: 100%">
                                                    <tr>
                                                        <td
                                                            style="width:50%;font-size:10px;text-align:center;padding:0px 2px;">
                                                            <%=item.relation%></td>
                                                        <td
                                                            style="width:50%;font-size:10px;text-align:center;padding:0px 2px;">
                                                            <%=item.age%></td>
                                                    </tr>
                                                </table>
                                                <%}else {%>
                                                <span>&#x00a0;</span>
                                                <%}%>
                        </td>
                        <td style="width: 20%;border-right:1px solid #000;">
                            <%if(item.type =="Mother’s Side"){%>
                                                <table style="width: 100%">
                                                    <tr>
                                                        <td
                                                            style="width:50%;font-size:10px;text-align:center;padding:0px 2px;">
                                                            <%=item.relation%></td>
                                                        <td
                                                            style="width:50%;font-size:10px;text-align:center;padding:0px 2px;">
                                                            <%=item.age%></td>
                                                    </tr>
                                                </table>
                                                <%}else {%>
                                                <span>&#x00a0;</span>

                                                <%}%>
                        </td>
                        <td style="width: 20%;border-right:1px solid #000;">
                            <%if(item.type =="Father’s Side"){%>
                                                <table style="width: 100%">
                                                    <tr>
                                                        <td
                                                            style="width:50%;font-size:10px;text-align:center;padding:0px 2px;">
                                                            <%=item.relation%></td>
                                                        <td
                                                            style="width:50%;font-size:10px;text-align:center;padding:0px 2px;">
                                                            <%=item.age%></td>
                                                    </tr>
                                                </table>
                                                <%}else {%>
                                                <span>&#x00a0;</span>
                                                <%}%>
                        </td>
                        <td style="width: 20%;"><table style="width: 100%;font-weight: bold;"><tr>
                            <td style="width:50%;font-size:10px;text-align:center;padding:0px 2px;border-right:1px solid #000;">&#x00a0;</td>
                            <!-- <td style="width:50%;font-size:10px;text-align:center;padding:0px 2px;">&#x00a0;</td> -->
                            <td style="width:50%;font-size:10px;text-align:center;padding:0px 2px;">&#x00a0;</td>
                        </tr></table></td>
                    </tr>
                <%})%>

                                                <!-- <tr>
                  <td style="width:20%;font-size:10px;text-align:left;padding:0px 2px;border-right:1px solid #000;">polyps</td>
                  <td style="width: 20%;border-right:1px solid #000;">&#x00a0;</td>
                  <td style="width: 20%;border-right:1px solid #000;">&#x00a0;</td>
                  <td style="width: 20%;border-right:1px solid #000;">&#x00a0;</td>
                  <td style="width: 20%;"><table style="width: 100%;font-weight: bold;"><tr>
                    <td style="width:50%;font-size:10px;text-align:center;padding:0px 2px;border-right:1px solid #000;">&#x00a0;</td>
                    <td style="width:50%;font-size:10px;text-align:center;padding:0px 2px;">1/18/2017</td>
                 </tr></table></td>
              </tr> -->

                                                <!-- <tr>
                  <td style="width:20%;font-size:10px;text-align:left;padding:0px 2px;border-right:1px solid #000;">colon Z80.0</td>
                  <td style="width: 20%;border-right:1px solid #000;">&#x00a0;</td>
                  <td style="width: 20%;border-right:1px solid #000;"><table style="width: 100%;font-weight: bold;"><tr>
                    <td style="width:50%;font-size:10px;text-align:center;padding:0px 2px;">Uncle</td>
                    <td style="width:50%;font-size:10px;text-align:center;padding:0px 2px;">50</td>
                 </tr></table></td>
                 <td style="width: 20%;border-right:1px solid #000;">&#x00a0;</td>
                  <td style="width: 20%;"><table style="width: 100%"><tr>
                    <td style="width:50%;font-size:10px;text-align:center;padding:0px 2px;border-right:1px solid #000;">&#x00a0;</td>
                    <td style="width:50%;font-size:10px;text-align:center;padding:0px 2px;">&#x00a0;</td>
                 </tr></table></td>
              </tr> -->

                                                <!-- <tr>
                  <td style="width:20%;font-size:10px;text-align:left;padding:0px 2px;border-right:1px solid #000;">Ovarian Z 80.41</td>
                  <td style="width: 20%;border-right:1px solid #000;">&#x00a0;</td>
                  <td style="width: 20%;border-right:1px solid #000;">&#x00a0;</td>
                  <td style="width: 20%;border-right:1px solid #000;"><table style="width: 100%;font-weight: bold;"><tr>
                    <td style="width:50%;font-size:10px;text-align:center;padding:0px 2px;">Grandmother</td>
                    <td style="width:50%;font-size:10px;text-align:center;padding:0px 2px;">55</td>
                 </tr></table></td>
                 <td style="width: 20%;"><table style="width: 100%;font-weight: bold;"><tr>
                    <td style="width:50%;font-size:10px;text-align:center;padding:0px 2px;border-right:1px solid #000;">&#x00a0;</td>
                    <td style="width:50%;font-size:10px;text-align:center;padding:0px 2px;">&#x00a0;</td>
                 </tr></table></td>
              </tr> -->

                                    </thead>
                                </table>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>
        <!-- ----------- -->
        <tr>
            <td>
                <table style="width:100%;border:1px solid #000;border-bottom:0px solid #000;margin-top: 3px;">
                    <tbody>
                        <tr>
                            <td
                                style="width:100%;background-color:#80cffd;height:10px;font-size:8px;text-align:left;padding:2px 2px 0px 2px;font-weight:bold;">
                                E. CANCER SCREENING
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Please Mark Gene Panel(s) or Circle individual Gene(s) based on Medical necessity
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:100%;height:8px;font-size:9px;text-align:left;padding-bottom:2px;font-weight:bold;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <small style="font-size:10px;font-weight:bold;">Comprehensive Panel - </small>Includes
                                ALL Genes Listed Below (44) <span
                                    style="display: inline-block;vertical-align:top;height:10px;line-height:10px;margin-right:20px;padding:3px;"><small
                                        style="width: 9px;height: 9px;font-size: 13px;font-weight: bold;display: inline-block;text-align: center;margin-right: 6px;color: #000;">X</small></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;line-height: 13px;padding-bottom: 2px;">
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">APC</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">ATM</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">BAP1</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">BARD1</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">BLM</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">BMPR1A</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">BRCA1</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">BRCA2</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">BRIP1</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">CDH1</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">CDK4</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">CDKN2A</small><small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">CHEK2</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">EPCAM</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">FANCA</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">FANCB</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">FANCC</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">FANCD2</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">FANCE</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">FH</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">MEN1</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">MET</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">MITF</small>
                                <small
                                    style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">MLH1</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">MRE11</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">MSH2</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">MSH6</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">MUTYH</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">NBN</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">NF1</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">PALB2</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">PMS2</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">POLD1</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">POLE</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">PTCH1</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">PTEN</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">RAD50</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">RAD51C</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">RAD51D</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">RET</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">SMAD4</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">STK11</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">TP53</small>
                                <small style="font-size: 10px;font-weight: bold;padding:0px 2px;line-height: 10px;margin-right:20px;vertical-align: top;">VHL</small>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:100%;height:3px;background-color:#b9e5ff;border-bottom:1px solid #000;">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <!-- ----------- -->


        <!-- ----------- -->

        <tr>
            <td>
                <table style="width:100%;border:1px solid #000;border-bottom:0px solid #000;margin-top: 3px;">
                    <tbody>
                        <tr>
                            <td
                                style="width:100%;background-color:#80cffd;height:10px;font-size:8px;text-align:left;padding:2px 2px 0px 2px;font-weight:bold;">
                                <span>F. AUTHORIZATION
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    ALL Signatures REQUIRED For Processing </span>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:100%;font-size:8px;text-align:left;padding:2px 2px 0px 2px;font-weight:bold;">
                                <span style="width:100%;font-size:7.4px;text-align:left;">By Signing my name, I hereby
                                    authorize the testing lab to perform the indicated genetic tests on my sample of
                                    DNA. I acknowledge that I have read the "Informed Consent for Hereditary Cancer
                                    Testing"
                                    & I Understand the benefits and limitations of this type of testing. Signing this
                                    form authorizes a below Performance Location to perform specimen testing, release
                                    test results to the ordering provider &
                                    bill my insurance provider directly for the payment. I further authorize the
                                    Performance Location & my provider to release to my insurance company any medical
                                    information necessary to process this claim.
                                </span>
                            </td>

                        </tr>

                        <tr>
                            <td style="text-align:center;padding:2px">
                                <span
                                    style="display: inline-block;vertical-align:top;margin-right:0px;padding: 2px 7px;"><small
                                        style="font-size: 12px;font-weight: bold;">Patient Signature</small>
                                    <small
                                        style="font-size:8px;font-weight:bold;width:240px;display: inline-block;margin-left:3px;border-collapse: collapse;">
                                        <img style="border-bottom:1px solid #000;" src="<%=data.signature%>"
                                            alt="Singature" width="170px;">
                                    </small></span>
                                <span
                                    style="display: inline-block;vertical-align:bottom;margin-right:0px;padding: 2px 7px;vertical-align: bottom;">
                                    <small style="font-size: 12px;font-weight: bold;">Date</small>
                                    <small style="font-size:8px;font-weight:bold;border-bottom:1px solid #000;width:100px;display: inline-block;margin-left:3px;">
                                        <%= moment(new Date(data.createdAt)).format('Do MMMM, YYYY'); %>
                                    </small>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:100%;font-size:8px;text-align:left;padding:2px 2px 0px 2px;font-weight:bold;">
                                <span style="width:100%;font-size:7.4px;text-align:left;">By submitting this physician
                                    order for testing at the testing lab, I agree to the following only medically
                                    necessary testing
                                    should be ordered. I confirm that the requested test(s) are ordered specifically for
                                    this patient, are reasonable and/or medically necessary, and that results will be
                                    used in the medical management &
                                    treatment decisions for this patient as indicated on the Provider Referral. I agree
                                    to document in the Patient's records a written order and medical necessity to
                                    support the ordering of tests. I confirm the
                                    patient has been supplied information regarding this test and agree to provide the
                                    testing lab with all necessary patient information.
                                </span>
                            </td>

                        </tr>

                        <tr>
                            <td style="text-align:center;padding:2px;height: 70px;vertical-align: bottom;">
                                <span
                                    style="display: inline-block;vertical-align:top;margin-right:0px;padding: 2px 7px;"><small
                                        style="font-size: 12px;font-weight: bold;">Provider Signature</small>
                                    <%if(data.pSignature){%>
                                        <small 
                                        style="font-size:8px;font-weight:bold;width:240px;display: inline-block;margin-left:3px;border-collapse: collapse;">
                                            
                                                <img style="border-bottom:1px solid #000;" src="<%=data.pSignature%>"
                                                    alt="Singature" width="170px;">
                                        </small>
                                    <%}else {%>
                                        <small style="height:42px;font-size:8px;font-weight:bold;border-bottom:1px solid #000;width:240px;display: inline-block;margin-left:3px;">
                                            
                                        </small>
                                
                                    <%}%>
                                </span>
                                <span
                                    style="display: inline-block;vertical-align:bottom;margin-right:0px;padding: 2px 7px;">
                                    <small style="font-size: 12px;font-weight: bold;">Date</small>
                                    <small style="font-size:8px;font-weight:bold;border-bottom:1px solid #000;width:100px;display: inline-block;margin-left:3px;">
                                        <%= data.phy_date? moment(new Date(data.phy_date)).format('Do MMMM, YYYY'): '' %>
                                    </small>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:100%;height:3px;background-color:#b9e5ff;border-bottom:1px solid #000;">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <!-- ----------- -->

        </tbody>
        </table>
    </div>
</div>