<%- include('../../layouts/header.ejs') %>

<div class="content-wrapper-main">
    <section class="content-section">
        <h2 class="content-header">Patient Status</h2>
        <div class="widgets-wrapper">
            <div class="widget-block-each">
                <div class="widget-image-holder">
                    <img src="assets/images/widget-icon/wid-1.png">
                </div>
                <div class="widget-info">
                    <p><%= data['Dr.Approval Pending'] ? data['Dr.Approval Pending']: 0%></p>
                    <label class="widget-label">Dr. Approval Pending</label>
                </div>
            </div>
            <div class="widget-block-each wid-2">
                <div class="widget-image-holder">
                    <img src="assets/images/widget-icon/wid-2.png">
                </div>
                <div class="widget-info">
                    <p><%= data['Doctor Approved'] ? data['Doctor Approved']: 0%></p>
                    <label class="widget-label">Doctor Approved</label>
                </div>
            </div>
            <div class="widget-block-each wid-3">
                <div class="widget-image-holder">
                    <img src="assets/images/widget-icon/wid-3.png">
                </div>
                <div class="widget-info">
                    <p><%= data['Test Accepted'] ? data['Test Accepted']: 0%></p>
                    <label class="widget-label">Test Accepted</label>
                </div>
            </div>
            <div class="widget-block-each wid-4">
                <div class="widget-image-holder">
                    <img src="assets/images/widget-icon/wid-4.png">
                </div>
                <div class="widget-info">
                    <p><%= data['Test on Hold'] ? data['Test on Hold']: 0%></p>
                    <label class="widget-label">Test on Hold</label>
                </div>
            </div>
            <div class="widget-block-each wid-5">
                <div class="widget-image-holder">
                    <img src="assets/images/widget-icon/wid-5.png">
                </div>
                <div class="widget-info">
                    <p><%= data['Test Shipped to Lab'] ? data['Test Shipped to Lab']: 0%></p>
                    <label class="widget-label">Test Shipped to Lab</label>
                </div>
            </div>
            <div class="widget-block-each wid-6">
                <div class="widget-image-holder">
                    <img src="assets/images/widget-icon/wid-6.png">
                </div>
                <div class="widget-info">
                    <p><%= data['Test Received by Lab'] ? data['Test Received by Lab']: 0%></p>
                    <label class="widget-label">Test Received by Lab</label>
                </div>
            </div>
            <div class="widget-block-each wid-7">
                <div class="widget-image-holder">
                    <img src="assets/images/widget-icon/wid-7.png">
                </div>
                <div class="widget-info">
                    <p><%= data['Test Inprocess at Lab'] ? data['Test Inprocess at Lab']: 0%></p>
                    <label class="widget-label">Test Inprocess at Lab</label>
                </div>
            </div>
            <div class="widget-block-each wid-8">
                <div class="widget-image-holder">
                    <img src="assets/images/widget-icon/wid-8.png">
                </div>
                <div class="widget-info">
                    <p><%= data['Test Resulted'] ? data['Test Resulted']: 0%></p>
                    <label class="widget-label">Test Resulted</label>
                </div>
            </div>
            <div class="widget-block-each wid-9">
                <div class="widget-image-holder">
                    <img src="assets/images/widget-icon/wid-9.png">
                </div>
                <div class="widget-info">
                    <p><%= data['Paid'] ? data['Paid']: 0%></p>
                    <label class="widget-label">Paid</label>
                </div>
            </div>

        </div>
    </section>
    <% if(session.role != 'contractor'){%>
        <section class="content-section">
            <h2 class="content-header">Swab KIT Status</h2>
            <div class="widgets-wrapper">
                <div class="widget-block-each wid-4">
                    <div class="widget-image-holder">
                        <img src="assets/images/widget-icon/wid-10.png">
                    </div>
                    <div class="widget-info">
                        <p><%= data['ordered'] ? data['ordered']: 0%></p>
                        <label class="widget-label">Swab KIT Ordered</label>
                    </div>
                </div>
                <div class="widget-block-each wid-4">
                    <div class="widget-image-holder">
                        <img src="assets/images/widget-icon/wid-5.png">
                    </div>
                    <div class="widget-info">
                        <p><%= data['delivered'] ? data['delivered']: 0%></p>
                        <label class="widget-label">Swab KIT Delivered</label>
                    </div>
                </div>
                <div class="widget-block-each wid-10">
                    <div class="widget-image-holder">
                        <img src="assets/images/widget-icon/wid-11.png">
                    </div>
                    <div class="widget-info">
                        <p><%= data['returned'] ? data['returned']: 0%></p>
                        <label class="widget-label">Swab KIT Returned</label>
                    </div>
                </div>
            </div>
        </section>
    <%}%>
</div>

<%- include('../../layouts/footer.ejs') %>
