        <footer class="footer">
            <p class="footer-content">Copyrights © 2020 <span>Genetix.</span> All Rights Reserved</p>
        </footer>
    </div>
    <script src="/assets/js/common.js"></script>
    <script>
        $(document).ready(function () {  
            $("input[type=email]").keyup(function () {  
                $(this).val($(this).val().toLowerCase());  
            });  

            function alphaInput(event) {
                var value = String.fromCharCode(event.which);
                var pattern = new RegExp(/[a-zåäö ]/i);
                return pattern.test(value);
            }

            $('.allowOnlyAlpha').bind('keypress', alphaInput);

            
        });
    </script>
</body>
</html>