<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">

    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script> -->

    <!-- Js -->
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/jquery.nicescroll.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/js/bootstrap-datepicker.js"></script>
    
    <!-- Newly Added -->
    <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <!-- <script
    src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/jsignature@2.1.2/libs/jSignature.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jSignature/2.1.3/flashcanvas.min.js"></script>
     -->
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/jquery.inputmask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/bindings/inputmask.binding.min.js"></script> -->
     <!-- new mask -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    
    <!-- <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script> -->
    <script src="/assets/js/jquery.validate.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


    <script src="/assets/js/jquery.serializejson.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <link id="favicon" rel="icon" type="image/png" sizes="64x64" href="/assets/images/Fav-Logo.png">
    
</head>

<body>
    <%- toasts %>
    <div class="container-fluid dashboard-wrapper">
        <header class="main-header">
            <div class="header-logo">
                <img src="/assets/images/Logo.png">
            </div>
            <div class="header-menu-block">
                <ul class="menu-list-block">
                    <li class="list-item <%= currentRoute === '/home' ? 'active' : '' %>">
                        <a href="/home" class="nav-link ">
                            <img class="icon-N" src="/assets/images/menu-icons/dashboard-N.png">
                            <img class="icon-A" src="/assets/images/menu-icons/dashboard-A.png">
                            <label>Dashboard</label>
                        </a>
                    </li>
                    <% if(session.role == 'contractor' || session.role == 'physician' || (session.role == 'employee' && session.permission != 'canview')){%>
                        <li class="list-item <%= '/custom/form/list' == currentRoute || currentRoute.indexOf('/patient/add/') > -1 ? 'active' : '' %>">
                            <a href="/custom/form/list" class="nav-link ">
                                <img class="icon-N" src="/assets/images/menu-icons/mform-N.png">
                                <img class="icon-A" src="/assets/images/menu-icons/mform-A.png">
                                <label>New Applicant</label>
                            </a>
                        </li>
                    <%}%>
                    <% if(session.role == 'admin'){%>
                        <li class="list-item <%= currentRoute.indexOf('contractor') == 1 ? 'active' : '' %>">
                            <a href="/contractor/list/1" class="nav-link ">
                                <img class="icon-N" src="/assets/images/menu-icons/contractor-N.png">
                                <img class="icon-A" src="/assets/images/menu-icons/contractor-A.png">
                                <label>Manage Contractors</label>
                            </a>
                        </li>
                        <li class="list-item <%= currentRoute.indexOf('employee') == 1 ? 'active' : '' %>">
                            <a href="/employee/list/1" class="nav-link ">
                                <img class="icon-N" src="/assets/images/menu-icons/employee-N.png">
                                <img class="icon-A" src="/assets/images/menu-icons/employee-A.png">
                                <label>Manage Employees</label>
                            </a>
                        </li>
                        <li class="list-item <%= (currentRoute.indexOf('/reports') > -1 ? 'active' : '') %>">
                            <a href="/reports" class="nav-link ">
                                <img class="icon-N" src="/assets/images/menu-icons/reports-N.png">
                                <img class="icon-A" src="/assets/images/menu-icons/reports-A.png">
                                <label>Manage Reports</label>
                            </a>
                        </li>
                        <% if(session.role == 'contractor'){%>
                            <li class="list-item <%= currentRoute.indexOf('form') == 1 ? 'active' : '' %>">
                                <a href="/form/list" class="nav-link ">
                                    <img class="icon-N" src="/assets/images/menu-icons/mform-N.png">
                                    <img class="icon-A" src="/assets/images/menu-icons/mform-A.png">
                                    <label>Manage Forms</label>
                                </a>
                            </li>
                        <%}%>
                        <li class="list-item <%= currentRoute.indexOf('lab') == 1 ? 'active' : '' %>">
                            <a href="/lab/list/1" class="nav-link ">
                                <img class="icon-N" src="/assets/images/menu-icons/lab-N.png">
                                <img class="icon-A" src="/assets/images/menu-icons/lab-A.png">
                                <label>Manage Labs</label>
                            </a>
                        </li>
                        <li class="list-item <%= currentRoute.indexOf('physician') == 1 ? 'active' : '' %>">
                            <a href="/physician/list/1" class="nav-link ">
                                <img class="icon-N" src="/assets/images/menu-icons/physician-N.png">
                                <img class="icon-A" src="/assets/images/menu-icons/physician-A.png">
                                <label>Manage Physicians</label>
                            </a>
                        </li>
                        <li class="list-item <%= currentRoute.indexOf('groupPractice') == 1 ? 'active' : '' %>">
                            <a href="/groupPractice/list/1" class="nav-link ">
                                <img class="icon-N" src="/assets/images/menu-icons/physician-N.png">
                                <img class="icon-A" src="/assets/images/menu-icons/physician-A.png">
                                <label>Manage Group Practice</label>
                            </a>
                        </li>
                    <%}%>
                    <li class="list-item <%= (currentRoute.indexOf('/patient/') > -1 && currentRoute.indexOf('/patient/add/') <= -1) ? 'active' : '' %>">
                        <a href="/patient/list/1" class="nav-link ">
                            <img class="icon-N" src="/assets/images/menu-icons/patient-N.png">
                            <img class="icon-A" src="/assets/images/menu-icons/patient-A.png">
                            <% if(session.role == 'admin' || session.role == 'employee'){%>
                                <label>Manage Submission</label>
                            <%} else {%>
                                <label>Manage Patients</label>
                            <%}%>
                        </a>
                    </li>
                    <% if(session.role == 'admin' || session.role == 'employee'){%>
                        <li class="list-item <%= currentRoute.indexOf('swapkit') == 1 ? 'active' : '' %>" >
                            <a href="/swapkit/list/1" class="nav-link ">
                                <img class="icon-N" src="/assets/images/menu-icons/swab-N.png">
                                <img class="icon-A" src="/assets/images/menu-icons/swab-A.png">
                                <label>Swab Kits</label>
                            </a>
                        </li>
                    <%}%>
                </ul>
            </div>


            <div class="header-profile-block">
                <div class="profile-img-holder">
                    <img id="header_img" src="<%=session.image_url ? '/'+session.image_url: '/assets/images/profile-1.png'%>">
                </div>
                <div class="profile-info-block">
                    <a href="#headerAcctDrop" class="profile-name dropdown-toggle nav-link collapsed"
                        data-toggle="collapse" title="Johnny Depp"><%-session.name%></a>
                    <ul class="list-unstyled list-drop collapse" id="headerAcctDrop">
                        <li>
                            <a href="/profile" class=""><img src="/assets/images/icons/profile-edit.png">Edit Profile</a>
                        </li>
                        <li><a href="/logout" class=""><img src="/assets/images/icons/profile-logout.png"> Logout</a></li>
                    </ul>
                    <p class="profile-role"><%-session.role%></p>
                </div>
                <div class="notification-block">
                    <img src="/assets/images/icons/notification-bell.png">
                </div>
            </div>

        </header>